<ngx-loading [show]="loading"></ngx-loading>
<app-navigator></app-navigator>

<div class="container-fluid bg-light border-bottom py-1">
  <div class="row">
    <div class="col-12">
      <small> You are here : <a [routerLink]="[ '/company' ]">Company</a> </small>
    </div>
  </div>
</div>


<div class="container-fluid  bg-white pb-3">
  <div class="container-header">
    <div class="row">
      <div class="col-6 ">
        <div class="module-name">
          <h5>COMPANY</h5>
        </div>
      </div>
      <div class="col-6 text-right">
        <span [hidden]="!loadingSelected">Loading Attribute...</span>
        <button type="button" class="btn btn-classic  btn-sm" (click)="open(newCompany)"><i class="fas fa-plus"></i>
          New Company</button>
      </div>
    </div>
  </div>


  <div class=" bg-light  border border-top-brown rounded p-1">

    <div class="row mb-3">
      <div class="col-8">
        <button type="button" class="btn btn-classic  btn-sm" (click)="open(newCompany)"><i class="fas fa-plus"></i>
          New Company</button>

        <span class="dropdown">
          <button class="btn btn-classic btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cog"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="open(markUpdate)"> Mart to
              Delete</a>
          </div>
        </span>

        <label class="pl-2">Total Count : {{total}}</label>
      </div>

      <div class="col-4 text-right">
        <input type="text" class="form-control-sm form-radius" placeholder="Search">
      </div>

    </div>

    <div class="scroll-x max-height">

      <table class="table table-hover border bg-white border-top border-bottom pointer">
        <thead class="thead-light">
          <tr>
            <th>No</th>
            <th class="text-center"></th>
            <th scope="col">Company</th>
            <th scope="col">Industry</th>
            <th scope="col">Website</th>
            <th scope="col">Phone</th>
            <th scope="col">fax</th>
            <th scope="col">Email</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of items; let i = index" (click)="fn_check(x);">
            <td><a [routerLink]="[ '/company/',x.id]"> {{i+1}} </a></td>
            <td width="50"> <span class="text-primary ">
                <i class=" {{ x.check ? 'fas fa-check-square' : 'far fa-square' }}"></i> </span>
            </td>

            <td> <a [routerLink]="[ '/company/',x.id]"> <b> {{x.name}} </b> </a></td>
            <td>{{x.website}}</td>
            <td>{{x.industry}}</td>
            <td>{{x.phone}}</td>
            <td>{{x.fax}}</td>
            <td>{{x.email}}</td>

          </tr>
        </tbody>
      </table>

    </div>


  </div>

</div>


<ng-template #newCompany let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">New Company</strong>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-light">

    <form (ngSubmit)="onSubmit()" #myForm="ngForm">
      <div class="row">

        <div class="col-6">
          <div class="mb-3">
            <strong> Company Information</strong>
          </div>

          <div class="form-group row no-gutters">
            <label for="h2" class="col-sm-4 col-form-label"> Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control border" [(ngModel)]="model.name" name="name" #name="ngModel"
                id="h1" required>
              <small [hidden]="name.valid || name.pristine" class="text-danger"> Company name is
                required</small>
            </div>
          </div>

          <div class="form-group row no-gutters">
            <label for="h23" class="col-sm-4 col-form-label"> Website </label>
            <div class="col-sm-8">
              <input type="text" class="form-control border" [(ngModel)]="model.website" name="website" id="h23">
            </div>
          </div>


          <div class="form-group row no-gutters">
            <label for="h3" class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
              <input type="email" class="form-control border" [(ngModel)]="model.email" name="email" id="h3">
            </div>
          </div>

          <div class="form-group row no-gutters">
            <label for="h4" class="col-sm-4 col-form-label">Phone</label>
            <div class="col-sm-8">
              <input type="text" class="form-control border" [(ngModel)]="model.phone" name="phone" id="h4">
            </div>
          </div>

          <div class="form-group row no-gutters">
            <label for="h4" class="col-sm-4 col-form-label">Fax</label>
            <div class="col-sm-8">
              <input type="text" class="form-control border" [(ngModel)]="model.fax" name="fax" id="h4">
            </div>
          </div>

          <div class="form-group row no-gutters">
            <label for="h24" class="col-sm-4 col-form-label">Fax</label>
            <div class="col-sm-8">
              <select class="form-control border" id="h24" [(ngModel)]="model.id_industry" name="id_industry">
                <option value="0"> - Select - </option>
                <option [ngValue]="x.id" *ngFor="let x of selected.industry">{{x.name}}</option>

              </select>
            </div>
          </div>






        </div>


        <div class="col-6">
          <div class="mb-3">
            <strong> Address Information</strong>
          </div>
          <div class="form-group row no-gutters">
            <label for="h11" class="col-sm-4 col-form-label">Street</label>
            <div class="col-sm-8">
              <input type="text" class="form-control border" [(ngModel)]="model.address_street" name="address_street"
                maxlength="250" id="h11">
            </div>
          </div>


          <div class="form-group row no-gutters">
            <label for="h12" class="col-sm-4 col-form-label">City</label>
            <div class="col-sm-8">
              <input type="text" class="form-control border" [(ngModel)]="model.address_city" name="address_city"
                maxlength="250" id="h12">
            </div>
          </div>

          <div class="form-group row no-gutters">
            <label for="h13" class="col-sm-4 col-form-label">State</label>
            <div class="col-sm-8">
              <input type="text" class="form-control border" [(ngModel)]="model.address_state" name="address_state"
                maxlength="250" id="h13">
            </div>
          </div>


          <div class="form-group row no-gutters">
            <label for="h14" class="col-sm-4 col-form-label">Postal Code</label>
            <div class="col-sm-8">
              <input type="text" class="form-control border" [(ngModel)]="model.address_code" name="address_code"
                maxlength="250" id="h14">
            </div>
          </div>


        </div>


      </div>
    </form>



    <div class="border p-1 bg-gray">
      debuging only
      <code>{{diagnostic}}</code>
    </div>


  </div>
  <div class="modal-footer">
    <span [hidden]="!submit">Saving, Please wait...</span>
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
    <button type="submit" class="btn btn-outline-primary" (click)="onSubmit('next');"
      [disabled]="!myForm.form.valid">Save &
      Next</button>
    <button type="submit" class="btn btn-primary" (click)="onSubmit();" [disabled]="!myForm.form.valid">Save &
      Go To Detail</button>
  </div>

</ng-template>




<ng-template #markUpdate let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">Update Status


    </strong>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-white">
    <div [hidden]="!itemsSelected.length">


      <div class="form-group row">
        <div class="col-3">
          <div class="text-danger">
            Delete selected lead ?
          </div>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-classic btn-sm" (click)="fn_delete();">Yes</button>
          <button type="button" class="btn btn-classic btn-sm" (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
      </div>




      <table class="table border table-hover  table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>ID</th>
            <th>Company</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let x of itemsSelected; let i = index">
            <td>{{ i + 1}}</td>
            <td>{{x.id}}</td>
            <td>{{x.name}}</td>

            <th> <a href="javascript:;" (click)="fn_removeItemSelected(x)"><i class="fas fa-times"></i></a> </th>
          </tr>
        </tbody>


      </table>
    </div>
    <div [hidden]="itemsSelected.length">
      <div class="text-center">
        Empty data.
      </div>
    </div>

  </div>



</ng-template>