<ngx-loading [show]="loading"></ngx-loading>

<app-navigator></app-navigator>
<div class="container-fluid bg-light border-bottom py-1">
  <div class="row">
    <div class="col-6">
      <small> You are here :
        <a [routerLink]="[ '/priceList' ]">Price List</a> /
        <a [routerLink]="[ '/priceList/', id_pricelist ]">{{pricelist}} </a> /
        <a href="javascript:;">{{catalog}} </a>

      </small>
    </div>
  </div>
</div>



<div class="container-fluid">

  <div class="container-header">
    <div class="row">

      <div class="col-6">
        <h5>PRICE LIST</h5>
      </div>
      <div class="col-6 text-right">

        <button type="button" [hidden]="editable" class="btn btn-classic  btn-sm" (click)="fn_edit();"> <i
            class="fas fa-edit"></i> Edit Price</button>

        <button type="button" [hidden]="editable" class="btn btn-outline-secondary btn-sm"
          [routerLink]="[ '/priceList' ]" title="back"> <i class="fas fa-times"></i> </button>

        <button type="button" [hidden]="!editable" class="btn btn-outline-secondary btn-sm" (click)="fn_edit();"> Done
        </button>
      </div>
    </div>
  </div>

  <h5 class="my-3">Information</h5>
  <div class="row mb-3">

    <div class="col-12">
      <table class="table table-list">
        <tbody>

          <tr>
            <td width="40%"><label>Price List</label></td>
            <td width="30%"> <label>Currency</label> </td>
            <td width="30%"> <label>Status</label></td>

          </tr>

          <tr>
            <td>

              <span [hidden]="editable"> <strong> Cargo Price List 2019 / Tools </strong> </span>
              <span [hidden]="!editable"> <input type="text" class="border"
                  value="Cargo Price List 2019  / Tools"></span>


            </td>
            <td><strong> IDR </strong></td>
            <td><strong> Active </strong></td>
          </tr>


        </tbody>
      </table>
    </div>

  </div>



  <strong>Price List Product</strong>
  <div class=" bg-light  border border-top-brown rounded p-1 my-3">
     

    <div class="scroll-x max-height">

      <table class="table table-hover border bg-white border-top border-bottom pointer table-striped">
        <thead class="thead-light">
          <tr>
            <th width="50">No</th>
            <th scope="col">Product </th>

            <th scope="col" class="text-right">Price (IDR)</th>
            <th scope="col">Created Date</th>

            <th width="50"></th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of items;let i = index;">
            <td> {{i+1}} </td>
            <td>
              <span [hidden]="editable"> {{x.product}}
                <div class="price-desc">
                  {{x.description}}
                </div>
              </span>

              <span [hidden]="!editable">

                <select class="form-control border" [(ngModel)]="x.id_product" required (change)="update(x)">
                  <option *ngFor="let x of selectProduct" value="{{x.id}}">{{x.name}}</option>
                </select>

                <textarea class="form-control price-desc border mt-1" style="min-height: 100px;"
                  [(ngModel)]="x.description" (change)="update(x)"> </textarea>

              </span>

            </td>

            <td class="text-right" style="width: 220px;">
              <span [hidden]="editable"> {{x.price | number:'' }},- </span>
              <span [hidden]="!editable"> <input type="number" class="text-right border" [(ngModel)]="x.price"
                  style="width: 100%;" value="{{x.price}}" (change)="update(x)"></span>
            </td>

            <td width="100"> <small>20 Jan 2018 </small> </td>
            <td> <span [hidden]="!editable"> <a href="javascript:;" (click)="fnDelete(x);"> <i
                    class="far fa-trash-alt"></i> </a> </span> </td>
          </tr>


          <tr>
            <td></td>
            <td>
              <select class="form-control border" [(ngModel)]="addPricelist.id_product" required>
                <option *ngFor="let x of selectProduct" value="{{x.id}}">{{x.name}}</option>
              </select>
              <a href="javascript:;" (click)="hideDesc=false;" [hidden]="!hideDesc">Add Description</a>
              <textarea [hidden]="hideDesc" class="form-control price-desc border mt-1" style="min-height: 100px;"
                [(ngModel)]="addPricelist.description"> </textarea>
            </td>
            <td class="text-right"> <input type="number" class="text-right border" style="width: 100%;" value=""
                [(ngModel)]="addPricelist.price" required> </td>
            <td></td>
            <td></td>
          </tr>

        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" class="text-right">
              {{note}}
              <button type="button" class="btn btn-classic  btn-sm" (click)="insertProductPrice();"><i
                  class="fas fa-plus"></i> Add Product</button></td>

          </tr>
        </tfoot>
      </table>



    </div>


  </div>


</div>

<br [hidden]="!editable">

<div class="footer-menu bg-light shadow border-top" [hidden]="!editable">
  <div class="container">
    <div class="row">
      <div class="col-12 p-1 text-right">

        <a class="btn btn-outline-secondary m-1" (click)="fn_edit();">Done</a>

      </div>
    </div>
  </div>
</div>