<ngx-loading [show]="loading"></ngx-loading>

<app-navigator></app-navigator>

<div class="container-fluid bg-light border-bottom py-1">
  <div class="row">
    <div class="col-12">
      <small> You are here : <a [routerLink]="[ '/lead' ]">Leads</a> </small>
    </div>
  </div>
</div>

<div class="container-fluid  bg-white pb-3">
  <div class="container-header">
    <div class="row">
      <div class="col-6 ">
        <div class="module-name">
          <h5>LEADS</h5>
        </div>
      </div>
      <div class="col-6 text-right">
        <span [hidden]="!loadingSelected">Loading Attribute...</span>

        <a [routerLink]="[ '/lead/converted' ]" class="mr-3 btn btn-sm"> <i class="fas fa-archive"></i> Leads Conversion</a>

        <button type="button" class="btn btn-classic btn-sm  mr-1" (click)="open(newLead)"> <i class="fas fa-plus"></i>
          New Lead </button>
      </div>
    </div>

  </div>

  <div class=" bg-light  border border-top-brown rounded p-1">

    <div class="row mb-3 ">
      <div class="col-8">

        <select class="border form-control-sm  mr-1" [(ngModel)]="leadStatus">
          <option value="0">Lead Status : All</option>
          <option [ngValue]="x.id" *ngFor="let x of selected.status">{{x.name}}</option>
        </select>


        <span class="dropdown">
          <button class="btn btn-classic btn-sm dropdown-toggle mx-1" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cog"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="open(markUpdate); selectModal = '1';"> Update Lead Status</a>
            <a class="dropdown-item" (click)="open(markUpdate); selectModal = '2';"> Delete</a> 
          </div>
        </span>

        <button type="button" class="btn btn-classic  btn-sm mx-1" (click)="httpGet();"> <i class="fas fa-sync-alt"></i>
          Refresh</button> 
          <span>
             <small>Total Lead : {{total}} </small> 
          </span>
 
      </div>
      <div class="col-4 text-right">
        <input type="text" class="form-control-sm form-radius" placeholder="Search">
      </div>
    </div>

    <div class="scroll-x scroll-style-2 max-height">

      <table class="table table-hover border bg-white border-top border-bottom pointer">
        <thead class="thead-light">
          <tr>

            <th class="text-center">No</th>
            <th></th>

            <th width="50" scope="col">Status</th>
            <th scope="col">Lead Name</th>
            <th scope="col">Company</th>
            <th scope="col">Website</th>
            <th scope="col">Industry</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Mobile</th>


          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of items; let i = index">

            <td> <a [routerLink]="[ '/lead/',x.id]"> {{i+1}} </a> </td>
            <td width="50" (click)="fn_check(x);"> <span class="text-primary ">
                <i class=" {{ x.check ? 'fas fa-check-square' : 'far fa-square' }}"></i> </span>
            </td>
            <td (click)="fn_check(x);" class="text-center"> <span title="{{x.lead_status}}"
                class="text-{{x.lead_status_color}}">
                <i class="fas fa-square"></i> </span> </td>
            <td> <a [routerLink]="[ '/lead/',x.id]"><b> {{x.name}}</b> </a></td>
            <td (click)="fn_check(x);">{{x.company}}</td>
            <td (click)="fn_check(x);">{{x.website}}</td>
            <td (click)="fn_check(x);">{{x.industry}}</td>
            <td (click)="fn_check(x);">{{x.email}}</td>
            <td (click)="fn_check(x);">{{x.phone}}</td>
            <td (click)="fn_check(x);">{{x.mobile}}</td>


          </tr>



        </tbody>
      </table>

    </div>


  </div>

</div>


<ng-template #newLead let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">New Lead</strong>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form (ngSubmit)="onSubmit()" #myForm="ngForm">
      <div class="row">

        <div class="col-12 bg-light mb-2">
          <strong>Contact</strong>
        </div>

        <div class="col-6">


          <div class="form-group row no-gutters">
            <label for="h1" class="col-4 col-form-label"> First Name* </label>
            <div class="col-2">
              <select class="form-control border" [(ngModel)]="model.id_title" name="id_title">
                <option [ngValue]="x.id" *ngFor="let x of selected.title">{{x.name}}</option>
              </select>
            </div>
            <div class="col-6">
              <input type="text" class="form-control border" [(ngModel)]="model.first_name" name="first_name"
                #first_name="ngModel" id="h1" required>
              <small [hidden]="first_name.valid || first_name.pristine" class="text-danger"> First name is
                required</small>
            </div>

          </div>
          <div class="form-group row no-gutters">
            <label for="h2" class="col-sm-4 col-form-label"> Last Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control border" [(ngModel)]="model.last_name" name="last_name" id="h2">
            </div>
          </div>

          <div class="form-group row no-gutters">
            <label for="h3" class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
              <input type="email" class="form-control border" [(ngModel)]="model.email" name="email" id="h3">
            </div>
          </div>

          <div class="form-group row no-gutters">
            <label for="h31" class="col-sm-4 col-form-label">Mobile</label>
            <div class="col-sm-8">
              <input type="text" class="form-control border" [(ngModel)]="model.mobile" name="mobile" id="h31">
            </div>
          </div>


          <div class="form-group row no-gutters">
            <label for="h31" class="col-sm-4 col-form-label">Sex</label>
            <div class="col-sm-8"> 
              <select class="form-control border"   [(ngModel)]="model.sex"   id="sex" name="sex" >
                <option value="1">Male</option>
                <option value="2">Female</option>
              </select> 
            </div>
          </div>
 
          <div class="form-group row no-gutters">
            <label for="h31" class="col-sm-4 col-form-label">Birthdate</label>
            <div class="col-sm-8">
              <input type="text" class="form-control border" id="birthdate"  [(ngModel)]="model.birthdate"  (click)="bd.toggle()"  ngbDatepicker #bd="ngbDatepicker"  name="birthdate"  [startDate]="{year: 1980, month: 1}" >
            </div>
          </div>

        </div>

        <div class="col-6">
          <div class="form-group row no-gutters">
            <label for="h5" class="col-sm-4 col-form-label">Lead Status </label>
            <div class="col-sm-8">
              <select class="form-control border" style="width: auto;" [(ngModel)]="model.id_lead_status"
                name="id_lead_status" id="h5">
                <option [ngValue]="x.id" *ngFor="let x of selected.status">{{x.name}}</option>
              </select>
            </div>
          </div>


          <div class="form-group row no-gutters">
            <label for="h5a" class="col-sm-4 col-form-label">Position </label>
            <div class="col-sm-8">
              <input type="text" class="form-control border" [(ngModel)]="model.position" name="position" id="h5a">
            </div>
          </div>


          <div class="form-group row no-gutters">
            <label for="h5b" class="col-sm-4 col-form-label">Department </label>
            <div class="col-sm-8">
              <input type="text" class="form-control border" [(ngModel)]="model.department" name="department" id="h5b">
            </div>
          </div>


          <div class="form-group row no-gutters">
            <label for="h5" class="col-sm-4 col-form-label">Lead Source </label>
            <div class="col-sm-8">
              <select class="form-control border" [(ngModel)]="model.id_lead_source" name="id_lead_source" id="h5">
                <option [ngValue]="x.id" *ngFor="let x of selected.lead_source">{{x.name}}</option>
              </select>
            </div>
          </div>


          <div class="form-group row no-gutters d-none">
            <label for="h6" class="col-sm-4 col-form-label"> Lead owner </label>
            <div class="col-sm-8">
              <select class="form-control border" [(ngModel)]="model.id_user" name="id_user" id="h6">
                <option [ngValue]="x.id" *ngFor="let x of selected.id_user">{{x.name}}</option>
              </select>
            </div>
          </div>

  
        </div>

      </div>

      <div class="row">
        <div class="col-12 bg-light mb-2">
          <strong>Company</strong>
        </div>

        <div class="col-6">
          <span [hidden]="!dbCompany">
            <div class="form-group row no-gutters">
              <label for="h20" class="col-sm-4 col-form-label">Company*</label>
              <div class="col-sm-8">
                <select class="form-control border" id="h14" [(ngModel)]="model.id_company" name="id_company" id="h20"
                  required>
                  <option [ngValue]="x.id" *ngFor="let x of selectedCompany">{{x.name}}</option>
                </select>
                <div>
                  <small><a href="javascript:;" (click)="dbCompany=false; model.company ='';   ">Back</a></small>
                </div>
              </div>
            </div>


          </span>

          <span [hidden]="dbCompany">
            <div class="form-group row no-gutters">
              <label for="h12" class="col-sm-4 col-form-label">Company*</label>
              <div class="col-sm-8">
                <input type="text" class="form-control border" [(ngModel)]="model.company" name="company"
                  #company="ngModel" id="h12" required>
                <small [hidden]="company.valid || company.pristine" class="text-danger"> Company is required</small>
                <div>

                  <small><a href="javascript:;" (click)="dbCompany=true; model.company ='null';httpCompany(); ">Select
                      from database</a></small>
                </div>
              </div>
            </div>
          </span>

          <div class="form-group row no-gutters">
            <label for="h14" class="col-sm-4 col-form-label">Company Class</label>
            <div class="col-sm-8">
              <select class="form-control form-modal" [(ngModel)]="model.id_company_class"
                [ngModelOptions]="{standalone: true}">
                <option value="{{x.id}}" *ngFor="let x of selected.company_class"> {{x.name}} </option>
              </select>
            </div>
          </div>

          <div class="form-group row no-gutters">
            <label for="h15" class="col-sm-4 col-form-label">Website</label>
            <div class="col-sm-8" id="15">
              <input type="text" class="form-control border" [(ngModel)]="model.website" name="website" id="h15">
            </div>
          </div>


          <div class="form-group row no-gutters">
            <label for="h4" class="col-sm-4 col-form-label">Phone</label>
            <div class="col-sm-8">
              <input type="text" class="form-control border" [(ngModel)]="model.phone" name="phone" id="h4">
            </div>
          </div>


          <div class="form-group row no-gutters">
            <label for="h4" class="col-sm-4 col-form-label">Fax</label>
            <div class="col-sm-8">
              <input type="text" class="form-control border" [(ngModel)]="model.fax" name="fax" id="h4">
            </div>
          </div>
 
          <div class="form-group row no-gutters">
            <label for="h14" class="col-sm-4 col-form-label">Industry</label>
            <div class="col-sm-8">
              <select class="form-control border" id="h14" [(ngModel)]="model.id_industry" name="id_industry">
                <option value="0"> - Select - </option>
                <option [ngValue]="x.id" *ngFor="let x of selected.industry">{{x.name}}</option>

              </select>
            </div>
          </div>





         

        </div>

        <div class="col-6"> 

          <div class="form-group row no-gutters">
            <label for="h21" class="col-sm-4 col-form-label">Address</label>
            <div class="col-sm-8 mb-1">
              <textarea class="form-control border" [(ngModel)]="model.address_street" placeholder="Street"
                name="address_street" id="h21a"> </textarea>
            </div>

            <div class="col-sm-8 offset-4 mb-1">
              
              <input type="text" class="form-control border" maxlength="250" [(ngModel)]="model.address_city"
                placeholder="City" name="address_city" id="h21b">
            </div>

            <div class="col-sm-8 offset-4 mb-1">
              <input type="text" class="form-control border" maxlength="250" [(ngModel)]="model.address_state"
                placeholder="State" name="address_state" id="h21c">
            </div>

            <div class="col-sm-8 offset-4 mb-1">
              <input type="text" class="form-control border" maxlength="6" [(ngModel)]="model.address_code"
                placeholder="Postal Code" name="address_code" id="h21d">
            </div>

            <div class="col-sm-8 offset-4 mb-1">
              <input type="text" class="form-control border" maxlength="250" [(ngModel)]="model.address_country"
                placeholder="Country" name="address_country" id="h21e">
            </div>
          </div>



        </div>

      </div>


    </form>



  </div>
  <div class="modal-footer">

    <span [hidden]="!submit">Saving, Please wait...</span>
    <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')">Cancel</button>
    <button type="submit" class="btn btn-outline-primary" (click)="onSubmit('next');"
      [disabled]="!myForm.form.valid">Save &
      Next</button>
    <button type="submit" class="btn btn-primary" (click)="onSubmit();" [disabled]="!myForm.form.valid">Save &
      Go To Detail</button>
  </div>

</ng-template>


<ng-template #markUpdate let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">Update Status


    </strong>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-white">
    <div [hidden]="!itemsSelected.length">

      <div [ngSwitch]="selectModal">
        <!-- the same view can be shown in more than one case -->
        <span *ngSwitchCase="1">
          <div class="form-group row">
            <label for="h50" class="col-2 col-form-label">Lead Status </label>
            <div class="col-3">
              <select class="form-control border" [(ngModel)]="id_lead_status" id="h50">
                <option [ngValue]="x.id" *ngFor="let x of selected.status">{{x.name}}</option>
              </select>
            </div>
            <div class="col-4">
              <button type="button" class="btn btn-classic btn-sm mx-1" (click)="fn_updateLeadStatus();">Yes</button>
              <button type="button" class="btn btn-classic btn-sm"
                (click)="modal.dismiss('Cross click')">Cancel</button>
            </div>
          </div>

        </span>

        <span *ngSwitchCase="2">
          <div class="form-group row">
            <div class="col-3">
              <div class="text-danger">
                Delete selected lead ?
              </div>
            </div>
            <div class="col-4">
              <button type="button" class="btn btn-classic btn-sm" (click)="fn_delete();">Yes</button>
              <button type="button" class="btn btn-classic btn-sm"
                (click)="modal.dismiss('Cross click')">Cancel</button>
            </div>
          </div>
        </span>
        <span *ngSwitchDefault>.3.</span>
      </div>



      <table class="table border table-hover  table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>ID</th>
            <th>Name</th>
            <th>Company</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let x of itemsSelected; let i = index">
            <td>{{ i + 1}}</td>
            <td>{{x.id}}</td>
            <td>{{x.name}}</td>
            <td>{{x.company}}</td>

            <th> <a href="javascript:;" (click)="fn_removeItemSelected(x)"><i class="fas fa-times"></i></a> </th>
          </tr>
        </tbody>


      </table>
    </div>
    <div [hidden]="itemsSelected.length">
      <div class="text-center">
        Empty data.
      </div>
    </div>

  </div>



</ng-template>