<ngx-loading [show]="loading"></ngx-loading>

<app-navigator></app-navigator>

<div class="container-fluid bg-light border-bottom py-1">
    <div class="row">
        <div class="col-12">
            <small> You are here : <a [routerLink]="[ '/User' ]">Users</a> </small>
        </div>
    </div>
</div>



<div class="container mt-5">

    <div class="row">
        <div class="col-12 border shadow-sm rounded">

            <form (ngSubmit)="fn_update()" #modalForm="ngForm">

                <div class="modal-header">
                    <h4 id="modal-basic-title">User Detail </h4>
                    <button type="button" class="close" aria-label="Close" [routerLink]="[ '/user' ]">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-white">

                    <div class="row">
                        <div class="col-12 bg-light">
                            <h5>Information</h5>
                        </div>
                        <div class="col-6">
                            <table class="table table-borderless">
                                <tr>
                                    <td>ID Parent</td>
                                    <td>
                                        <select class="form-control form-modal" [(ngModel)]="model.id_parent"
                                            id="id_parent" name="id_parent" required
                                            [ngModelOptions]="{standalone: true}">
                                            <option value="{{x.id}}" *ngFor="let x of parent">{{x.name}}
                                            </option>
                                        </select>

                                    </td>
                                </tr>

                                <tr>
                                    <td width="40%">First Name</td>
                                    <td>
                                        <input type="text" class="form-control form-modal"
                                            [(ngModel)]="model.first_name" id="first_name" name="first_name"
                                            #first_name="ngModel" required>
                                        <div [hidden]="first_name.valid || first_name.pristine"
                                            class="alert alert-danger">First Name is required</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Last Name</td>
                                    <td>
                                        <input type="text" class="form-control form-modal" [(ngModel)]="model.last_name"
                                            id="last_name" name="last_name" #last_name="ngModel">
                                        <div [hidden]="last_name.valid || last_name.pristine"
                                            class="alert alert-danger">Last Name is required</div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Email</td>
                                    <td>
                                        <input type="text" class="form-control form-modal" [(ngModel)]="model.email"
                                            id="email" name="email" #email="ngModel" required>
                                        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                                            Email is required</div>

                                    </td>
                                </tr>

                                <tr>
                                    <td>Max discount (%)</td>
                                    <td>
                                        <input type="number" class="form-control form-modal w-25"
                                            [(ngModel)]="model.max_discount" id="max_discount" name="max_discount"
                                            required>

                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-6">
                            <table class="table table-borderless">
                                <tr>
                                    <td>User Code</td>
                                    <td>
                                        <input type="text" class="form-control form-modal" [(ngModel)]="model.code"
                                            id="code" name="code" #code="ngModel" required>
                                        <div [hidden]="code.valid || code.pristine" class="alert alert-danger">
                                            Code is required</div>

                                    </td>
                                </tr>

                                <tr>
                                    <td>User Access</td>
                                    <td>
                                        <select class="form-control form-modal" [(ngModel)]="model.id_user_access"
                                            id="id_user_access" name="id_user_access" required
                                            [ngModelOptions]="{standalone: true}">
                                            <option value="{{x.id}}" *ngFor="let x of user_access">{{x.name}}
                                            </option>
                                        </select>

                                    </td>
                                </tr>

                                <tr>
                                    <td>User Group</td>
                                    <td>
                                        <select class="form-control form-modal" [(ngModel)]="model.id_user_group"
                                            id="id_user_group" name="id_user_group" required
                                            [ngModelOptions]="{standalone: true}">
                                            <option value="{{x.id}}" *ngFor="let x of user_group">{{x.name}}
                                            </option>
                                        </select>

                                    </td>
                                </tr>

                                <tr width="40%">
                                    <td>Status </td>
                                    <td>
                                        <select class="form-control form-modal" [(ngModel)]="model.status" id="status"
                                            name="id_user_access" required>
                                            <option value="0">False</option>
                                            <option value="1">True</option>
                                        </select>

                                    </td>
                                </tr>

                                <tr>
                                    <td> Password </td>
                                    <td> <input type="password" class="form-control" [(ngModel)]="model.pass" id="pass"
                                            name="pass"> </td>
                                </tr>
                            </table>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12 bg-light">
                            <h5>Target per year</h5>
                        </div>

                        <div class="col-12">
                            <table class="table my-2 border" [hidden]="user_target.length == 0">
                                <thead>
                                    <tr>
                                        <th> Years </th>
                                        <th> Amount </th>
                                        <th> Leads (Qty) </th>
                                        <th> Opportunities (Qty) </th>
                                        <th> Quotes (Qty) </th>
                                        <th width="10"> <i class="far fa-trash-alt"></i> </th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let x of user_target">
                                        <td> <input type="number" class="form-control form-control-sm w-75"
                                                [(ngModel)]="x.year" [ngModelOptions]="{standalone: true}"> </td>
                                        <td> <input type="text" class="form-control form-control-sm w-100"
                                                [(ngModel)]="x.amount" currencyMask
                                                [ngModelOptions]="{standalone: true}"> </td>

                                        <td> <input type="number" class="form-control form-control-sm  w-75 text-right"
                                                [(ngModel)]="x.leads" [ngModelOptions]="{standalone: true}"> </td>
                                        <td> <input type="number" class="form-control form-control-sm  w-75 text-right"
                                                [(ngModel)]="x.opportunities" [ngModelOptions]="{standalone: true}">
                                        </td>
                                        <td> <input type="number" class="form-control form-control-sm  w-75 text-right"
                                                [(ngModel)]="x.quotes" [ngModelOptions]="{standalone: true}"> </td>
                                        <td>
                                            <a href="javascript:;" (click)="fn_delete(x.id);"><i class="far fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                </tbody>


                            </table>

                            <div class="mt-5">

                                <h5>Create new target</h5>
                                <table class="table border bg-light">

                                    <tr>
                                        <th>Year</th>
                                        <th>Amount</th>
                                        <th>Leads</th>
                                        <th>Opportunities</th>
                                        <th>Quotes</th>
                                    </tr>
                                    <tr>

                                        <td> <input type="number" maxlength="4" class="form-control form-control-sm"
                                                [(ngModel)]="newTargetAmount.year"
                                                [ngModelOptions]="{standalone: true}">
                                        </td>


                                        <td> <input type="text" class="form-control form-control-sm" currencyMask
                                                [(ngModel)]="newTargetAmount.amount"
                                                [ngModelOptions]="{standalone: true}">
                                        </td>

                                        <td> <input type="text" class="form-control form-control-sm" 
                                                [(ngModel)]="newTargetAmount.leads"
                                                [ngModelOptions]="{standalone: true}">
                                        </td>


                                        <td> <input type="text" class="form-control form-control-sm" 
                                                [(ngModel)]="newTargetAmount.opportunities"
                                                [ngModelOptions]="{standalone: true}">
                                        </td>


                                        <td> <input type="text" class="form-control form-control-sm" 
                                                [(ngModel)]="newTargetAmount.quotes"
                                                [ngModelOptions]="{standalone: true}">
                                        </td>
 
                                    </tr>
                                </table>

                                <div class="text-right">
                                    <button type="button" class="btn btn-sm btn-primary"
                                    (click)="fn_insertTargetAmount()">
                                    Add Target </button>
                                </div>

                            </div>
                        </div>




                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-outline-dark" [routerLink]="[ '/user' ]">Back</button>

                    <button type="submit" class="btn btn-primary" [disabled]="!modalForm.form.valid">Update</button>
                </div>
            </form>


        </div>
    </div>
</div>