<ngx-loading [show]="loading"></ngx-loading>

<app-navigator></app-navigator>

<div class="container-fluid bg-light border-bottom py-1">
    <div class="row">
        <div class="col-12">
            <small> You are here : <a [routerLink]="[ '/accessData' ]">Access Data Level</a> </small>
        </div>
    </div>

</div>


<div class="container-fluid  ">
    <div class="row">
        <div class="col-3 py-2">
            <div class="module-name">
                <h4>Access Data Level</h4>
            </div>
        </div>
    </div>
</div>


<div class="container  bg-light my-4 border py-2 shadow-sm rounded">
    <div class="row">
        <div class="col-12 text-right mb-3">

            <span [hidden]="!isUpdate">Loading...</span>

            <a href="javascript:;" (click)="isReadonly=false" [hidden]="!isReadonly" class="btn btn-classic mx-1"><i
                    class="fas fa-edit"></i> Editable </a>


            <a href="javascript:;" [hidden]="isReadonly" class="btn btn-classic  mx-1"><i class="far fa-save"></i> Save
            </a>
            <a href="javascript:;" (click)="isReadonly=true" [hidden]="isReadonly" class="btn btn-classic  mx-1"><i
                    class="fas fa-check"></i> Finish </a>

        </div>


        <div class="col-12">
            <table class="table table-hover table-striped border bg-white border-top border-bottom pointer">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center" width="50">No</th>
                        <th>Name</th>
                        <th class="text-center">All Access</th>
                        <th width="50"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of items; let i = index">
                        <td class="text-center">{{i+1}}</td>
                        <td>
                            <div [hidden]="!isReadonly"> {{x.name}} </div>
                            <input type="text" class="form-control form-control-sm border-0" (change)="update(x);"
                                [hidden]="isReadonly" [(ngModel)]="x.name">
                        </td>

                        <td class="text-center">
                            <span [hidden]="!isReadonly">
                                <span [hidden]="!x.all_access"><i class="fas fa-check"></i> </span>
                            </span>
                            <input type="checkbox" value="1" (change)="update(x);" [hidden]="isReadonly"
                                [(ngModel)]="x.all_access">
                        </td>

                      
                        <td>
                            <a href="javascript:;" (click)="fn_delete(x);" [hidden]="isReadonly"> <i
                                    class="far fa-trash-alt"></i> </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12 text-right" [hidden]="isReadonly">

            <input type="text" class="form-control form-control-sm w-25 inline" [(ngModel)]="newName"
                placeholder="Group Name">

            <a href="javascript:;" class="btn btn-classic  mx-1" (click)="insert();"><i class="fas fa-plus"></i> Add
                Access Data  </a>
        </div>

    </div>
</div>