<ngx-loading [show]="loading"></ngx-loading>
<app-navigator></app-navigator>


<div class="container-fluid bg-light border-bottom py-1">
  <div class="row">
    <div class="col-12">
      <small> You are here : <a [routerLink]="[ '/activity' ]">Activity</a> </small>
    </div>
  </div>

</div>

<div class="container-fluid border shadow-sm bg-white">

  <div class="row container-header">

    <div class="col-3">
      <h5>ACTIVITY</h5>
    </div>
    <div class="col-9 text-right"> 
        <button type="button" class="btn btn-classic btn-sm ml-2"><i class="fas fa-plus"></i>
          New Activity</button> 
    </div>
  </div>

  <div class=" bg-light  border border-top-brown rounded p-1 my-3">

    <div class="row my-1">
      <div class="col-12">


        <span class="dropdown">
          <button class="btn btn-classic btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cog"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="modal_updateStatus(markUpdate, 'Closed' , 100  )">Mark Closed</a>
            <a class="dropdown-item" (click)="modal_updateStatus(markUpdate, 'Cancel', 10 )">Mark Cancel</a>
          </div>
        </span>
      </div>
    </div>

    <div class="scroll-x max-height">

      <table class="table table-hover border bg-white border-top border-bottom pointer table-activity">
        <thead class="thead-light">
          <tr>
            <th width="50"></th>
            <th>#</th>

            <th scope="col">Due Date</th>

            <th scope="col">Subject</th>
            <th scope="col">Name</th>
            <th scope="col">Assign to</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of items; let i = index">
            <td (click)="fn_check(x);"> <span class="text-primary ">
                <i class=" {{ x.check ? 'fas fa-check-square' : 'far fa-square' }}"></i> </span>
            </td>
            <td (click)="open(detail,x);">{{i+1}} </td>

            <td (click)="open(detail,x);">{{x.input_date | date:'medium'}}</td>

            <td (click)="open(detail,x);"> <span [innerHTML]="x.activity_type_icon" title="{{x.activity_type}}"></span>
              {{x.subject}}</td>
            <td (click)="open(detail,x);">
              <div> {{x.person.name}}</div>
              <span [innerHTML]="x.related"></span>

            </td>

            <td (click)="open(detail,x);">{{x.user}}</td>

          </tr>



        </tbody>
      </table>

    </div>


  </div>

</div>




<ng-template #detail let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">Activity Detail</strong>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-white">

    <div class="row">
      <div class="col-6">
        <div class="form-group border-bottom">
          <label for="h1">Name</label>
          <input type="text" class="form-control" id="h2" value="{{json.name}}">
        </div>

        <div class="form-group border-bottom">
          <label for="h2">Subject</label>
          <input type="text" class="form-control" id="h2" value="{{json.subject}}">
        </div>

        <div class="form-group border-bottom">
          <label for="h3">Due Date</label>
          <input type="text" class="form-control " id="h3" value="{{json.date}}">
        </div>

        <div class="form-group border-bottom">
          <label for="h4">Related To</label>
          <input type="text" class="form-control" id="h4" value="{{json.related}}">
        </div>

      </div>

      <div class="col-6">
        <div class="form-group border-bottom">
          <label for="h11">Priority</label>
          <div>

            <select class="form-control" id="h12">
              <option>Normal</option>
              <option>High</option>
              <option>High</option>
            </select>
          </div>


        </div>

        <div class="form-group border-bottom">
          <label for="h11">Assign To</label>
          <div>
            <select class="form-control" id="h12">
              <option>Shabrian</option>
            </select>
          </div>

        </div>

        <div class="form-group border-bottom">
          <label for="h11">Created By</label>
          <div> {{json.create_date | date}}, Shaybrina </div>
        </div>

        <div class="form-group border-bottom">
          <label for="h11">ID</label>
          <div>{{json.id}} </div>
        </div>

        <div class="form-group border-bottom">
          <label for="h11">Status</label>
          <div class="custom-control custom-checkbox my-1 mr-sm-2">
            <input type="checkbox" class="custom-control-input" id="customControlInline">
            <label class="custom-control-label" for="customControlInline">Close Activity</label>
          </div>
        </div>
      </div>

      <div class="col-12">

        <div class="form-group">
          <label for="h11">Comments</label>
          <textarea class="form-control border px-1">
[2:43 PM, 7/4/2019] Richard Rinaldo: Judi mah level 1
[2:44 PM, 7/4/2019] Richard Rinaldo: Level iron branch
[2:44 PM, 7/4/2019] Felix R: iya
[3:30 PM, 7/4/2019] Richard Rinaldo: Lu jago regex ga
[3:39 PM, 7/4/2019] Felix R: ga bisa
[3:39 PM, 7/4/2019] Felix R: tinggal pake aja
          </textarea>
        </div>



      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-classic btn-sm" (click)="modal.dismiss('Cross click')">Cancel</button>
    <button type="button" class="btn btn-classic btn-sm" (click)="modal.dismiss('Cross click')">Proccess</button>

  </div>
</ng-template>


<ng-template #markUpdate let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">{{modalTitle}}</strong>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-white">

    <div [hidden]="!itemsSelected.length" class="scroll-x">

      <table class="table border table-hover  table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>SO</th>
            <th>Date</th>
            <th>PO Nbr</th>
            <th>Contact</th>
            <th colspan="2" class="text-center">Amount</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let x of itemsSelected; let i = index">
            <td>{{ i + 1}}</td>
            <td>{{x.so}}</td>
            <td>{{x.date}}</td>
            <td>{{x.po}}</td>
            <td>{{x.contact}}</td>
            <td width="50">IDR</td>
            <td class="text-right">{{x.amount | number:'':'en'}} </td>
            <td>{{x.status}}</td>
            <th> <a href="javascript:;" (click)="fn_removeItemSelected(x)"><i class="fas fa-times"></i></a> </th>
          </tr>
        </tbody>


      </table>
    </div>
    <div [hidden]="itemsSelected.length">
      <div class="text-center">
        Empty data.
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-classic btn-sm" (click)="modal.dismiss('Cross click')">Cancel</button>
    <button type="button" class="btn btn-classic btn-sm" (click)="fn_next();">Proccess</button>

  </div>
</ng-template>