<ngx-loading [show]="loading"></ngx-loading> 

<div class="container-fluid">

  <div class="row no-gutters">
    <div class="col-8">

      <div class="container border shadow-sm bg-white">

        <div class="row ">
          <div class="col-6">
            <small> You are here : <a [routerLink]="[ '/contact' ]">Contact</a> / <a [routerLink]="[ '/contact/',id ]">
                {{items.name}}</a> </small>
          </div>
        </div>

        <div class="row container-header">

          <div class="col-6 ">
            <h5>CONTACT</h5>
          </div>

          <div class="col-6 text-right">


            <button type="button" class="btn btn-classic btn-sm mr-1" [routerLink]="[ '/contact/edit/',id ]"> <i
                class="fas fa-edit"></i> Edit </button>

            <button type="button" class="btn btn-danger btn-sm  mr-1" (click)="fn_delete();"> <i
                class="fas fa-trash-alt"></i>
              Delete </button>
            <button type="button" class="btn btn-outline-secondary btn-sm" [routerLink]="[ '/contact' ]" title="back">
              <i class="fas fa-times"></i> </button>
          </div>

        </div>
        <h5 class="my-3">Information</h5>
        <div class="row mb-3">

          <div class="col-6">
            <strong>Contact</strong>
            <table class="table table-list">
              <tbody>

                <tr>
                  <td width="30%"><label>Name</label></td>
                  <td> {{items.name}} </td>
                </tr>

                <tr>
                  <td><label>Email</label></td>
                  <td> {{items.email}} </td>
                </tr>


                <tr>
                  <td><label>Mobile</label></td>
                  <td> {{items.mobile}} </td>
                </tr>
                <tr>
                  <td><label>Phone</label></td>
                  <td> {{items.phone}}</td>
                </tr>
                <tr>
                  <td><label>Lead source</label></td>
                  <td> {{items.lead_source}} </td>
                </tr>


                <tr>
                  <td><label>Company</label></td>
                  <td> {{items.company}}</td>
                </tr>


                <tr>
                  <td><label>Contact owner </label></td>
                  <td> {{items.user}}</td>
                </tr>
              </tbody>
            </table>



          </div>

          <div class="col-6">
            <strong>Input Information</strong>
            <table class="table table-list">

              <tbody>
                <tr>
                  <td><label>Created Date</label></td>
                  <td> {{items.input_date | date:'d MMM y  hh:mm a'}}, <small> by {{items.input_by}}</small> </td>
                </tr>
                <tr [hidden]="items.update_by == false">
                  <td><label>Update Date</label></td>
                  <td> {{items.update_date | date:'d MMM y  hh:mm a'}}, <small> by {{items.update_by}} </small> </td>
                </tr>
                <tr>
                  <td><label>ID Companay</label></td>
                  <td><span class="text-monospace">{{items.id}}</span></td>
                </tr>
              </tbody>


            </table>




          </div>
        </div>


        <div class="py-2">
          <strong>Opportunity </strong>
        </div>
        <div class=" bg-light  border border-top-brown rounded p-1 mb-4">
          <div class=" mb-4">

            <table class="table table-hover border bg-white border-top border-bottom pointer">
              <thead class="thead-light">
                <tr>
                  <th width="50">No</th>
                  <th scope="col">Opportunity Name</th>
                  <th scope="col">Stage</th>
                  <th scope="col">Progress</th>
                  <th scope="col" colspan="2" class="text-right">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let x of opportunity; let i = index">
                  <td> {{i +1}}</td>
                  <td> <a [routerLink]="[ '/opportunity/',x.id ]"> {{x.name}} </a>
                    <div>
                      <small>Created : {{x.input_date | date}} {{x.input_by}}</small>
                    </div>
                  </td>
                  <td> {{x.stage}} </td>
                  <td> {{x.progress}}</td>
                  <td width="50"> {{x.currency}} </td>
                  <td class="text-right"> {{x.amount | number:''}} </td>

                </tr>


              </tbody>
              <tfoot>
                <tr>
                  <td></td>
                  <td colspan="7">

                    <button type="button" class="btn btn-sm btn-primary"
                      [routerLink]="[ '/opportunity/new/',items.id_company ,items.id  ]"> <i class="fas fa-plus"></i> New
                      Opportunity</button> </td>
                </tr>
              </tfoot>
            </table>

          </div>
        </div>



      </div>


    </div>
    <div class="col-4">
      <div class="position-fixed">
        <app-widget-activity></app-widget-activity>
      </div>

    </div>
  </div>

  <ng-template #opportunity let-modal>
    <div class="modal-header">
      <strong class="modal-title" id="modal-basic-title">New Opportunity</strong>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-light">

      <div class="form-group row no-gutters">
        <label for="h21" class="col-sm-3 col-form-label"> Name </label>
        <div class="col-sm-8">
          <input type="text" class="form-control border" readonly id="h21" value="Miss Kazama Takako">
        </div>
      </div>

      <div class="form-group row no-gutters">
        <label for="h21" class="col-sm-3 col-form-label"> Company </label>
        <div class="col-sm-8">
          <input type="text" class="form-control border" readonly id="h21" value="PT Sugino Mando">
        </div>
      </div>

      <div class="form-group row no-gutters">
        <label for="h21" class="col-sm-3 col-form-label"> Opportunity's Name </label>
        <div class="col-sm-8">
          <input type="text" class="form-control border" maxlength="250" id="h21">
        </div>
      </div>

      <div class="form-group row no-gutters">
        <label for="h21" class="col-sm-3 col-form-label"> Start Date </label>
        <div class="col-sm-2">
          <input type="text" id="dateOfBirth" class="form-control border" placeholder="2019-07-01" readonly
            (click)="dp.toggle()" name="dp" ngbDatepicker #dp="ngbDatepicker">

        </div>

      </div>


    </div>
    <div class="modal-footer">

      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>

      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save & Next</button>

    </div>
  </ng-template>