<div id="activityTabs" >

  <div class="border p-2 my-2 bg-light shadow-sm">

    <form (ngSubmit)="onInsert()" #callForm="ngForm">
      <ngb-tabset (tabChange)="tabEvent($event)">

        <!-- CALL  -->
        <ngb-tab title="Log a Call" id="100">
          <ng-template ngbTabContent>
            <div class="border border-top-0 px-3 bg-white pb-3">
              <div class="row">
                <div class="col-12 py-1">
                  <label class="py-1"> Subject</label>
                  <input type="text" [(ngModel)]="model.subject" name="subject" class="form-control" required
                    (click)="showNewActivity=true;">
                </div>
              </div>
              <div class="row" [hidden]="!showNewActivity">
                <div class="col-12 py-1">
                  <label class="py-1"> Notes</label>
                  <textarea class="form-control" rows="4" [(ngModel)]="model.description" name="description"></textarea>
                </div>

                <div class="col-6 py-1">
                  <label class="py-1">Name</label>
                  <select class="form-control" [(ngModel)]="model.id_person" [ngModelOptions]="{standalone: true}">
                    <option value="{{x.id}}" *ngFor="let x of items.person"> {{x.name}}</option>
                  </select>
                </div>

                <div class="col-6 py-1">
                  <label class="py-1"> Related To</label>
                  <input type="text" class="form-control">
                </div>



                <div class="col-6 py-1">
                  <label class="py-1">Assigned By</label>
                  <select class="form-control" [(ngModel)]="model.id_user" [ngModelOptions]="{standalone: true}">
                    <option value="{{x.id}}" *ngFor="let x of user"> {{x.name}}</option>
                  </select>
                </div>

                <div class="col-12 py-3 text-right">
                  <button type="button" class="btn btn-classic btn-sm px-5 "
                    (click)="showNewActivity=false">Cancel</button>
                  <button type="submit" class="btn btn-primary btn-sm px-5 mx-1"
                    [disabled]="!callForm.form.valid">Save</button>
                </div>


              </div>

            </div>

          </ng-template>
        </ngb-tab>


        <!-- TASK -->
        <ngb-tab title="New Task" id="1">
          <ng-template ngbTabContent>
            <div class="border border-top-0 px-3 bg-white pb-3">
              <div class="row">
                <div class="col-12 py-1">
                  <label class="py-1"> Subject</label>
                  <input type="text" [(ngModel)]="model.subject" name="subject" class="form-control" required
                    (click)="showNewActivity=true;">
                </div>
              </div>

              <div class="row" [hidden]="!showNewActivity">
                <div class="col-6 py-1">
                  <label class="py-1"> Due Date</label>
                  <input type="text" class="form-control border" [(ngModel)]="model.due_date" readonly
                    placeholder="YYYY-MM-DD" name="due_date" ngbDatepicker #due_date="ngbDatepicker"
                    (click)="due_date.toggle()">
                </div>
                <div class="col-6 py-1">
                  <label class="py-1">Assigned By</label>
                  <select class="form-control" [(ngModel)]="model.id_user" [ngModelOptions]="{standalone: true}">
                    <option value="{{x.id}}" *ngFor="let x of user"> {{x.name}}</option>
                  </select>
                </div>

                <div class="col-6 py-1">
                  <label class="py-1">Name</label>
                  <select class="form-control" [(ngModel)]="model.id_person" [ngModelOptions]="{standalone: true}">
                    <option value="{{x.id}}" *ngFor="let x of items.person"> {{x.name}}</option>
                  </select>
                </div>

                <div class="col-6 py-1">
                  <label> Related To</label>


                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Related to</button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:;">Contact</a>
                        <a class="dropdown-item" href="javascript:;">Company</a>
                        <a class="dropdown-item" href="javascript:;">Opportunity</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:;">Quote</a>
                        <a class="dropdown-item" href="javascript:;">Deal</a>
                        <a class="dropdown-item" href="javascript:;">Closed Lose</a>
                        <a class="dropdown-item" href="javascript:;">Sales Order</a>

                      </div>
                    </div>
                    <select class="form-control">
                      <option>hahah</option>
                    </select>
                  </div>


                </div>
                <div class="col-12 py-1">
                  <label> Notes</label>
                  <textarea class="form-control" rows="4" [(ngModel)]="model.description" name="description"></textarea>
                </div>

                <div class="col-12 py-2 mb-3 text-right">
                  <button type="button" class="btn btn-classic btn-sm px-5 "
                    (click)="showNewActivity=false">Cancel</button>
                  <button type="submit" class="btn btn-primary btn-sm px-5 mx-1"
                    [disabled]="!callForm.form.valid">Save</button>
                </div>
              </div>
            </div>

          </ng-template>
        </ngb-tab>



        <!-- VISIT -->
        <ngb-tab title="Visit" id="200">
          <ng-template ngbTabContent>
            <div class="border border-top-0 px-3 bg-white pb-3">
              <div class="row">
                <div class="col-12 py-1">
                  <label class="py-1"> Subject</label>
                  <input type="text" [(ngModel)]="model.subject" name="subject" class="form-control" required
                    (click)="showNewActivity=true;">
                </div>
              </div>
              <div class="row" [hidden]="!showNewActivity">

                <div class="col-12 py-1">
                  <label class="py-1"> Description</label>
                  <textarea class="form-control" rows="4" [(ngModel)]="model.description" name="description"></textarea>
                </div>

                <div class="col-6 py-1">
                  <label class="py-1">Check In Date and Time</label>
                  <div class="row">
                    <div class="col-6">
                      <label>Date</label>
                      <input type="text" class="form-control border" readonly placeholder="YYYY-MM-DD" name="start_date"
                        [(ngModel)]="model.start_date" ngbDatepicker #start_date="ngbDatepicker"
                        (click)="start_date.toggle()">
                    </div>
                    <div class="col-6">
                      <label>Time</label>
                      <input type="time" class="form-control" [(ngModel)]="model.start_time" name="start_time">
                    </div>
                  </div>

                </div>
                <div class="col-6 py-1">
                  <label class="py-1"> Check Out Date and TIme</label>
                  <div class="row">
                    <div class="col-6">
                      <label>Date</label>
                      <input type="text" class="form-control border" readonly placeholder="YYYY-MM-DD" name="end_date"
                        [(ngModel)]="model.end_date" ngbDatepicker #end_date="ngbDatepicker"
                        (click)="end_date.toggle()">
                    </div>
                    <div class="col-6">
                      <label>Time</label>
                      <input type="time" class="form-control" [(ngModel)]="model.end_time" name="end_time">
                    </div>
                  </div>
                </div>

                <div class="col-6 py-1">
                  <label class="py-1"> Name</label>
                  <select class="form-control" [(ngModel)]="model.id_person" [ngModelOptions]="{standalone: true}">
                    <option value="{{x.id}}" *ngFor="let x of items.person"> {{x.name}}</option>
                  </select>
                </div>

                <div class="col-6 py-1">
                  <label class="py-1"> Related To</label>
                  <input type="text" class="form-control">
                </div>


                <div class="col-6 py-1">
                  <label class="py-1">Assigned By</label>
                  <select class="form-control" [(ngModel)]="model.id_user" [ngModelOptions]="{standalone: true}">
                    <option value="{{x.id}}" *ngFor="let x of user"> {{x.name}}</option>
                  </select>
                </div>


                <div class="col-12 py-2 mb-3 text-right">
                  <button type="button" class="btn btn-classic btn-sm px-5 "
                    (click)="showNewActivity=false">Cancel</button>
                  <button type="submit" class="btn btn-primary btn-sm px-5 mx-1"
                    [disabled]="!callForm.form.valid">Save</button>
                </div>
              </div>
            </div>

          </ng-template>
        </ngb-tab>


        <!-- EVENT -->
        <ngb-tab title="New Event" id="300">
          <ng-template ngbTabContent>
            <div class="border border-top-0 px-3 bg-white pb-3">
              <div class="row">
                <div class="col-12 py-1">
                  <label class="py-1"> Subject</label>
                  <input type="text" [(ngModel)]="model.subject" name="subject" class="form-control" required
                    (click)="showNewActivity=true;">
                </div>
              </div>
              <div class="row" [hidden]="!showNewActivity">

                <div class="col-12 py-1">
                  <label class="py-1"> Description</label>
                  <textarea class="form-control" rows="4" [(ngModel)]="model.description" name="description"></textarea>
                </div>

                <div class="col-6 py-1">
                  <label class="py-1"> Event Start Date and Time</label>
                  <div class="row">
                    <div class="col-6">
                      <label>Date</label>
                      <input type="text" class="form-control border" readonly placeholder="YYYY-MM-DD" name="start_date"
                        [(ngModel)]="model.start_date" ngbDatepicker #start_date="ngbDatepicker"
                        (click)="start_date.toggle()">
                    </div>
                    <div class="col-6">
                      <label>Time</label>
                      <input type="time" class="form-control" [(ngModel)]="model.start_time" name="start_time">
                    </div>
                  </div>

                </div>
                <div class="col-6 py-1">
                  <label class="py-1"> Event End Date and TIme</label>
                  <div class="row">
                    <div class="col-6">
                      <label>Date</label>
                      <input type="text" class="form-control border" readonly placeholder="YYYY-MM-DD" name="end_date"
                        [(ngModel)]="model.end_date" ngbDatepicker #end_date="ngbDatepicker"
                        (click)="end_date.toggle()">
                    </div>
                    <div class="col-6">
                      <label>Time</label>
                      <input type="time" class="form-control" [(ngModel)]="model.end_time" name="end_time">
                    </div>
                  </div>
                </div>

                <div class="col-6 py-1">
                  <label class="py-1"> Name</label>
                  <select class="form-control" [(ngModel)]="model.id_person" [ngModelOptions]="{standalone: true}">
                    <option value="{{x.id}}" *ngFor="let x of items.person"> {{x.name}}</option>
                  </select>
                </div>

                <div class="col-6 py-1">
                  <label class="py-1"> Related To</label>
                  <input type="text" class="form-control">
                </div>


                <div class="col-6 py-1">
                  <label class="py-1">Assigned By</label>
                  <select class="form-control" [(ngModel)]="model.id_user" [ngModelOptions]="{standalone: true}">
                    <option value="{{x.id}}" *ngFor="let x of user"> {{x.name}}</option>
                  </select>
                </div>


                <div class="col-12 py-2 mb-3 text-right">
                  <button type="button" class="btn btn-classic btn-sm px-5 "
                    (click)="showNewActivity=false">Cancel</button>
                  <button type="submit" class="btn btn-primary btn-sm px-5 mx-1"
                    [disabled]="!callForm.form.valid">Save</button>
                </div>
              </div>
            </div>

          </ng-template>
        </ngb-tab>


        <!-- NOTE -->
        <ngb-tab title="Note" id="400">
          <ng-template ngbTabContent>
            <div class="border border-top-0 px-3 bg-white pb-3">
              <div class="row">
                <div class="col-12 py-1">
                  <label class="py-1"> Subject</label>
                  <input type="text" [(ngModel)]="model.subject" name="subject" class="form-control" required
                    (click)="showNewActivity=true;">
                </div>
              </div>
              <div class="row" [hidden]="!showNewActivity">
                <div class="col-12 py-1">
                  <label> Notes</label>
                  <textarea class="form-control" rows="4" [(ngModel)]="model.description" name="description"></textarea>
                </div>

                <div class="col-12 py-2 mb-3 text-right">
                  <button type="button" class="btn btn-classic btn-sm px-5 "
                    (click)="showNewActivity=false">Cancel</button>
                  <button type="submit" class="btn btn-primary btn-sm px-5 mx-1"
                    [disabled]="!callForm.form.valid">Save</button>
                </div>
              </div>
            </div>

          </ng-template>
        </ngb-tab>

      </ngb-tabset>
    </form>

  </div>

</div>

<div class="my-4">

  <h5 class="inline-text"><span class="text-success">Activity</span></h5>


  <div class="bg-light px-2 mb-2"> <strong> Latest Activity</strong> </div>
  <div class="activity-log act-{{x.activity_type.id}}" *ngFor="let x of activityLatest; let i = index">

    <div class="icon" [innerHTML]="x.activity_type.fas"></div>
    <div class="content">
      <div class="row">
        <div class="col-8">
          <a href="javascript:;" (click)="x.description ? activityLatest[i].show = true : false"> <b
              class="text-primary">{{x.subject}}</b> </a>
        </div>
        <div class="col-4 text-right">
          <small> {{x.input_date | date:'medium'}}</small> <a class="ml-2 text-gray py-0" [hidden]="!x.description"><i
              class="fas fa-caret-down"></i></a>
        </div>
      </div>
      <small [innerHTML]="x.log"></small>

      <div style="line-height: 90%;">
        <a href="javascript:;" (click)="fn_closed(x);"> <small>Closed {{x.activity_type.name}}</small> </a> <small class="mx-1"> &bull; </small>
        <a href="javascript:;" (click)="fn_remove(x);"> <small>Remove {{x.activity_type.name}}</small> </a>

      </div>

      <div [hidden]="!x.show" class="p-2 mt-2 border rounded">
        <div class="text" [innerHTML]="x.description" [hidden]="!x.description"
          style=" white-space: pre-line; font-size: 13px;"></div>

        <a href="javascript:;" (click)="activityLatest[i].show = false"><small>Hide</small></a>
      </div>
    </div>
  </div>



  <div class="bg-light px-2 mb-2"> <strong> History Activity</strong> </div>

  <div class="activity-log act-{{x.activity_type.id}}" *ngFor="let x of activityHistory; let i = index">
    <div class="icon" [innerHTML]="x.activity_type.fas"></div>
    <div class="content">
      <div class="row">
        <div class="col-8">
          <a href="javascript:;" (click)="x.description ? activityHistory[i].show = true : false"> <b
              class="text-primary">{{x.subject}}</b> </a>
        </div>
        <div class="col-4 text-right">
          <small> {{x.input_date | date:'medium'}}</small> <a class="ml-2 text-gray py-0" [hidden]="!x.description"><i
              class="fas fa-caret-down"></i></a>
        </div>
      </div>
      <small [innerHTML]="x.log"></small>
      <div [hidden]="!x.show" class="p-2 border rounded">
        <div class="text" [innerHTML]="x.description" [hidden]="!x.description"
          style=" white-space: pre-line; font-size: 13px;"></div>
        <a href="javascript:;" (click)="activityHistory[i].show = false"><small>Hide</small></a>
      </div>
    </div>
  </div>

</div>