<ngx-loading [show]="loading"></ngx-loading>

<app-navigator></app-navigator>

<div class="container-fluid bg-light border-bottom py-1">
    <div class="row">
        <div class="col-12">
            <small> You are here : <a [routerLink]="[ '/product' ]">product</a> /
                <a [routerLink]="[ '/product/',id ]">
                    {{items.name}} </a> </small>
        </div>
    </div>

</div>


<div class="container-fluid  bg-white">

    <!-- Menu & Information -->
    <div class="row border-bottom ">

        <!-- Header & button -->
        <div class="col-3 bg-light py-2">
            <div class="module-name">
                <strong>PRODUCT</strong>
                <b class="text-primary">{{items.name}}</b>
            </div>
        </div>

        <div class="col-9 bg-light text-right py-2">
            <div [hidden]="!isReadOnly">
             
                <button type="button" class="btn btn-classic btn-sm  mr-1" [hidden]="!accessRules.product.update"
                    (click)="isReadOnly=false;"> <i class="fas fa-edit"></i>
                    Edit </button>

                <button type="button" class="btn btn-classic btn-sm  mr-1" [hidden]="!accessRules.product.delete"
                    (click)="fn_delete();"> <i class="fas fa-trash-alt"></i>
                    Delete </button>

                <button type="button" class="btn btn-classic btn-sm  mr-1" [routerLink]="[ '/product' ]" title="back">
                    <i class="fas fa-times"></i> </button>

            </div>

            <div [hidden]="isReadOnly">
                <button type="button" class="btn btn-classic btn-sm" (click)="isReadOnly=true" title="Done"><i
                        class="fas fa-check"></i> Finish Edit </button>
            </div>

        </div>


    </div>

    <div class="row ">

        <div class="col-md-8 col-12 py-4">
            <div class="bg-light">
                <strong> Product Information </strong>
            </div>

            <form (ngSubmit)="fn_update()" #mainForm="ngForm">
 
                <div class="row">
                  
                    <div class="col-lg-6 col-12">
                        <table class="table table-borderless">
                            <tbody>

                                <tr>
                                    <td width="30%"><label>Name</label></td>
                                    <td>
                                        <input type="text" class="form-control form-modal" id="name" required
                                        [(ngModel)]="items.name" name="name" #name="ngModel"
                                        [readonly]="isReadOnly">
                                      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                        First name is required
                                      </div>

                                    </td>
                                </tr>

                                <tr>
                                    <td><label>Sku</label></td>
                                    <td>
                                        <input type="text" class="form-control form-modal" id="sku" required [(ngModel)]="items.sku" name="sku"    [readonly]="isReadOnly">
                                    </td>
                                </tr>



                            </tbody>
                        </table>
                    </div>

                    <div class="col-lg-6 col-12">
                        <table class="table table-borderless">
                            <tbody>

                                <tr>
                                    <td width="30%"><label>Product Type</label></td>
                                    <td>  
                                        <select  class="form-control form-modal" id="id_product_type" required [(ngModel)]="items.id_product_type" name="id_product_type" [disabled]="isReadOnly" >
                                            <option value="{{x.id}}" *ngFor="let x of product_type" > {{x.name}} </option>
                                        </select>    
                                    </td>
                                </tr>

                                <tr [hidden]="items.id_product_type!=10">
                                    <td><label>Qty</label></td>
                                    <td>
                                        <input type="number" class="form-control form-modal" id="qty" required [(ngModel)]="items.qty" name="qty"    [readonly]="isReadOnly">
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
 
                <div class="footer-menu bg-white shadow border-top" [hidden]="isReadOnly">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-center p-1">
                                <a class="btn btn-outline-secondary m-1" (click)="isReadOnly=true">Finish Edit</a>
                                <button type="submit" class="btn btn-primary m-1"
                                    [disabled]="!mainForm.form.valid">Save</button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-4 col-12 py-4 border border-top-0">

            <div class="bg-light">
                <strong> Warehouse Location Information </strong>
            </div> 
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Location</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let x of product_location; let i = index">
                        <td>{{i+1}}</td>
                        <td>
                            <input type="text" class="form-control form-modal" (change)="fn_updateLocation(x);" id="location" name="location" required [(ngModel)]="x.location"
                                [readonly]="isReadOnly">
                        </td>
                        <td  [hidden]="isReadOnly || !accessRules.product.delete">
                            <a href="javascript:;" (click)="fn_deleteProduct_location(x);"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
 
                </tbody>
         
                <tfoot [hidden]="isReadOnly || !accessRules.product.insert">
                    <tr>
                        <td colspan="2" class="text-right"> 
                            <button type="button" (click)="fn_addProduct_location();" class="btn btn-classic btn-sm" >Add Location</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>


</div>