<ngx-loading [show]="loading"></ngx-loading>

<app-navigator></app-navigator>

<div class="container-fluid bg-light border-bottom py-1">
  <div class="row">
    <div class="col-12">
      <small> You are here : <a [routerLink]="[ '/lead' ]">Lead</a> /
        <a [routerLink]="[ '/lead/',items.id ]">
          {{items.first_name}} {{items.last_name}}</a> </small>
    </div>
  </div>

</div>


<div class="container-fluid  bg-white">


  <!-- Menu & Information -->
  <div class="row border-bottom ">
    <!-- Header & button -->
    <div class="col-3 bg-light py-2">
      <div class="module-name">
        <strong>QUOTE</strong>
        <b class="text-primary">{{items.first_name}} {{items.last_name}}</b>
      </div>
    </div>

    <div class="col-9 bg-light text-right py-2">
      <div [hidden]="!isReadOnly">
        <button type="button" class="btn btn-classic btn-sm  mr-1" (click)="open(convert)"> <i
            class="fas fa-funnel-dollar"></i> Convert To Opportunity </button>

        <button type="button" class="btn btn-classic btn-sm  mr-1" (click)="isReadOnly=false"> <i
            class="fas fa-edit"></i>
          Edit </button>

        <button type="button" class="btn btn-classic btn-sm  mr-1" (click)="fn_delete();"> <i
            class="fas fa-trash-alt"></i>
          Delete </button>

        <button type="button" class="btn btn-classic btn-sm  mr-1" [routerLink]="[ '/lead' ]" title="back"> <i
            class="fas fa-times"></i> </button>

      </div>

      <div [hidden]="isReadOnly">
        <button type="button" class="btn btn-classic btn-sm" (click)="isReadOnly=true" title="Done"><i
            class="fas fa-check"></i> Finish Edit </button>
      </div>

    </div>

    <!-- Infromation -->
    <div class="col-12 py-2">
      <table class="table-p0">
        <tr>
          <td> <small> Company</small> </td>
          <td> <small> Position </small></td>
          <td> <small> Mobile</small> </td>
          <td> <small> Email </small> </td>
          <td> <small> Lead Status </small> </td>
        </tr>

        <tr>
          <td> <b class="text-primary"> {{items.company.name}} </b> </td>
          <td> <b class="text-primary"> {{items.position}} </b> </td>
          <td> <b class="text-primary"> {{items.mobile}} </b> </td>
          <td> <b class="text-primary"> {{items.email}}</b> </td>
          <td>

            <b class="text-primary" [hidden]="!isReadOnly"><span class="text-{{items.lead_status.color }}"> <i
                  class="fas fa-square"></i>
              </span>
              {{items.lead_status.name }} </b>


            <select class="form-control form-control-sm p-0 border" [(ngModel)]="items.id_lead_status"
              [hidden]="isReadOnly" (change)="onChangeLeadStatus($event.target.value)"
              [ngModelOptions]="{standalone: true}">
              <option [ngValue]="x.id" *ngFor="let x of lead_status">
                {{x.name}}
              </option>
            </select>


          </td>
        </tr>
      </table>
    </div>

  </div>

  <div class="row mt-3">
    <!-- Left side-->
    <div class="col-9 col-md-8">

      <div class="row py-2">

        <div class="col-12">

          <ngb-tabset type="pills" class="activityTabs">

            <ngb-tab>
              <ng-template ngbTabTitle>Activity</ng-template>
              <ng-template ngbTabContent> 
                  <app-widget-activity></app-widget-activity> 
              </ng-template>
            </ngb-tab>

            <ngb-tab>
              <ng-template ngbTabTitle>Detail</ng-template>
              <ng-template ngbTabContent>
                <form (ngSubmit)="fn_update()" #mainForm="ngForm">

                  <div class="border-top py-2 my-2">

                    <div class="row">
                      <div class="col-12 bg-light">
                        <strong>Contact</strong>
                      </div>
                      <div class="col-6">
                        <table class="table table-borderless">
                          <tbody>

                            <tr>
                              <td width="30%"><label>First Name</label></td>
                              <td>
                                <input type="text" class="form-control form-modal" id="first_name" required
                                  [(ngModel)]="lead.first_name" name="first_name" #first_name="ngModel"
                                  [readonly]="isReadOnly">
                                <div [hidden]="first_name.valid || first_name.pristine" class="alert alert-danger">
                                  First name is required
                                </div>

                              </td>
                            </tr>

                            <tr>
                              <td><label>Last Name</label></td>
                              <td>
                                <input type="text" class="form-control form-modal" id="last_name"
                                  [(ngModel)]="lead.last_name" name="last_name" #last_name="ngModel"
                                  [readonly]="isReadOnly">
                              </td>
                            </tr>

                            <tr>
                              <td><label>Email</label></td>
                              <td> <input type="text" class="form-control form-modal" id="email"
                                  [(ngModel)]="lead.email" name="email" [readonly]="isReadOnly"> </td>
                            </tr>

                            <tr>
                              <td><label>Phone</label></td>
                              <td> <input type="text" class="form-control form-modal" id="phone"
                                  [(ngModel)]="lead.phone" name="phone" [readonly]="isReadOnly"> </td>
                            </tr>
                            <tr>
                              <td><label>Mobile</label></td>
                              <td> <input type="text" class="form-control form-modal" id="mobile"
                                  [(ngModel)]="lead.mobile" name="mobile" [readonly]="isReadOnly"> </td>
                            </tr>


                          </tbody>
                        </table>
                      </div>

                      <div class="col-6">
                        <table class="table table-borderless">
                          <tbody>

                            <tr>
                              <td><label>Position</label></td>
                              <td> <input type="text" class="form-control form-modal" id="position"
                                  [(ngModel)]="lead.position" name="position" [readonly]="isReadOnly"> </td>
                            </tr>

                            <tr>
                              <td width="30%"><label>Lead source</label></td>
                              <td>
                                <select class="form-control form-modal" id="lead_source"
                                  [(ngModel)]="lead.id_lead_source" name="id_lead_source" [disabled]="isReadOnly">
                                  <option *ngFor="let x of lead_source" value="{{x.id}}"> {{x.name}} </option>
                                </select>

                              </td>
                            </tr>

                            <tr>
                              <td><label>Lead owner </label></td>
                              <td>
                                <select class="form-control form-modal" id="id_user" [(ngModel)]="lead.id_user"
                                  name="id_user" [disabled]="isReadOnly">
                                  <option *ngFor="let x of user" value="{{x.id}}"> {{x.name}} </option>
                                </select>
                              </td>
                            </tr>


                            <tr>
                              <td><label>Opportunity</label></td>
                              <td>
                                <input type="text" class="form-control form-modal" id="opportunity"
                                  [(ngModel)]="lead.opportunity" name="opportunity" [readonly]="isReadOnly">
                              </td>
                            </tr>

                            <tr>
                              <td><label>Expected ({{items.currency }})</label></td>
                              <td> <input type="number" class="form-control form-modal" id="amount"
                                  [(ngModel)]="lead.amount" name="amount" [readonly]="isReadOnly"> </td>
                            </tr>



                          </tbody>
                        </table>
                      </div>

                    </div>

                    <div class="row">

                      <div class="col-12 bg-light">
                        <strong>Company</strong>
                      </div>

                      <div class="col-6">
                        <table class="table table-borderless">
                          <tbody>
                            <tr>
                              <td width="30%"><label>Company</label></td>
                              <td> <input type="text" class="form-control form-modal" id="company"
                                  [(ngModel)]="lead.company" name="company" [readonly]="isReadOnly"> </td>
                            </tr>
                            <tr>
                              <td><label>Website</label></td>
                              <td><a href="">{{items.website}}</a></td>
                            </tr>

                            <tr>
                              <td><label>Address</label></td>
                              <td>{{items.address}}</td>
                            </tr>

                            <tr>
                              <td><label>Industry</label></td>
                              <td> {{items.industry}} </td>
                            </tr>

                          </tbody>
                        </table>
                      </div>

                      <div class="col-6">
                        <table class="table table-borderless">
                          <tbody>
                            <tr>
                              <td width="30%"><label>Address</label></td>
                              <td> <textarea class="form-control form-modal" [(ngModel)]="lead.address_street"
                                  placeholder="Street" name="address_street" id="h21a"
                                  [readonly]="isReadOnly"> </textarea> </td>
                            </tr>

                            <tr>
                              <td><label>City</label></td>
                              <td> <input type="text" class="form-control form-modal" maxlength="250"
                                  [(ngModel)]="lead.address_city" placeholder="City" name="address_city" id="h21b"
                                  [readonly]="isReadOnly"> </td>
                            </tr>

                            <tr>
                              <td><label>State</label></td>
                              <td> <input type="text" class="form-control form-modal" maxlength="250"
                                  [(ngModel)]="lead.address_state" placeholder="State" name="address_state" id="h21b"
                                  [readonly]="isReadOnly"> </td>
                            </tr>

                            <tr>
                              <td><label>Postal Code</label></td>
                              <td> <input type="text" class="form-control form-modal" maxlength="250"
                                  [(ngModel)]="lead.address_code" placeholder="State" name="address_code" id="h21b"
                                  [readonly]="isReadOnly"> </td>
                            </tr>

                            <tr>
                              <td><label>Country</label></td>
                              <td> <input type="text" class="form-control form-modal" maxlength="250"
                                  [(ngModel)]="lead.address_country" placeholder="State" name="address_country"
                                  id="h21b" [readonly]="isReadOnly"> </td>
                            </tr>


                          </tbody>
                        </table>
                      </div>

                    </div>
                  </div>

                  <div class="footer-menu bg-white shadow border-top" [hidden]="isReadOnly">
                    <div class="container">
                      <div class="row">
                        <div class="offset-1 col-10 text-center p-1">
                          <a class="btn btn-outline-secondary m-1" (click)="isReadOnly=true">Finish Edit</a>
                          <button type="submit" class="btn btn-primary m-1"
                            [disabled]="!mainForm.form.valid">Save</button>
                        </div>
                        <div class="col-1">
                          <div class="py-3"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </ng-template>
            </ngb-tab>

          </ngb-tabset>


        </div>


      </div>


    </div>

    <!-- right side-->
    <div class="col-3 col-md-4 border border-top-0">

      <div class="row">
        <div class="col-12">
          <div class="border bg-light p-2 rounded-sm">
            <small> Opportunity</small>
            <div><b>{{lead.opportunity}}</b> </div>

            <small> Amount</small>
            <div><b> {{lead.amount}}</b> </div>

          </div>
        </div>
      </div>


      <!-- Product -->
      <div class="row py-2">
        <div class="col-12 ">
          <div class="border py-1 px-2 border-top-brown rounded">

            <div class="row">
              <div class="col-6"><strong>Products ({{product.length}}) </strong></div>
              <div class="col-6 text-right"> <button class="btn btn-classic btn-sm" (click)="open(pricelist);"><i
                    class="fas fa-plus"></i> New</button> </div>
            </div>

            <div class="row">
              <div class="col-6 mb-2" *ngFor="let x of product; let i = index">

                <hr [hidden]=" i < 2" class="p-0 m-0 mb-2">
                <table class="table-items">
                  <thead>
                    <tr>
                      <th colspan="2"> <a href="javascript:;">{{x.product}}</a></th>
                      <th width="50" class="text-right">
                        <a href="javascript:" (click)="fn_deleteProduct(x);"><i class="far fa-trash-alt"></i></a>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td width="50">Sales</td>
                      <td colspan="2">: {{x.currency}} {{x.price | number}}</td>
                    </tr>
                  </tbody>
                </table>

              </div>


            </div>


          </div>
        </div>
      </div>

 
     
    </div>
  </div>

</div>

<div [hidden]="isReadOnly"><br><br></div>


<ng-template #convert let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">Convert to Opportunity</strong>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onConvert()" #myFormConvert="ngForm">
      <div class="row">

        <div class="col-8">
          <div class="form-group">


            <table width="100%" class="mb-1">
              <tr>
                <td width="35%"><label> <span [hidden]="!items.id_company">Create New</span> Company </label></td>
                <td> {{items.company}}</td>
              </tr>
              <tr>
                <td><label>Create New Contact </label></td>
                <td> {{items.name}} </td>
              </tr>

              <tr>
                <td> <label for="h61">Name of Business Opportunity</label> </td>
                <td> <input type="text" class="form-control border" [(ngModel)]="modelOpportunity.opportunityName"
                    name="opportunityName" id="h61">
                  <small id="emailHelp" class="form-text text-muted mb-3">Please leave empty if you dont need
                    opportunity now.</small>

                </td>
              </tr>

              <tr [hidden]="!modelOpportunity.opportunityName">
                <td><label>Assign to </label></td>
                <td> <select class="form-control border mb-1" [(ngModel)]="modelOpportunity.id_user" name="id_user">
                    <option [ngValue]="x.id" *ngFor="let x of user">{{x.name}}</option>
                  </select> </td>
              </tr>


            </table>

          </div>
        </div>

        <div class="col-4">
          <div class="text-center">
            <img src="../../../assets/imgs/lead-convert.jpg" width="80%">
          </div>
        </div>

      </div>

    </form>

    <div class="border p-1 bg-gray">
      debuging only
      <code>{{diagnostic}}</code>
    </div>
    <br>
  </div>

  <div class="modal-footer">
    <span [hidden]="!loadingConvert">Converting, please wait...</span>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    <button type="button" class="btn btn-success" (click)="onConvert();">Convert</button>

  </div>
</ng-template>


<ng-template #pricelist let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">Price List </strong>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-price-list-modal (uploaded)="requestEmit($event)"></app-price-list-modal>

</ng-template>