.description{
    line-height: 130%;
    font-size: 14px;
  }

  .form-control{
    font-size: 13px;
    border: 1px solid #ddd;
  }

  .list-1{
    list-style: none;
    padding: 5px 0px;
    margin: 0px;;

  }
  .list-1 li{ 
    
    margin: 0px;;
    line-height: 110%;

  }
