<ngx-loading [show]="loading"></ngx-loading>
<app-navigator></app-navigator>


<div class="container-fluid bg-light border py-1">
  <div class="row">
    <div class="col-12">
      <small> You are here : <a [routerLink]="[ '/opportunity' ]">Opportunity</a> / <a
          [routerLink]="[ '/opportunity/',id ]">{{items.name}}</a> </small>
    </div>
  </div>
</div>


<!-- Menu & Information -->
<div class="container-fluid">
  <!-- Header  -->
  <div class="row  ">

    <div class="col-3 bg-light py-2">
      <div class="module-name">
        <strong>OPPORTUNITY {{items.closed ? "("+items.stage+")" :""}}</strong>
        <b class="text-primary">{{items.name}}</b>
      </div>
    </div>

    <div class="col-9 bg-light text-right py-2">

      <div [hidden]="!isReadOnly">
        <span [hidden]="!items.final_stage">

          <button type="button" class="btn btn-classic btn-sm  mr-1" (click)="openLg('win')"> <i
              class="fas fa-thumbs-up"></i>
            Closed Deal </button>

          <button type="button" class="btn btn-classic btn-sm  mr-1" (click)="openLg('lose')"> <i
              class="fas fa-thumbs-down"></i> Closed Lose </button>
        </span>

        <button type="button" class="btn btn-classic btn-sm  mr-1"
          (click)="isReadOnly=false; t.select('tab-selectbyid2')"> <i class="fas fa-edit"></i> Edit </button>

        <button type="button" class="btn btn-classic btn-sm  mr-1" (click)="fn_delete();"> <i
            class="fas fa-trash-alt"></i> Delete </button>

        <button type="button" class="btn btn-classic btn-sm  mr-1" [routerLink]="[ '/opportunity' ]" title="back"> <i
            class="fas fa-times"></i> </button>


      </div>


      <div [hidden]="isReadOnly">
        <button type="button" class="btn btn-classic btn-sm  mr-1" (click)="isReadOnly=true" title="Done"><i
            class="fas fa-check"></i> Finish Edit </button>
      </div>
    </div>

    <div class="col-12 py-2">
      <table class="table-p0">
        <tr>
          <td> <small> Company</small> </td>
          <td> <small> Expecting Closing Date </small> </td>
          <td> <small> Amount </small> </td>
          <td> <small> Opportunity Owner </small></td>
        </tr>

        <tr>
          <td> <b class="text-primary"> <a [routerLink]="[ '/company', items.id_company ]"> {{items.company}}</a> </b>
          </td>
          <td> <b class="text-primary">
              {{items.expecting_closing_date.day}}/{{items.expecting_closing_date.month}}/{{items.expecting_closing_date.year}}</b>
          </td>
          <td> <b class="text-primary"> {{items.currency}} {{items.amount | number}} </b> </td>
          <td><b class="text-primary"> {{items.user}} </b></td>
        </tr>
      </table>
    </div>

  </div>

</div>

<!-- STEP -->
<div class="container-fluid py-1 mb-2 ">
  <div class="row">
    <div class="col-12">
      <div class="border rounded bg-light shadow-sm p-2">

        <div class="row">
          <div class="col-12">

            <div class="arrow-steps clearfix mb-3">

              <div *ngFor="let x of stage" (click)="nextStage(x);"
                class="step {{ x.done ? 'done' : false }} {{ x.current ? 'current' : false }}"
                [ngStyle]="{'width': width+'%'}"> <strong class="font-source-sans-pro"> {{x.name}}
                  <span [hidden]="!x.done"> <i class="fas fa-check-circle"></i> </span>
                </strong>
              </div>
            </div>
          </div>


          <div class="col-12">

            <div [hidden]="id_stage != '100'">

              <div class="form-group row">
                <label for="c01" class="col-sm-3 col-12 col-form-label"> Expecting Closing Date </label>
                <div class="col-sm-3">
                  <input type="text" class="form-control form-modal border" placeholder="yyyy-mm-dd"
                    (click)="dd.toggle()" readonly name="dd" id="c01"
                    [(ngModel)]="updateOpportunity.expecting_closing_date" ngbDatepicker #dd="ngbDatepicker">
                  <a href="javascript:;" (click)="updateQuiz();"> <small>Update</small> </a>
                </div>
              </div>

              <div class="form-group row">
                <label for="c02" class="col-sm-3 col-12 col-form-label"> Opportunity Budget (IDR) </label>
                <div class="col-sm-6">
                  <input type="text" class="form-control form-modal border w-50" name="budget" currencyMask
                    (change)="updateQuiz();" [(ngModel)]="updateOpportunity.budget" id="c02">
                </div>
              </div>

              <div class="form-group row">
                <label for="c02" class="col-sm-3 col-12 col-form-label"> Opportunity product
                  ({{product.length}})</label>
                <div class="col-sm-9">
                  <span *ngFor="let x of product; let i = index" class="btn btn-classic mr-1 mb-1">
                    {{x.product.name}} <a href="javascript:;" (click)="fn_delete_prorduct(x);" class="text-danger"> <i
                        class="far fa-trash-alt"></i> </a>
                  </span>
                  <div>
                    <button class="btn btn-classic btn-sm" (click)="open(addPriceList);"><i class="fas fa-plus"></i>
                      New</button>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="c091" class="col-sm-3 col-12 col-form-label">Competitor</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control form-modal border" name="competitor" (change)="updateQuiz();"
                    [(ngModel)]="updateOpportunity.competitor" id="c091">
                </div>
              </div>

              <div class="form-group row">
                <label for="c02123" class="col-sm-3 col-12 col-form-label"> Contact Person</label>
                <div class="col-sm-6">
                  <select id="c02123" class="form-control form-modal" [(ngModel)]="updateOpportunity.id_contact"
                    (change)="updateQuiz();" [ngModelOptions]="{standalone: true}">
                    <option value="{{x.id}}" *ngFor="let x of contact">{{x.name}} </option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="offset-3 col-6">

                  <button type="button" (click)="updateQuiz();" class="btn btn-outline-primary mr-2"> Save Only
                  </button>


                  <button type="button" (click)="updateStep(100,0)" class="btn btn-primary"> Done and Next Step
                  </button>

                  {{loadingUpdateQuiz}}
                  {{updateOpportunity.done}}
                </div>
              </div>

            </div>

            <div [hidden]="id_stage != '101'">
              <div class="form-group row ">
                <label for="b101" class="col-sm-3 col-form-label">Comparison with competitor </label>
                <div class="col-sm-6">
                  <textarea class="form-control border" name="comparison_with_competitor" (change)="updateQuiz();"
                    [(ngModel)]="updateOpportunity.comparison_with_competitor" id="b101"></textarea>
                </div>
              </div>



              <div class="form-group row ">
                <label for="b102" class="col-sm-3 col-form-label">Critical point </label>
                <div class="col-sm-6">
                  <textarea class="form-control border" name="critical_point" (change)="updateQuiz();"
                    [(ngModel)]="updateOpportunity.critical_point" id="b102"></textarea>
                </div>
              </div>

              <div class="form-group row ">
                <label for="b103" class="col-sm-3 col-form-label">Our proposal </label>
                <div class="col-sm-6">
                  <textarea class="form-control border" name="our_proposal" [(ngModel)]="updateOpportunity.our_proposal"
                    (change)="updateQuiz();" id="b103"></textarea>
                </div>
              </div>


              <div class="form-group row ">
                <label for="b104" class="col-sm-3 col-form-label">Other </label>
                <div class="col-sm-6">
                  <textarea class="form-control border" name="notes1" [(ngModel)]="updateOpportunity.notes1"
                    (change)="updateQuiz();" id="b104"></textarea>
                </div>
              </div>


              <div class="row">
                <div class="offset-3 col-6">
                  <button type="button" (click)="updateQuiz();" class="btn btn-outline-primary mr-2"> Save Only
                  </button>

                  <button type="button" (click)="updateStep(101,0)" class="btn btn-primary"> Done and Next Step
                  </button>

 
                </div>
              </div>

            </div>

            <div [hidden]="id_stage != '103'">

              <div class="form-group row ">
                <label for="b301" class="col-sm-3 col-form-label">Quotation</label>
                <div class="col-sm-6">
                  <select id="b301" class="form-control border" [(ngModel)]="updateOpportunity.id_quote"
                    (change)="updateQuiz();" name="c_id_quote" required [ngModelOptions]="{standalone: true}">
                    <option value="{{x.id}}" *ngFor="let x of quotes">{{x.quotes_number}} ver {{x.version}} - {{x.name}}
                      {{x.syncing ? "(Syncing)":""}}
                    </option>
                  </select>
                </div>
              </div>


              <div class="form-group row ">
                <label for="b302" class="col-sm-3 col-form-label">Attachment</label>
                <div class="col-sm-6">


                  <div class="row">

                    <div class="col-11 text-right">
                      <input class="form-control form-control-sm" type="file" (change)="onFileSelected($event)">
                    </div>
                    <div class="col-1">
                      <button type="button" class="btn btn-classic btn-sm"
                        (click)="onUpload('opportunity');">Upload</button>
                    </div>

                    <div class="col-6 my-1" *ngFor="let x of attachment">
                      <div class="border bg-white p-1 rounded">
                        <a href="{{x.url}}" target="_blank"><small> {{x.file_name}} </small> </a> &nbsp; <a
                          href="javascript:;" (click)="fn_attach_delete(x);"><i class="fas fa-trash-alt"></i></a>
                      </div>
                    </div>

                  </div>


                </div>
              </div>

              <div class="form-group row ">
                <label for="b304" class="col-sm-3 col-form-label">Notes </label>
                <div class="col-sm-6">
                  <textarea class="form-control border" name="notes2" [(ngModel)]="updateOpportunity.notes2"
                    (change)="updateQuiz();" id="b304"></textarea>
                </div>
              </div>


              <div class="row">
                <div class="offset-3 col-6">
                  <button type="button" (click)="updateQuiz();" class="btn btn-outline-primary mr-2"> Save Only
                  </button>

                  <button type="button" (click)="updateStep(103,0)" class="btn btn-primary"> Done and Next Step
                  </button>
                 
                </div>
              </div>

            </div>

            <div [hidden]="id_stage != '104'">



              <div class="form-group row ">
                <label for="b302" class="col-sm-3 col-form-label">Attachment Purchased Order</label>
                <div class="col-sm-6">


                  <div class="row">

                    <div class="col-11 text-right">
                      <input class="form-control form-control-sm" type="file" (change)="onFileSelected($event)">
                    </div>
                    <div class="col-1">
                      <button type="button" class="btn btn-classic btn-sm" (click)="onUpload('po');">Upload</button>
                    </div>

                    <div class="col-6 my-1" *ngFor="let x of attachmentPO">
                      <div class="border bg-white p-1 rounded">
                        <a href="{{x.url}}" target="_blank"><small> {{x.file_name}} </small> </a> &nbsp; <a
                          href="javascript:;" (click)="fn_attach_delete(x);"><i class="fas fa-trash-alt"></i></a>
                      </div>
                    </div>

                  </div>


                </div>
              </div>

              <div class="form-group row ">
                <label for="d104" class="col-sm-3 col-form-label">Notes </label>
                <div class="col-sm-6">
                  <textarea class="form-control border" name="notes3" [(ngModel)]="updateOpportunity.notes3"
                    (change)="updateQuiz();" id="d104"></textarea>
                </div>
              </div>

              <div class="form-group row ">
                <label for="d104" class="col-sm-3 col-form-label"> Final Decision</label>
                <div class="col-lg-2 col-3">
                  <input type="radio" id="z01" name="closed_lose" value="0" [(ngModel)]="reason">
                  <label for="z01" class="px-2 text-danger">
                    <i class="fas fa-thumbs-down"></i>  &nbsp;  <b class="">Closed Lose </b>
                  </label>

                </div>
                <div class="col-lg-2 col-3">
                  <input type="radio" id="z02" name="closed_deal" value="1" [(ngModel)]="reason">
                  <label for="z02" class="px-2 text-primary">
                    <i class="fas fa-thumbs-up"></i> &nbsp; <b class=""> Closed Deal</b>
                  </label>
                </div>
               
              </div>
              <div class="form-group row" [hidden]="!reason">
 

                  <label for="d104" class="col-sm-3 col-form-label" [hidden]="reason != '1'"> Reason</label>
                  <div class="col-sm-4" [hidden]="reason != '1'">
                    <label> Why lose project ?</label>
                    <select class="form-control form-control-sm" [(ngModel)]="id_closed_reason">
                      <option *ngFor="let x of reason_win" value="{{x.id}}">{{x.note}}</option>
                    </select>
                  </div>
 
 
                  <label for="d104" class="col-sm-3 col-form-label" [hidden]="reason != '0'"> Reason</label>
                  <div class="col-sm-4" [hidden]="reason != '0'">
                    <label> Why win project ?</label>
                    <select class="form-control form-control-sm" [(ngModel)]="id_closed_reason">  
                      <option *ngFor="let x of reason_lose" value="{{x.id}}">{{x.note}}</option>
                    </select>
                  </div> 
 
              </div>



              <div class="form-group row ">
                <label for="d104" class="col-sm-3 col-form-label"> Final Decision</label>
                <div class="col-sm-6">
                  <button type="button" (click)="updateQuiz();" class="btn btn-outline-primary mr-2"> Save Only
                  </button>
 
                  <button type="button" (click)="closeOpportunity(104);" [disabled]="!id_closed_reason" class="btn btn-primary mr-2"><b><i class="fas fa-check"></i>  Submit</b>
                  </button>

               
             
                </div>
              </div>


            </div>
          </div>




        </div>


      </div>

    </div>

  </div>


</div>



<div class="container-fluid  bg-white border-top">

  <div class="row">
    <div class="col-9 col-md-8">


      <div class="py-2">
        <ngb-tabset type="pills" #t="ngbTabset">

          <ngb-tab>
            <ng-template ngbTabTitle>Activity</ng-template>
            <ng-template ngbTabContent>
              <app-widget-activity></app-widget-activity>
            </ng-template>
          </ngb-tab>

          <ngb-tab id="tab-selectbyid2">
            <ng-template ngbTabTitle>Detail</ng-template>
            <ng-template ngbTabContent>

              <form (ngSubmit)="fn_update()" #mainForm="ngForm">
                <div class="border-top py-2 my-2">
                  <!-- detail -->
                  <div class="row">
                    <div class="col-12 bg-light">
                      <strong>Information</strong>
                    </div>
                    <div class="col-12">
                      <table class="table table-borderless">
                        <tr>
                          <td width="200">Opportunity Name</td>
                          <td>
                            <input type="text" class="form-control form-modal" id="name" required
                              [(ngModel)]="updateOpportunity.name" name="name" #name="ngModel" [readonly]="isReadOnly">
                            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                              Name is required
                            </div>
                          </td>
                        </tr>



                        <tr>
                          <td>Account Manager</td>
                          <td> <select class="form-control form-modal" [disabled]="isReadOnly"
                              [(ngModel)]="updateOpportunity.id_user" [ngModelOptions]="{standalone: true}">
                              <option value="{{x.id}}" *ngFor="let x of user">{{x.name}}</option>
                            </select> </td>
                        </tr>
                      </table>

                    </div>

                    <div class="col-12 bg-light">
                      <strong>Detail</strong>
                    </div>

                    <div class="col-12 col-lg-6">
                      <table class="table table-borderless">

                        <tr width="40%">
                          <td>Contact</td>
                          <td> <select class="form-control form-modal" [disabled]="isReadOnly"
                              [(ngModel)]="updateOpportunity.id_contact" [ngModelOptions]="{standalone: true}">
                              <option value="{{x.id}}" *ngFor="let x of contact">{{x.name}} </option>
                            </select> </td>
                        </tr>

                        <tr width="40%">
                          <td>Lead Source</td>
                          <td> <select class="form-control form-modal" [disabled]="isReadOnly" required
                              [(ngModel)]="updateOpportunity.id_lead_source" [ngModelOptions]="{standalone: true}">
                              <option value="{{x.id}}" *ngFor="let x of lead_source">{{x.name}} </option>
                            </select> </td>
                        </tr>


                        <tr>
                          <td>Industry</td>
                          <td>
                            <input type="text" class="form-control form-modal" value="{{items.industry}}" readonly>
                          </td>
                        </tr>


                        <tr>
                          <td>Started Date</td>
                          <td>
                            <span [hidden]="!isReadOnly">
                              <input type="text" class="form-control form-modal w-75"
                                value=" {{updateOpportunity.start_date.day}}/{{updateOpportunity.start_date.month}}/{{updateOpportunity.start_date.year}}"
                                [readonly]="isReadOnly">
                            </span>

                            <span [hidden]="isReadOnly">
                              <input type="text" class="form-control form-modal" placeholder="yyyy-mm-dd"
                                (click)="d.toggle()" readonly name="d" [(ngModel)]="updateOpportunity.start_date"
                                ngbDatepicker #d="ngbDatepicker" required>
                            </span>
                          </td>
                        </tr>


                        <tr>
                          <td>Expecting Closing Date</td>
                          <td>

                            <span [hidden]="!isReadOnly">
                              <input type="text" class="form-control form-modal w-75"
                                value=" {{updateOpportunity.expecting_closing_date.day}}/{{updateOpportunity.expecting_closing_date.month}}/{{updateOpportunity.expecting_closing_date.year}}"
                                [readonly]="isReadOnly">
                            </span>

                            <span [hidden]="isReadOnly">
                              <input type="text" class="form-control form-modal" placeholder="yyyy-mm-dd"
                                (click)="de.toggle()" readonly name="de"
                                [(ngModel)]="updateOpportunity.expecting_closing_date" ngbDatepicker #de="ngbDatepicker"
                                required>
                            </span>
                          </td>
                        </tr>


                      </table>

                    </div>

                    <div class="col-12 col-lg-6">
                      <table class="table table-borderless">

                        <tr>
                          <td width="40%">Amount</td>
                          <td>
                            {{items.currency}}

                            <input type="text" class="form-control form-modal w-75" style="display: inline-block;"
                              currencyMask id="amount" [(ngModel)]="updateOpportunity.amount" name="amount"
                              [readonly]="isReadOnly">

                          </td>
                        </tr>

                        <tr>
                          <td>Stage</td>
                          <td> <input type="text" readonly class="form-control form-modal" value="{{items.stage}}">
                          </td>
                        </tr>

                        <tr>
                          <td>Probability (%)</td>
                          <td> <input type="text" readonly class="form-control form-modal"
                              value="{{items.progress}} % "> </td>
                        </tr>
                        <tr>
                          <td><label>Created Date</label></td>
                          <td>
                            <input type="text" readonly class="form-control form-modal"
                              value="{{items.input_date | date:'d MMM y  hh:mm a'}}">
                            <small> by {{items.input_by}}</small>
                          </td>
                        </tr>
                        <tr [hidden]="items.update_by == false">
                          <td><label>Update Date</label></td>
                          <td>
                            <input type="text" readonly class="form-control form-modal"
                              value="{{items.update_date | date:'d MMM y  hh:mm a'}}">

                            <small> by {{items.update_by}}
                            </small>
                          </td>
                        </tr>
                      </table>

                    </div>

                  </div>
                  <!-- End detail-->
                </div>

                <div class="footer-menu bg-white shadow border-top" [hidden]="isReadOnly">
                  <div class="container">
                    <div class="row">
                      <div class="col-12 text-center p-1">
                        <a class="btn btn-outline-secondary m-1" (click)="isReadOnly=true">Finish Edit</a>
                        <button type="submit" class="btn btn-primary m-1" (click)="isReadOnly=true"
                          [disabled]="!mainForm.form.valid">Save</button>
                      </div>
                    </div>
                  </div>
                </div>

              </form>

            </ng-template>
          </ngb-tab>


          <ngb-tab>
            <ng-template ngbTabTitle>Related</ng-template>
            <ng-template ngbTabContent>
              <div class="border-top py-2 my-2">
                <!-- Product -->
                <div class="row py-2">
                  <div class="col-12 ">
                    <div class="border py-1 px-2 border-top-brown rounded">

                      <div class="row">
                        <div class="col-6"><strong>Products ({{product.length}}) </strong></div>
                        <div class="col-6 text-right"> <button class="btn btn-classic btn-sm"
                            (click)="open(addPriceList);"><i class="fas fa-plus"></i> New</button> </div>
                      </div>

                      <div class="row">
                        <div class="col-6 mb-2" *ngFor="let x of product; let i = index">

                          <table class="table-items">
                            <thead>
                              <tr>
                                <th> <a href="">{{x.product.name}}</a></th>
                              </tr>
                            </thead>
                            <tbody>

                              <tr>

                                <td> {{x.currency}} {{x.price | number}}</td>
                              </tr>
                            </tbody>
                          </table>

                          <hr [hidden]=" i - 1 > 0" class="p-0 m-0 mt-2">
                        </div>

                      </div>


                    </div>
                  </div>
                </div>



                <div class="border bg-light p-1 my-2 rounded-sm">
                  <div class="row">
                    <div class="col-3">
                      <strong>Attachment</strong>
                    </div>
                    <div class="col-7 text-right">

                      <input class="form-control form-control-sm" type="file" (change)="onFileSelected($event)">

                    </div>
                    <div class="col-1">
                      <button type="button" class="btn btn-classic btn-sm"
                        (click)="onUpload('opportunity');">Upload</button>
                    </div>

                    <div class="col-12">
                      <table class="table table-list table-bordered table-striped">
                        <thead class="thead-light border-top-brown">
                          <tr>
                            <th>Files</th>
                            <th width="100">Size</th>
                            <th width="50"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let x of attachment">
                            <td> <a href="{{x.url}}" target="_blank"> {{x.file_name}}</a> </td>
                            <td> {{x.size }} </td>
                            <td>
                              <div [hidden]="isReadOnly">
                                <a href="javascript:;" (click)="fn_attach_delete(x);"><i
                                    class="fas fa-trash-alt"></i></a>
                              </div>
                            </td>
                          </tr>
                        </tbody>


                      </table>
                    </div>
                  </div>

                </div>





              </div>
            </ng-template>
          </ngb-tab>


        </ngb-tabset>

      </div>


    </div>

    <div class="col-3 col-md-4 border border-top-0">

      <!-- QUOTATION -->
      <div class="row py-2">
        <div class="col-12 ">
          <div class="border py-1 px-2 border-top-brown rounded">

            <div class="row">
              <div class="col-3"><strong>QUOTATION </strong></div>
              <div class="col-9 text-right"> <button type="button" class="btn btn-classic btn-sm mr-1"
                  (click)="openLg(addQuote);"> <i class="fas fa-file-alt"></i>
                  Generate New Quotes</button> </div>
            </div>

            <div class="row">
              <div class="col-6 mb-1" *ngFor="let x of quotes; let i = index">

                <table class="table-items">
                  <thead>
                    <tr>
                      <th> <a [routerLink]="[ '/quote', x.id ]"> {{x.quotes_number}} <span [hidden]="!x.syncing"> <i
                              class="fas fa-sync-alt"></i>
                          </span> </a>

                        <span class="px-2" [hidden]="updateOpportunity.id_quote != x.id"><i
                            class="fas fa-check"></i></span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <Tr [hidden]="!x.syncing">
                      <td><small>syncing with Opportunity</small> </td>
                    </Tr>
                    <tr>
                      <td> Grand Total : {{x.currency}} {{x.grand_total | number}}</td>
                    </tr>
                    <tr>
                      <td> {{x.expired_date | date}} </td>
                    </tr>
                  </tbody>
                </table>

                <hr class="p-0 m-0 mt-1">
              </div>

            </div>


          </div>
        </div>
      </div>


      <!-- Contact Roles -->
      <div class="row py-2">
        <div class="col-12 ">
          <div class="border py-1 px-2 border-top-brown rounded">

            <div class="row">
              <div class="col-6"><strong>Contact Roles ({{contact.length}}) </strong></div>
              <div class="col-6 text-right"> <button class="btn btn-classic btn-sm" (click)="open(addContact);"><i
                    class="fas fa-plus"></i>
                  New</button> </div>
            </div>

            <div class="row">
              <div class="col-6 mb-2" *ngFor="let x of contact">

                <table class="table-items">
                  <thead>
                    <tr>
                      <th>
                        <a [routerLink]="[ '/contact', x.id ]">{{x.name}} <span [hidden]="!x.active"> <i
                              class="fas fa-check"></i>
                          </span></a>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{x.position}}, {{x.department}} </td>
                    </tr>

                  </tbody>
                </table>

                <hr class="p-0 m-0 mt-2">
              </div>

            </div>


          </div>
        </div>
      </div>


    </div>

  </div>
</div>


<div [hidden]="isReadOnly"><br><br></div>


<ng-template #addProduct let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">Add Products </strong>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-white">
    <table>
      <thead>
        <tr>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-outline-dark" (click)="modal.close('Save click')">Closed</button>
  </div>
</ng-template>

<ng-template #addQuote let-modal>
  <form (ngSubmit)="fn_newQuote()" #quoteForm="ngForm">
    <div class="modal-header">
      <strong class="modal-title" id="modal-basic-title">New Quote </strong>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-white">
      <div class="container-fluid">

        <div class="row">
          <div class="col-12 bg-light">
            <strong>Quotes Information</strong>
          </div>
          <div class="col-6">
            <table class="table table-borderless">
              <tr>
                <td width="40%">Quotes Name</td>
                <td>
                  <input type="text" class="form-control form-modal" id="q_name" required [(ngModel)]="quoteModel.name"
                    name="q_name" #q_name="ngModel">
                  <div [hidden]="q_name.valid || q_name.pristine" class="alert alert-danger">
                    Name is required
                  </div>
                </td>
              </tr>
              <tr>
                <td>Opportunity Name</td>
                <td> <b> {{items.name}} </b> </td>
              </tr>
              <tr>
                <td>Company Name</td>
                <td> <b>{{items.company}} </b> </td>
              </tr>

              <tr>
                <td>Account Manager</td>
                <td> <select class="form-control form-modal" [(ngModel)]="quoteModel.id_user" name="q_id_user">
                    <option value="{{x.id}}" *ngFor="let x of user">{{x.name}}</option>
                  </select> </td>
              </tr>
            </table>

          </div>
          <div class="col-6">

            <table class="table table-borderless">
              <tr>
                <td width="40%">Expiration Date</td>
                <td> <input type="text" class="form-control form-modal" placeholder="yyyy-mm-dd" (click)="q_d.toggle()"
                    readonly name="q_d" [(ngModel)]="quoteModel.expirationDate" ngbDatepicker #q_d="ngbDatepicker"
                    required>
                </td>
              </tr>
              <tr>
                <td>Syncing</td>
                <td><input type="checkbox" checked [(ngModel)]="quoteModel.syncing" name="q_syncing"></td>
              </tr>
              <tr>
                <td>Status</td>
                <td>
                  <select class="form-control form-modal">
                    <option value="1">Draft</option>
                  </select>

                </td>
              </tr>
              <tr>
                <td>Description</td>
                <td>
                  <textarea class="form-control form-modal" [(ngModel)]="quoteModel.description"
                    name="q_description"></textarea>

                </td>
              </tr>
            </table>

          </div>
        </div>

        <div class="row">
          <div class="col-12 bg-light">
            <strong> Prepared For</strong>
          </div>
          <div class="col-6">
            <table class="table table-borderless">
              <tr>
                <td width="40%">Contact Name</td>
                <td><select class="form-control form-modal" [(ngModel)]="quoteModel.id_contact" name="q_id_contact"
                    (change)="lookingContact($event)">
                    <option value="{{x.id}}" *ngFor="let x of contact">{{x.name}}</option>
                  </select></td>
              </tr>
              <tr>
                <td>Email</td>
                <td>
                  <input type="text" class="form-control form-modal" [(ngModel)]="quoteModel.email" name="q_email">
                </td>
              </tr>
            </table>
          </div>
          <div class="col-6">
            <table class="table table-borderless">
              <tr>
                <td width="40%">Phone</td>
                <td> <input type="text" class="form-control form-modal" [(ngModel)]="quoteModel.phone" name="q_phone">
                </td>
              </tr>
              <tr>
                <td>Fax</td>
                <td> <input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.fax" name="q_fax">
                </td>
              </tr>
            </table>
          </div>
        </div>


        <div class="row">
          <div class="col-12 bg-light">
            <strong> Address Information</strong>
          </div>
          <div class="col-6">
            <table class="table table-borderless">
              <tr>
                <td width="40%">Bill To Name</td>
                <td><input type="text" class="form-control form-modal" [(ngModel)]="quoteModel.bill_name"
                    name="q_bill_name"></td>
              </tr>
              <tr>
                <td>Bill To Street</td>
                <td> <textarea class="form-control form-modal" [(ngModel)]="quoteModel.bill_street1"
                    name="q_bill_street1"> </textarea>
                </td>
              </tr>

              <tr>
                <td>Bill To City</td>
                <td><input type="text" class="form-control form-modal" [(ngModel)]="quoteModel.bill_city"
                    name="q_bill_city"></td>
              </tr>
              <tr>
                <td>Bill To State /Province</td>
                <td><input type="text" class="form-control form-modal" [(ngModel)]="quoteModel.bill_state"
                    name="q_bill_state"></td>
              </tr>
              <tr>
                <td>Bill To Postal Code</td>
                <td><input type="text" class="form-control form-modal" [(ngModel)]="quoteModel.bill_code"
                    name="q_bill_code"></td>
              </tr>
            </table>
          </div>
          <div class="col-6">
            <table class="table table-borderless">
              <tr>
                <td width="40%">Ship To Name</td>
                <td><input type="text" class="form-control form-modal" [(ngModel)]="quoteModel.ship_name"
                    name="q_ship_name"></td>
              </tr>
              <tr>
                <td>Ship To Street</td>
                <td>
                  <textarea class="form-control form-modal" [(ngModel)]="quoteModel.ship_street1"
                    name="q_ship_street1"> </textarea>
                </td>
              </tr>

              <tr>
                <td>Ship To City</td>
                <td><input type="text" class="form-control form-modal" [(ngModel)]="quoteModel.ship_city"
                    name="q_ship_city"></td>
              </tr>
              <tr>
                <td>Ship To State /Province</td>
                <td><input type="text" class="form-control form-modal" [(ngModel)]="quoteModel.ship_state"
                    name="q_ship_state"></td>
              </tr>
              <tr>
                <td>Ship To Postal Code</td>
                <td><input type="text" class="form-control form-modal" [(ngModel)]="quoteModel.ship_code"
                    name="q_ship_code"></td>
              </tr>
            </table>
          </div>
        </div>

      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-outline-dark" (click)="modal.dismiss('Save click')">Closed</button>

      <button type="submit" class="btn btn-success" [disabled]="!quoteForm.form.valid">Submit</button>
    </div>
  </form>
</ng-template>

<ng-template #addContact let-modal>
  <app-contact-new (uploaded)="requestEmit($event)"></app-contact-new>
</ng-template>

<ng-template #addPriceList let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">Price List </strong>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-price-list-modal (uploaded)="requestEmit($event)"></app-price-list-modal>
</ng-template>