<ngx-loading [show]="loading"></ngx-loading>
<app-navigator></app-navigator>


<div class="container-fluid bg-light border py-1">
  <div class="row">
    <div class="col-12">
      <small> You are here : <a [routerLink]="[ '/opportunity' ]">Opportunity</a> / <a
          [routerLink]="[ '/opportunity/',id ]">{{items.name}}</a> </small>
    </div>
  </div>
</div>


<!-- Menu & Information -->
<div class="container-fluid">
  <!-- Header  -->
  <div class="row border-bottom ">

    <div class="col-3 bg-light py-2">
      <div class="module-name">
        <strong>OPPORTUNITY</strong>
        <b class="text-primary">{{items.name}}</b>
      </div>
    </div>

    <div class="col-9 bg-light text-right py-2">

      <div [hidden]="!isReadOnly">
        <span [hidden]="!items.final_stage">

          <button type="button" class="btn btn-classic btn-sm  mr-1" (click)="open(win)"> <i
              class="fas fa-thumbs-up"></i>
            Closed Deal </button>

          <button type="button" class="btn btn-classic btn-sm  mr-1" (click)="open(lose)"> <i
              class="fas fa-thumbs-down"></i> Closed Lose </button>
        </span>

        <button type="button" class="btn btn-classic btn-sm  mr-1"
          (click)="isReadOnly=false; t.select('tab-selectbyid2')"> <i class="fas fa-edit"></i> Edit </button>

        <button type="button" class="btn btn-classic btn-sm  mr-1" (click)="fn_delete();"> <i
            class="fas fa-trash-alt"></i> Delete </button>

        <button type="button" class="btn btn-classic btn-sm  mr-1" [routerLink]="[ '/opportunity' ]" title="back"> <i
            class="fas fa-times"></i> </button>


      </div>


      <div [hidden]="isReadOnly">
        <button type="button" class="btn btn-classic btn-sm  mr-1" (click)="isReadOnly=true" title="Done"><i
            class="fas fa-check"></i> Finish Edit </button>
      </div>
    </div>

    <div class="col-12 py-2">
      <table class="table-p0">
        <tr>
          <td> <small> Company</small> </td>
          <td> <small> Start Date </small> </td>
          <td> <small> Amount </small> </td>
          <td> <small> Opportunity Owner </small></td>
        </tr>

        <tr>
          <td> <b class="text-primary">{{items.company}} </b> </td>
          <td> <b class="text-primary">
              {{items.start_date.day}}/{{items.start_date.month}}/{{items.start_date.year}}</b> </td>
          <td> <b class="text-primary"> {{items.currency}} {{items.amount | number}} </b> </td>
          <td><b class="text-primary"> {{items.user}} </b></td>
        </tr>
      </table>
    </div>

  </div>

</div>

<!-- STEP -->
<div class="container-fluid py-1 border-bottom ">
  <div class="row">
    <div class="col-10">
      <div class="arrow-steps clearfix">
        <div *ngFor="let x of stage" (click)="nextStage(x);"
          class="step {{ x.done ? 'done' : false }} {{ x.current ? 'current' : false }}"
          [ngStyle]="{'width': width+'%'}"> <strong class="font-source-sans-pro"> {{x.name}}
            <span [hidden]="!x.done"> <i class="fas fa-check-circle"></i> </span>
          </strong>
        </div>
      </div>
    </div>
    <div class="col-2 text-center mt-1">
      <span *ngFor="let x of stage" [hidden]="id_stage != x.id">
        <input type="checkbox" class="custom-control-input" id="c{{x.id}}" (change)="doneStage(x);"
          [checked]="x.done ? true:false">
        <label class="custom-control-label" for="c{{x.id}}">Done {{x.name}}
        </label>
      </span>
    </div>
  </div>
</div>




<div class="container-fluid  bg-white">

  <div class="row">
    <div class="col-9 col-md-8">



      <div class="py-2">
        <ngb-tabset type="pills" #t="ngbTabset">

          <ngb-tab>
            <ng-template ngbTabTitle>Activity</ng-template>
            <ng-template ngbTabContent>
              <app-widget-activity></app-widget-activity>
            </ng-template>
          </ngb-tab>

          <ngb-tab id="tab-selectbyid2">
            <ng-template ngbTabTitle>Detail</ng-template>
            <ng-template ngbTabContent>

              <form (ngSubmit)="fn_update()" #mainForm="ngForm">
                <div class="border-top py-2 my-2">
                  <!-- detail -->
                  <div class="row">
                    <div class="col-12 bg-light">
                      <strong>Information</strong>
                    </div>
                    <div class="col-12">
                      <table class="table table-borderless">
                        <tr>
                          <td width="200">Opportunity Name</td>
                          <td>
                            <input type="text" class="form-control form-modal" id="name" required
                              [(ngModel)]="updateOpportunity.name" name="name" #name="ngModel" [readonly]="isReadOnly">
                            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                              Name is required
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>Type</td>
                          <td> <select class="form-control form-modal" [disabled]="isReadOnly"
                              [(ngModel)]="updateOpportunity.id_opportunity_business"
                              [ngModelOptions]="{standalone: true}">
                              <option value="{{x.id}}" *ngFor="let x of business"> {{x.name}} </option>
                            </select> </td>
                        </tr>

                        <tr>
                          <td>Account Manager</td>
                          <td> <select class="form-control form-modal" [disabled]="isReadOnly"
                              [(ngModel)]="updateOpportunity.id_user" [ngModelOptions]="{standalone: true}">
                              <option value="{{x.id}}" *ngFor="let x of user">{{x.name}}</option>
                            </select> </td>
                        </tr>
                      </table>

                    </div>

                    <div class="col-12 bg-light">
                      <strong>Detail</strong>
                    </div>

                    <div class="col-12 col-lg-6">
                      <table class="table table-borderless">

                        <tr width="40%">
                          <td>Contact</td>
                          <td> <select class="form-control form-modal" [disabled]="isReadOnly"
                              [(ngModel)]="updateOpportunity.id_contact" [ngModelOptions]="{standalone: true}">
                              <option value="{{x.id}}" *ngFor="let x of contact">{{x.name}} </option>
                            </select> </td>
                        </tr>

                        <tr width="40%">
                          <td>Lead Source</td>
                          <td> <select class="form-control form-modal" [disabled]="isReadOnly"
                              [(ngModel)]="updateOpportunity.id_lead_source" [ngModelOptions]="{standalone: true}">
                              <option value="{{x.id}}" *ngFor="let x of lead_source">{{x.name}} </option>
                            </select> </td>
                        </tr>


                        <tr>
                          <td>Industry</td>
                          <td>
                            <input type="text" class="form-control form-modal" value="{{items.industry}}" readonly>
                          </td>
                        </tr>


                        <tr>
                          <td>Started Date</td>
                          <td>
                            <span [hidden]="!isReadOnly">
                              <input type="text" class="form-control form-modal w-75"
                                value=" {{updateOpportunity.start_date.day}}/{{updateOpportunity.start_date.month}}/{{updateOpportunity.start_date.year}}"
                                [readonly]="isReadOnly">
                            </span>

                            <span [hidden]="isReadOnly">
                              <input type="text" class="form-control form-modal" placeholder="yyyy-mm-dd"
                                (click)="d.toggle()" readonly name="d" [(ngModel)]="updateOpportunity.start_date"
                                ngbDatepicker #d="ngbDatepicker" required>
                            </span>
                          </td>
                        </tr>


                      </table>

                    </div>

                    <div class="col-12 col-lg-6">
                      <table class="table table-borderless">

                        <tr>
                          <td width="40%">Amount</td>
                          <td>
                            {{items.currency}}

                            <input type="number" class="form-control form-modal w-75" style="display: inline-block;"
                              id="amount" [(ngModel)]="updateOpportunity.amount" name="amount" [readonly]="isReadOnly">

                          </td>
                        </tr>

                        <tr>
                          <td>Stage</td>
                          <td> {{items.stage}} </td>
                        </tr>

                        <tr>
                          <td>Probability (%)</td>
                          <td> {{items.progress}} % </td>
                        </tr>
                        <tr>
                          <td><label>Created Date</label></td>
                          <td> {{items.input_date | date:'d MMM y  hh:mm a'}}, <br><small> by {{items.input_by}}</small>
                          </td>
                        </tr>
                        <tr [hidden]="items.update_by == false">
                          <td><label>Update Date</label></td>
                          <td> {{items.update_date | date:'d MMM y  hh:mm a'}}, <br><small> by {{items.update_by}}
                            </small>
                          </td>
                        </tr>
                      </table>

                    </div>

                  </div>
                  <!-- End detail-->
                </div>

                <div class="footer-menu bg-white shadow border-top" [hidden]="isReadOnly">
                  <div class="container">
                    <div class="row">
                      <div class="col-12 text-center p-1">
                        <a class="btn btn-outline-secondary m-1" (click)="isReadOnly=true">Finish Edit</a>
                        <button type="submit" class="btn btn-primary m-1"
                          [disabled]="!mainForm.form.valid">Save</button>
                      </div>
                    </div>
                  </div>
                </div>

              </form>

            </ng-template>
          </ngb-tab>


          <ngb-tab>
            <ng-template ngbTabTitle>Related</ng-template>
            <ng-template ngbTabContent>
              <div class="border-top py-2 my-2">
                <!-- Product -->
                <div class="row py-2">
                  <div class="col-12 ">
                    <div class="border py-1 px-2 border-top-brown rounded">

                      <div class="row">
                        <div class="col-6"><strong>Products ({{product.length}}) </strong></div>
                        <div class="col-6 text-right"> <button class="btn btn-classic btn-sm" (click)="open(addPriceList);" ><i class="fas fa-plus"></i> New</button> </div>
                      </div>

                      <div class="row">
                        <div class="col-6 mb-2" *ngFor="let x of product; let i = index">

                          <table class="table-items">
                            <thead>
                              <tr>
                                <th> <a href="">{{x.product.name}}</a></th>
                              </tr>
                            </thead>
                            <tbody>

                              <tr>

                                <td> {{x.currency}} {{x.price | number}}</td>
                              </tr>
                            </tbody>
                          </table>

                          <hr [hidden]=" i - 1 > 0" class="p-0 m-0 mt-2">
                        </div>

                      </div>


                    </div>
                  </div>
                </div>

                <!-- Competitor -->
                <div class="row py-2">
                  <div class="col-12 ">
                    <div class="border py-1 px-2 border-top-brown rounded">

                      <div class="row">
                        <div class="col-6"><strong>Competitor </strong></div>
                        <div class="col-6 text-right"> <button class="btn btn-classic btn-sm"><i
                              class="fas fa-plus"></i>
                            New</button> </div>
                      </div>

                      <div class="row">
                        <div class="col-6 mb-2">

                          <table class="table-items">
                            <thead>
                              <tr>
                                <th> <a href="">PT Sumer Daya Teknologi</a></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Strong : ....</td>
                              </tr>
                              <tr>
                                <td>Weakess : ....</td>
                              </tr>
                            </tbody>
                          </table>

                          <hr class="p-0 m-0 mt-2">
                        </div>

                      </div>


                    </div>
                  </div>
                </div>


              </div>
            </ng-template>
          </ngb-tab>


        </ngb-tabset>

      </div>


    </div>

    <div class="col-3 col-md-4 border border-top-0">

      <!-- QUOTATION -->
      <div class="row py-2">
        <div class="col-12 ">
          <div class="border py-1 px-2 border-top-brown rounded">

            <div class="row">
              <div class="col-3"><strong>QUOTATION </strong></div>
              <div class="col-9 text-right"> <button type="button" class="btn btn-classic btn-sm mr-1"
                  (click)="openLg(addQuote);"> <i class="fas fa-file-alt"></i>
                  Generate New Quotes</button> </div>
            </div>

            <div class="row">
              <div class="col-6 mb-1" *ngFor="let x of quotes; let i = index">

                <table class="table-items">
                  <thead>
                    <tr>
                      <th> <a href="">{{x.quotes_number}} <span [hidden]="!x.syncing"> <i class="fas fa-sync-alt"></i>
                          </span> </a> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <Tr [hidden]="!x.syncing">
                      <td><small>syncing with Opportunity</small> </td>
                    </Tr>
                    <tr>
                      <td> Grand Total : {{x.currency}} {{x.grand_total | number}}</td>
                    </tr>
                    <tr>
                      <td> {{x.expired_date | date}} </td>
                    </tr>
                  </tbody>
                </table>

                <hr class="p-0 m-0 mt-1">
              </div>

            </div>


          </div>
        </div>
      </div>


      <!-- Contact Roles -->
      <div class="row py-2">
        <div class="col-12 ">
          <div class="border py-1 px-2 border-top-brown rounded">

            <div class="row">
              <div class="col-6"><strong>Contact Roles ({{contact.length}}) </strong></div>
              <div class="col-6 text-right"> <button class="btn btn-classic btn-sm" (click)="open(addContact);"><i class="fas fa-plus"></i>
                  New</button> </div>
            </div> 
   
            <div class="row">
              <div class="col-6 mb-2" *ngFor="let x of contact">
                
                <table class="table-items">
                  <thead>
                    <tr>
                      <th> <a href="javascript:;" > {{x.name}} <span [hidden]="!x.active"> <i class="fas fa-check"></i> </span></a></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{x.postion}} </td>
                    </tr>
                    <tr [hidden]="!x.mobile">
                      <td>M. {{x.mobile}} </td>
                    </tr>
                    <tr [hidden]="!x.phone">
                      <td>P. {{x.phone}} </td>
                    </tr>
                     
                  </tbody>
                </table>

                <hr class="p-0 m-0 mt-2">
              </div>

            </div>


          </div>
        </div>
      </div>


    </div>

  </div>
</div>


<div [hidden]="isReadOnly"><br><br></div>


<ng-template #win let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">Close Opportunity</strong>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-light">

    <form (ngSubmit)="onClosed('win')" #myFormWin="ngForm">
      <div class="row">
        <div class="col-12 mb-4">
          <div class="display-2 text-center text-warning"><i class="fas fa-crown"></i></div>
          <h4 class="text-center text-warning">Closed Win</h4>
        </div>
        <div class="col-12">

          <div class="form-group row no-gutters">
            <label for="h2" class="col-sm-3 col-form-label"> Closed Date</label>
            <div class="col-sm-8">
              <input type="text" class="form-control border" placeholder="{{modelClosedWin.date}}"
                [(ngModel)]="modelClosedWin.date" name="date" ngbDatepicker #d="ngbDatepicker" readonly
                (click)="d.toggle()">
            </div>
          </div>



          <div class="form-group row no-gutters">
            <label for="h4" class="col-sm-3 col-form-label">Notes</label>
            <div class="col-sm-8">
              <textarea class="form-control border" required [(ngModel)]="modelClosedWin.notes" name="notes"
                #notesWin="ngModel"></textarea>
              <small [hidden]="notesWin.valid || notesWin.pristine" class="text-danger"> Notes is
                required</small>
            </div>
          </div>


          <div class="form-group row no-gutters">
            <label for="h4" class="col-sm-3 col-form-label">Account Manager </label>
            <div class="col-sm-8">
              <select class="form-control border" [(ngModel)]="modelClosedWin.id_user" name="id_user">
                <option [ngValue]="x.id" *ngFor="let x of user">{{x.name}}</option>

              </select>
            </div>
          </div>

        </div>

        <div class="col-12 text-center">
          <span [hidden]="finish">
            <button type="submit" class="btn btn-success m-1" (click)="onClosed('win');"
              [disabled]="!myFormWin.form.valid"> <i class="fas fa-thumbs-down"></i> Closed Win</button>

          </span>
          <span [hidden]="!finish">

            <button type="submit" class="btn btn-outline-dark m-1" (click)="modal.dismiss('Cross click')">
              Close</button>
          </span>
        </div>

      </div>

    </form>
  </div>

</ng-template>

<ng-template #lose let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">Close Opportunity</strong>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-light">

    <form (ngSubmit)="onClosed('lose')" #myFormLose="ngForm">
      <div class="row">
        <div class="col-12 mb-4">
          <div class="display-2 text-center text-gray"><i class="fas fa-sad-tear"></i> </div>
          <h4 class="text-center text-gray">Closed Lose</h4>
        </div>
        <div class="col-12">


          <div class="form-group row no-gutters">
            <label for="h2" class="col-sm-3 col-form-label"> Closed Date</label>
            <div class="col-sm-8">
              <input type="text" class="form-control border" placeholder="{{modelClosedLose.date}}"
                [(ngModel)]="modelClosedLose.date" name="date" ngbDatepicker #d="ngbDatepicker" readonly
                (click)="d.toggle()">
            </div>
          </div>



          <div class="form-group row no-gutters">
            <label for="h4" class="col-sm-3 col-form-label">Reason</label>
            <div class="col-sm-8">
              <textarea class="form-control border" required [(ngModel)]="modelClosedLose.notes" name="notes"
                #notesLose="ngModel"></textarea>
              <small [hidden]="notesLose.valid || notesLose.pristine" class="text-danger"> Notes is
                required</small>
            </div>
          </div>


          <div class="form-group row no-gutters">
            <label for="h4" class="col-sm-3 col-form-label">Account Manager </label>
            <div class="col-sm-8">
              <select class="form-control border" [(ngModel)]="modelClosedLose.id_user" name="id_user">
                <option [ngValue]="x.id" *ngFor="let x of user">{{x.name}}</option>

              </select>
            </div>
          </div>


        </div>

        <div class="col-12 text-center">

          <span [hidden]="finish">
            <button type="submit" class="btn btn-dark m-1" (click)="onClosed('lose');"
              [disabled]="!myFormLose.form.valid"> <i class="fas fa-thumbs-down"></i> Closed Lose</button>

          </span>
          <span [hidden]="!finish">

            <button type="submit" class="btn btn-outline-dark m-1" (click)="modal.dismiss('Cross click')">
              Close</button>
          </span>
        </div>

      </div>

    </form>
  </div>

</ng-template>

<ng-template #addProduct let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">Add Products </strong>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-white">
    <table>
      <thead>
        <tr>
          <th>asdfasdf</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-outline-dark" (click)="modal.close('Save click')">Closed</button>
  </div>
</ng-template>

<ng-template #addQuote let-modal>
  <form (ngSubmit)="fn_newQuote()" #quoteForm="ngForm">
    <div class="modal-header">
      <strong class="modal-title" id="modal-basic-title">New Quote </strong>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-white">
      <div class="container-fluid">

        <div class="row">
          <div class="col-12 bg-light">
            <strong>Quotes Information</strong>
          </div>
          <div class="col-6">
            <table class="table table-borderless">
              <tr>
                <td width="40%">Quotes Name</td>
                <td>
                  <input type="text" class="form-control form-modal" id="name" required [(ngModel)]="quoteModel.name"
                    name="name" #name="ngModel">
                  <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Name is required
                  </div>
                </td>
              </tr>
              <tr>
                <td>Opportunity Name</td>
                <td> <b> {{items.name}} </b> </td>
              </tr>
              <tr>
                <td>Company Name</td>
                <td> <b>{{items.company}} </b> </td>
              </tr>

              <tr>
                <td>Account Manager</td>
                <td> <select class="form-control form-modal">
                    <option value="1">Admin</option>
                  </select> </td>
              </tr>
            </table>

          </div>
          <div class="col-6">

            <table class="table table-borderless">
              <tr>
                <td width="40%">Expiration Date</td>
                <td> <input type="text" class="form-control form-modal" placeholder="yyyy-mm-dd" (click)="d.toggle()"
                    readonly name="d" [(ngModel)]="quoteModel.expirationDate" ngbDatepicker #d="ngbDatepicker" required>
                </td>
              </tr>
              <tr>
                <td>Syncing</td>
                <td><input type="checkbox" checked name="" [(ngModel)]="quoteModel.syncing" name="syncing"></td>
              </tr>
              <tr>
                <td>Status</td>
                <td>
                  <select class="form-control form-modal" [(ngModel)]="quoteModel.status" name="status">
                    <option value="1">Draft</option>
                  </select>

                </td>
              </tr>
              <tr>
                <td>Description</td>
                <td>
                  <textarea class="form-control form-modal" [(ngModel)]="quoteModel.desciption"
                    name="desciption"></textarea>

                </td>
              </tr>
            </table>

          </div>
        </div>


        <div class="row">
          <div class="col-12 bg-light">
            <strong> Total</strong>
          </div>
          <div class="col-6">
            <table class="table table-borderless">
              <tr>
                <td width="40%">Discount (%)</td>
                <td> <input type="text" class="form-control form-modal" id="" style="width:40%"
                    [(ngModel)]="quoteModel.discount" name="discount"> </td>
              </tr>
            </table>
          </div>
          <div class="col-6">
            <table class="table table-borderless">
              <tr>
                <td width="40%">Tax (%)</td>
                <td><input type="text" class="form-control form-modal" id="" style="width:40%"
                    [(ngModel)]="quoteModel.tax" name="tax"></td>
              </tr>
              <tr>
                <td>Shipping and Handing</td>
                <td><input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.shipping"
                    name="shipping"> </td>
              </tr>
              <tr>
                <td>Grand Total</td>
                <td> <b>IDR 0</b></td>
              </tr>
            </table>
          </div>
        </div>


        <div class="row">
          <div class="col-12 bg-light">
            <strong> Prepared For</strong>
          </div>
          <div class="col-6">
            <table class="table table-borderless">
              <tr>
                <td width="40%">Contact Name</td>
                <td><select class="form-control form-modal">
                    <option (value)="items.id_contact">{{items.contact}}</option>
                  </select></td>
              </tr>
              <tr>
                <td>Email</td>
                <td>
                  <input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.email" name="email">
                </td>
              </tr>
            </table>
          </div>
          <div class="col-6">
            <table class="table table-borderless">
              <tr>
                <td width="40%">Phone</td>
                <td> <input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.phone"
                    name="phone"></td>
              </tr>
              <tr>
                <td>Fax</td>
                <td> <input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.fax" name="fax">
                </td>
              </tr>
            </table>
          </div>
        </div>


        <div class="row">
          <div class="col-12 bg-light">
            <strong> Address Information</strong>
          </div>
          <div class="col-6">
            <table class="table table-borderless">
              <tr>
                <td width="40%">Bill To Name</td>
                <td><input type="text" class="form-control form-modal" id="" name=""></td>
              </tr>
              <tr>
                <td>Bill To Street 1</td>
                <td><input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.bill_street1"
                    name="bill_street1"></td>
              </tr>
              <tr>
                <td>Bill To Street 2</td>
                <td><input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.bill_street2"
                    name="bill_street2"></td>
              </tr>

              <tr>
                <td>Bill To City</td>
                <td><input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.bill_city"
                    name="bill_city"></td>
              </tr>
              <tr>
                <td>Bill To State /Province</td>
                <td><input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.bill_state"
                    name="bill_state"></td>
              </tr>
              <tr>
                <td>Bill To Postal Code</td>
                <td><input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.bill_code"
                    name="bill_code"></td>
              </tr>
            </table>
          </div>
          <div class="col-6">
            <table class="table table-borderless">
              <tr>
                <td width="40%">Ship To Name</td>
                <td><input type="text" class="form-control form-modal" id="" name=""></td>
              </tr>
              <tr>
                <td>Ship To Street 1</td>
                <td><input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.ship_street1"
                    name="ship_street1"></td>
              </tr>
              <tr>
                <td>Ship To Street 2</td>
                <td><input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.ship_street2"
                    name="ship_street2"></td>
              </tr>

              <tr>
                <td>Ship To City</td>
                <td><input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.ship_city"
                    name="ship_city"></td>
              </tr>
              <tr>
                <td>Ship To State /Province</td>
                <td><input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.ship_state"
                    name="ship_state"></td>
              </tr>
              <tr>
                <td>Ship To Postal Code</td>
                <td><input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.ship_code"
                    name="ship_code"></td>
              </tr>
            </table>
          </div>
        </div>

      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-outline-dark" (click)="modal.dismiss('Save click')">Closed</button>

      <button type="submit" class="btn btn-success" [disabled]="!quoteForm.form.valid">Submit</button>
    </div>
  </form>
</ng-template>


<ng-template #addContact let-modal>
  <app-contact-new  (uploaded)="requestEmit($event)"></app-contact-new>
</ng-template>

<ng-template #addPriceList let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">Price List </strong>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-price-list-modal (uploaded)="requestEmit($event)"></app-price-list-modal>
</ng-template>