<ngx-loading [show]="loading"></ngx-loading>
<app-navigator></app-navigator>


<div class="container-fluid bg-light border py-1">
  <div class="row">
    <div class="col-12">
      <small> You are here : <a [routerLink]="[ '/opportunity' ]">Opportunity</a> / <a
          [routerLink]="[ '/opportunity/',id ]">{{items.name}}</a> </small>
    </div>
  </div>
</div>


<div class="container-fluid">
  <!-- Header  -->
  <div class="row pt-2 pb-1 ">

    <div class="col-6">
      <div class="module-name">
        <strong>OPPORTUNITY</strong>
        <b class="text-primary">{{items.name}}</b>
      </div>
    </div>

    <div class="col-6 text-right">
      <span [hidden]="!items.final_stage">

        <button type="button" class="btn btn-classic btn-sm  mr-1" (click)="open(win)"> <i class="fas fa-thumbs-up"></i>
          Closed Deal </button>

        <button type="button" class="btn btn-classic btn-sm  mr-1" (click)="open(lose)"> <i
            class="fas fa-thumbs-down"></i> Closed Lose </button>
      </span>

      <button type="button" class="btn btn-classic btn-sm  mr-1" [routerLink]="[ '/opportunity/edit/',id ]"> <i
          class="fas fa-edit"></i> Edit </button>

      <button type="button" class="btn btn-classic btn-sm  mr-1" (click)="fn_delete();"> <i
          class="fas fa-trash-alt"></i> Delete </button>

      <button type="button" class="btn btn-classic btn-sm  mr-1" [routerLink]="[ '/opportunity' ]" title="back"> <i
          class="fas fa-times"></i> </button>
    </div>


  </div>
</div>


<div class="container-fluid py-1 border-bottom border-top">
  <div class="row">
    <div class="col-10">
      <div class="arrow-steps clearfix">
        <div *ngFor="let x of stage" (click)="nextStage(x);"
          class="step {{ x.done ? 'done' : false }} {{ x.current ? 'current' : false }}"
          [ngStyle]="{'width': width+'%'}"> <strong class="font-source-sans-pro"> {{x.name}}
            <span [hidden]="!x.done"> <i class="fas fa-check-circle"></i> </span>
          </strong>
        </div>
      </div>
    </div>
    <div class="col-2">
      <span class="form-group row " *ngFor="let x of stage" [hidden]="id_stage != x.id">
        <input type="checkbox" class="custom-control-input" id="c{{x.id}}" (change)="doneStage(x);"
          [checked]="x.done ? true:false">
        <label class="custom-control-label" for="c{{x.id}}">Done {{x.name}}'s Step
        </label>
      </span>
    </div>
  </div>
</div>


<form   #quoteForm="ngForm">

<div class="container-fluid  bg-white">

  <div class="row">
    <div class="col-9 col-md-8">


      <!-- Header  -->
      <div class="row py-2">

        <!-- Infromation -->
        <div class="col-12">
          <table class="table-p0">
            <tr>
              <td> <small> Company</small> </td>
              <td> <small> Created Date </small> </td>
              <td> <small> Amount </small> </td>
              <td> <small> Opportunity Owner </small></td>
            </tr>

            <tr>
              <td> <b class="text-primary">{{items.company}} </b> </td>
              <td> <b class="text-primary"> {{items.input_date | date}} </b> </td>
              <td> <b class="text-primary"> {{items.currency}} {{items.amount | number}} </b> </td>
              <td><b class="text-primary"> {{items.user}} </b></td>
            </tr>
          </table>
        </div>

      </div>


      <div class="py-2">
        <ngb-tabset type="pills" class="tabset1">
          <ngb-tab title="Simple">
            <ng-template ngbTabContent>
              <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
                synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh
                dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum
                iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
            <ng-template ngbTabContent>


            

                <div class="border-top py-2 my-2">

                  <!-- detail -->

                  <div class="row">
                    <div class="col-12 bg-light">
                      <strong>Opportunity Information</strong>
                    </div>
                    <div class="col-12 col-lg-6">
                      <table class="table table-borderless">
                        <tr>
                          <td width="40%">Opportunity Name</td>
                          <td>
                            <input type="text" class="form-control form-modal" id="name" required
                              [(ngModel)]="items.name" name="name" #name="ngModel" [readonly]="isReadOnly">
                            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                              Name is required
                            </div>
                          </td>
                        </tr> 
                        <tr>
                          <td>Company Name</td>
                          <td> 
                            <select class="form-control form-modal" [disabled]="isReadOnly">
                              <option value="1">{{items.company}}</option> 
                            </select> 
                             </td>
                        </tr>


                        <tr>
                          <td>Lead Source</td>
                          <td> <select class="form-control form-modal" [disabled]="isReadOnly">
                            <option value="1">{{items.lead_source}} </option> 
                          </select>  </td>
                        </tr>


                        <tr>
                          <td>Industry</td>
                          <td><select class="form-control form-modal" [disabled]="isReadOnly">
                            <option value="1">{{items.industry}}</option> 
                          </select>   </td>
                        </tr>


                        <tr>
                          <td>Amount</td>
                          <td> 
                            {{items.currency}} 
                            
                            <input type="number" class="form-control form-modal w-75" style="display: inline-block;" id="amount"  
                            [(ngModel)]="items.amount" name="amount"  [readonly]="isReadOnly">

                          </td>
                        </tr>

                        <tr>
                          <td>Stage</td>
                          <td>  {{items.stage}}  </td>
                        </tr>

                        <tr>
                          <td>Probability (%)</td>
                          <td> {{items.progress}} %  </td>
                        </tr>


                        <tr>
                          <td>Type</td>
                          <td> <select class="form-control form-modal" [disabled]="isReadOnly">
                            <option value="1">New Business</option> 
                          </select> </td>
                        </tr>


                        <tr>
                          <td>Closed Date</td>
                          <td>  
                            <span [hidden]="!isReadOnly">
                              {{items.closedDate.day}}/{{items.closedDate.month}}/{{items.closedDate.year}}
                            </span>

                            <span [hidden]="isReadOnly">
                              <input type="text" class="form-control form-modal" placeholder="yyyy-mm-dd"
                                (click)="d.toggle()" readonly name="d" [(ngModel)]="items.closedDate"
                                ngbDatepicker #d="ngbDatepicker" required>
                            </span>  
                          </td>
                        </tr>

                        <tr>
                          <td>Account Manager</td>
                          <td> <select class="form-control form-modal" [disabled]="isReadOnly">
                              <option value="1">Admin</option> 
                            </select> </td>
                        </tr>
                      </table>

                    </div>

                    <div class="col-12 col-lg-6">
                      <table class="table table-borderless">
                        <tr>
                          <td width="40%">Opportunity Name</td>
                          <td>
                            <input type="text" class="form-control form-modal" id="name" required
                              [(ngModel)]="items.name" name="name" #name="ngModel" [readonly]="isReadOnly">
                            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                              Name is required
                            </div>
                          </td>
                        </tr> 
                        <tr>
                          <td>Company Name</td>
                          <td> 
                            <select class="form-control form-modal" [disabled]="isReadOnly">
                              <option value="1">{{items.company}}</option> 
                            </select> 
                             </td>
                        </tr>


                        <tr>
                          <td>Lead Source</td>
                          <td> <select class="form-control form-modal" [disabled]="isReadOnly">
                            <option value="1">{{items.lead_source}} </option> 
                          </select>  </td>
                        </tr>


                        <tr>
                          <td>Industry</td>
                          <td><select class="form-control form-modal" [disabled]="isReadOnly">
                            <option value="1">{{items.industry}}</option> 
                          </select>   </td>
                        </tr>


                        <tr>
                          <td>Amount</td>
                          <td> 
                            {{items.currency}} 
                            
                            <input type="number" class="form-control form-modal w-75" style="display: inline-block;" id="amount"  
                            [(ngModel)]="items.amount" name="amount"  [readonly]="isReadOnly">

                          </td>
                        </tr>

                        <tr>
                          <td>Stage</td>
                          <td>  {{items.stage}}  </td>
                        </tr>

                        <tr>
                          <td>Probability (%)</td>
                          <td> {{items.progress}} %  </td>
                        </tr>


                        <tr>
                          <td>Type</td>
                          <td> <select class="form-control form-modal" [disabled]="isReadOnly">
                            <option value="1">New Business</option> 
                          </select> </td>
                        </tr>


                        <tr>
                          <td>Closed Date</td>
                          <td>  
                            <span [hidden]="!isReadOnly">
                              {{items.closedDate.day}}/{{items.closedDate.month}}/{{items.closedDate.year}}
                            </span>

                            <span [hidden]="isReadOnly">
                              <input type="text" class="form-control form-modal" placeholder="yyyy-mm-dd"
                                (click)="d.toggle()" readonly name="d" [(ngModel)]="items.closedDate"
                                ngbDatepicker #d="ngbDatepicker" required>
                            </span>  
                          </td>
                        </tr>

                        <tr>
                          <td>Account Manager</td>
                          <td> <select class="form-control form-modal" [disabled]="isReadOnly">
                              <option value="1">Admin</option> 
                            </select> </td>
                        </tr>
                      </table>

                    </div>
                     
                  </div> 

                  <!-- End detail-->



                </div>
 
                <div class="row">
                  <div class="col-6">

                    <strong>Information</strong>
                    <table class="table table-list">

                      <tbody>

                        <tr>
                          <td width="30%"><label>Name</label></td>
                          <td> {{items.name}}</td>
                        </tr>
                        <tr>
                          <td><label>Amount</label></td>
                          <td> {{items.currency}} {{items.amount | number:''}} </td>
                        </tr>
                        <tr>
                          <td><label>stage</label></td>
                          <td> <strong style="font-size: 14px"> {{items.stage}}</strong>

                            <div [hidden]="!showUpdateStage"><a href="javascript:;"
                                (click)="updateStage();"><small>Update to
                                  {{stageCurrent}} </small></a></div>
                          </td>
                        </tr>
                        <tr>
                          <td><label>Progress</label></td>
                          <td> {{items.progress}} % </td>
                        </tr>
                        <tr>
                          <td><label>Lead Source</label></td>
                          <td> {{items.lead_source}} </td>
                        </tr>

                        <tr>
                          <td><label>Account Manager</label></td>
                          <td> {{items.user}} </td>
                        </tr>
                      </tbody>


                    </table>

                  </div>

                  <div class="col-6">

                    <Br>
                    <table class="table table-list">
                      <tbody>
                        <tr>
                          <td width="30%"><label>Company</label></td>
                          <td> <a [routerLink]="[ '/company', items.id_company ]"> {{items.company}} </a></td>
                        </tr>
                        <tr>
                          <td> <label>Contact Person</label></td>
                          <td> <a [routerLink]="[ '/contact/',items.id_contact ]"> {{items.contact}} </a> </td>
                        </tr>
                        <tr>
                          <td><label>Industry</label></td>
                          <td> {{items.industry}} </td>
                        </tr>
                        <tr>
                          <td><label>Created Date</label></td>
                          <td> {{items.input_date | date:'d MMM y  hh:mm a'}}, <small> by {{items.input_by}}</small>
                          </td>
                        </tr>
                        <tr [hidden]="items.update_by == false">
                          <td><label>Update Date</label></td>
                          <td> {{items.update_date | date:'d MMM y  hh:mm a'}}, <small> by {{items.update_by}} </small>
                          </td>
                        </tr>
                        <tr>
                          <td><label>ID Opportunity</label></td>
                          <td><span class="text-monospace">{{items.id}}</span></td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
 

             

            </ng-template>
          </ngb-tab>

        </ngb-tabset>

      </div>




      <!-- Product -->
      <div class="row py-2">
        <div class="col-12 ">
          <div class="border py-1 px-2 border-top-brown rounded">

            <div class="row">
              <div class="col-6"><strong>Products ({{product.length}}) </strong></div>
              <div class="col-6 text-right"> <button class="btn btn-classic btn-sm"><i class="fas fa-plus"></i>
                  New</button> </div>
            </div>

            <div class="row">
              <div class="col-6 mb-2" *ngFor="let x of product; let i = index">

                <table class="table-items">
                  <thead>
                    <tr>
                      <th colspan="2"> <a href="">{{x.product.name}}</a></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td width="100">Quantiy</td>
                      <td>: {{x.qty}}</td>
                    </tr>
                    <tr>
                      <td>Sales Price</td>
                      <td>: {{x.currency}} {{x.price | number}}</td>
                    </tr>
                  </tbody>
                </table>

                <hr [hidden]=" i - 1 > 0" class="p-0 m-0 mt-2">
              </div>

            </div>


          </div>
        </div>
      </div>

      <!-- Quotes -->
      <div class="row py-2">
        <div class="col-12">
          <div class="bg-light border border-top-brown rounded p-1">
            <div class="row my-1">
              <div class="col-6 "> <strong>Quotes </strong></div>
              <div class="col-6 text-right"><button type="button" class="btn btn-classic btn-sm mr-1"
                  (click)="openLg(addQuote);"> <i class="fas fa-file-alt"></i>
                  Generate New Quotes</button> </div>
            </div>


            <table class="table table-hover border bg-white border-top border-bottom pointer">
              <thead class="thead-light">
                <tr>

                  <th scope="col">Quotes Number</th>
                  <th scope="col">Quotes Name</th>
                  <th scope="col" class="text-center">Sync</th>
                  <th scope="col">Expiration Date</th>
                  <th scope="col">Grand Total</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let x of quotes">
                  <td> <a [routerLink]="[ '/quote/', x.id ]" class="text-monospace"> {{x.quotes_number}}</a> </td>
                  <td> {{x.name}} </td>
                  <td class="text-center"> <i class="far fa-{{ x.syncing ? 'check-':'' }}square"></i> </td>
                  <td> {{x.expired_date | date}} </td>

                  <td> {{x.currency}} {{x.grand_total}} </td>
                </tr>
              </tbody>

            </table>

          </div>

        </div>
      </div>


      <!-- Contact Roles -->
      <div class="row py-2">
        <div class="col-12 ">
          <div class="border py-1 px-2 border-top-brown rounded">

            <div class="row">
              <div class="col-6"><strong>Contact Roles (3) </strong></div>
              <div class="col-6 text-right"> <button class="btn btn-classic btn-sm"><i class="fas fa-plus"></i>
                  New</button> </div>
            </div>

            <div class="row">
              <div class="col-6 mb-2" *ngFor="let x of product">

                <table class="table-items">
                  <thead>
                    <tr>
                      <th> <a href="">Mrs Kazama <i class="fas fa-check"></i></a></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Sales Manager Departement</td>
                    </tr>
                    <tr>
                      <td>IT Support</td>
                    </tr>
                  </tbody>
                </table>

                <hr class="p-0 m-0 mt-2">
              </div>

            </div>


          </div>
        </div>
      </div>


      <!-- Competitor -->
      <div class="row py-2">
        <div class="col-12 ">
          <div class="border py-1 px-2 border-top-brown rounded">

            <div class="row">
              <div class="col-6"><strong>Competitor (3) </strong></div>
              <div class="col-6 text-right"> <button class="btn btn-classic btn-sm"><i class="fas fa-plus"></i>
                  New</button> </div>
            </div>

            <div class="row">
              <div class="col-6 mb-2" *ngFor="let x of product">

                <table class="table-items">
                  <thead>
                    <tr>
                      <th> <a href="">Mrs Kazama <i class="fas fa-check"></i></a></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Sales Manager Departement</td>
                    </tr>
                    <tr>
                      <td>IT Support</td>
                    </tr>
                  </tbody>
                </table>

                <hr class="p-0 m-0 mt-2">
              </div>

            </div>


          </div>
        </div>
      </div>


    </div>

    <div class="col-3 col-md-4 border border-top-0">

      <div class="row py-3">
        <div class="col-6">
          <strong>History Activities</strong>
        </div>
        <div class="col-6 text-right">
          <button type="button" class="btn btn-classic btn-sm btn-block  mr-1"> <i class="fab fa-rocketchat"></i>
            Activity </button>
        </div>
      </div>

      <div class="row">
        <div class="col-12 mb-2">
          <strong class="text-secondary">Quotes PDF</strong>

        </div>
        <div class="col-12">
          <button type="button" class="btn btn-classic btn-sm mr-1" (click)="openLg(addQuote);"> <i
              class="fas fa-file-alt"></i>
            Generate New Quotes</button>

        </div>

        <div class="col-12 mt-2">

          <div class="border-bottom" *ngFor="let x of quotes">

            <ul class="list-1">
              <li> <a [routerLink]="[ '/quote/',x.id ]" class="text-monospace"> {{x.quotes_number}}</a> </li>
              <li> <small>{{x.name}}</small> </li>
              <li> <small> Grand Total : {{x.grand_total}}</small> </li>

            </ul>


          </div>


        </div>

      </div>

    </div>

  </div>
</div>


<div [hidden]="isReadOnly"><br><br></div>

<div class="footer-menu bg-white shadow border-top" [hidden]="isReadOnly">
  <div class="container">
    <div class="row">
      <div class="offset-1 col-10 text-center p-1">
        <a class="btn btn-outline-secondary m-1" (click)="isReadOnly=true">Close</a>
        <button type="submit" class="btn btn-primary m-1" [disabled]="!quoteForm.form.valid">Save</button>
      </div>
      <div class="col-1">
        <div class="py-3"></div>
      </div>
    </div>
  </div>
</div>
</form>
<ng-template #win let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">Close Opportunity</strong>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-light">

    <form (ngSubmit)="onClosed('win')" #myFormWin="ngForm">
      <div class="row">
        <div class="col-12 mb-4">
          <div class="display-2 text-center text-warning"><i class="fas fa-crown"></i></div>
          <h4 class="text-center text-warning">Closed Win</h4>
        </div>
        <div class="col-12">

          <div class="form-group row no-gutters">
            <label for="h2" class="col-sm-3 col-form-label"> Closed Date</label>
            <div class="col-sm-8">
              <input type="text" class="form-control border" placeholder="{{modelClosedWin.date}}"
                [(ngModel)]="modelClosedWin.date" name="date" ngbDatepicker #d="ngbDatepicker" readonly
                (click)="d.toggle()">
            </div>
          </div>



          <div class="form-group row no-gutters">
            <label for="h4" class="col-sm-3 col-form-label">Notes</label>
            <div class="col-sm-8">
              <textarea class="form-control border" required [(ngModel)]="modelClosedWin.notes" name="notes"
                #notesWin="ngModel"></textarea>
              <small [hidden]="notesWin.valid || notesWin.pristine" class="text-danger"> Notes is
                required</small>
            </div>
          </div>


          <div class="form-group row no-gutters">
            <label for="h4" class="col-sm-3 col-form-label">Account Manager </label>
            <div class="col-sm-8">
              <select class="form-control border" [(ngModel)]="modelClosedWin.id_user" name="id_user">
                <option [ngValue]="x.id" *ngFor="let x of user">{{x.name}}</option>

              </select>
            </div>
          </div>

        </div>

        <div class="col-12 text-center">
          <span [hidden]="finish">
            <button type="submit" class="btn btn-success m-1" (click)="onClosed('win');"
              [disabled]="!myFormWin.form.valid"> <i class="fas fa-thumbs-down"></i> Closed Win</button>

          </span>
          <span [hidden]="!finish">

            <button type="submit" class="btn btn-outline-dark m-1" (click)="modal.dismiss('Cross click')">
              Close</button>
          </span>
        </div>

      </div>

    </form>
  </div>

</ng-template>

<ng-template #lose let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">Close Opportunity</strong>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-light">

    <form (ngSubmit)="onClosed('lose')" #myFormLose="ngForm">
      <div class="row">
        <div class="col-12 mb-4">
          <div class="display-2 text-center text-gray"><i class="fas fa-sad-tear"></i> </div>
          <h4 class="text-center text-gray">Closed Lose</h4>
        </div>
        <div class="col-12">


          <div class="form-group row no-gutters">
            <label for="h2" class="col-sm-3 col-form-label"> Closed Date</label>
            <div class="col-sm-8">
              <input type="text" class="form-control border" placeholder="{{modelClosedLose.date}}"
                [(ngModel)]="modelClosedLose.date" name="date" ngbDatepicker #d="ngbDatepicker" readonly
                (click)="d.toggle()">
            </div>
          </div>



          <div class="form-group row no-gutters">
            <label for="h4" class="col-sm-3 col-form-label">Reason</label>
            <div class="col-sm-8">
              <textarea class="form-control border" required [(ngModel)]="modelClosedLose.notes" name="notes"
                #notesLose="ngModel"></textarea>
              <small [hidden]="notesLose.valid || notesLose.pristine" class="text-danger"> Notes is
                required</small>
            </div>
          </div>


          <div class="form-group row no-gutters">
            <label for="h4" class="col-sm-3 col-form-label">Account Manager </label>
            <div class="col-sm-8">
              <select class="form-control border" [(ngModel)]="modelClosedLose.id_user" name="id_user">
                <option [ngValue]="x.id" *ngFor="let x of user">{{x.name}}</option>

              </select>
            </div>
          </div>


        </div>

        <div class="col-12 text-center">

          <span [hidden]="finish">
            <button type="submit" class="btn btn-dark m-1" (click)="onClosed('lose');"
              [disabled]="!myFormLose.form.valid"> <i class="fas fa-thumbs-down"></i> Closed Lose</button>

          </span>
          <span [hidden]="!finish">

            <button type="submit" class="btn btn-outline-dark m-1" (click)="modal.dismiss('Cross click')">
              Close</button>
          </span>
        </div>

      </div>

    </form>
  </div>

</ng-template>

<ng-template #addProduct let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">Add Products </strong>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-white">
    <table>
      <thead>
        <tr>
          <th>asdfasdf</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-outline-dark" (click)="modal.close('Save click')">Closed</button>
  </div>
</ng-template>

<ng-template #addQuote let-modal>
  <form (ngSubmit)="fn_newQuote()" #quoteForm="ngForm">
    <div class="modal-header">
      <strong class="modal-title" id="modal-basic-title">New Quote </strong>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-white">
      <div class="container-fluid">

        <div class="row">
          <div class="col-12 bg-light">
            <strong>Quotes Information</strong>
          </div>
          <div class="col-6">
            <table class="table table-borderless">
              <tr>
                <td width="40%">Quotes Name</td>
                <td>
                  <input type="text" class="form-control form-modal" id="name" required [(ngModel)]="quoteModel.name"
                    name="name" #name="ngModel">
                  <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Name is required
                  </div>
                </td>
              </tr>
              <tr>
                <td>Opportunity Name</td>
                <td> <b> {{items.name}} </b> </td>
              </tr>
              <tr>
                <td>Company Name</td>
                <td> <b>{{items.company}} </b> </td>
              </tr>

              <tr>
                <td>Account Manager</td>
                <td> <select class="form-control form-modal">
                    <option value="1">Admin</option>
                  </select> </td>
              </tr>
            </table>

          </div>
          <div class="col-6">

            <table class="table table-borderless">
              <tr>
                <td width="40%">Expiration Date</td>
                <td> <input type="text" class="form-control form-modal" placeholder="yyyy-mm-dd" (click)="d.toggle()"
                    readonly name="d" [(ngModel)]="quoteModel.expirationDate" ngbDatepicker #d="ngbDatepicker" required>
                </td>
              </tr>
              <tr>
                <td>Syncing</td>
                <td><input type="checkbox" checked name="" [(ngModel)]="quoteModel.syncing" name="syncing"></td>
              </tr>
              <tr>
                <td>Status</td>
                <td>
                  <select class="form-control form-modal" [(ngModel)]="quoteModel.status" name="status">
                    <option value="1">Draft</option>
                  </select>

                </td>
              </tr>
              <tr>
                <td>Description</td>
                <td>
                  <textarea class="form-control form-modal" [(ngModel)]="quoteModel.desciption"
                    name="desciption"></textarea>

                </td>
              </tr>
            </table>

          </div>
        </div>


        <div class="row">
          <div class="col-12 bg-light">
            <strong> Total</strong>
          </div>
          <div class="col-6">
            <table class="table table-borderless">
              <tr>
                <td width="40%">Discount (%)</td>
                <td> <input type="text" class="form-control form-modal" id="" style="width:40%"
                    [(ngModel)]="quoteModel.discount" name="discount"> </td>
              </tr>
            </table>
          </div>
          <div class="col-6">
            <table class="table table-borderless">
              <tr>
                <td width="40%">Tax (%)</td>
                <td><input type="text" class="form-control form-modal" id="" style="width:40%"
                    [(ngModel)]="quoteModel.tax" name="tax"></td>
              </tr>
              <tr>
                <td>Shipping and Handing</td>
                <td><input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.shipping"
                    name="shipping"> </td>
              </tr>
              <tr>
                <td>Grand Total</td>
                <td> <b>IDR 0</b></td>
              </tr>
            </table>
          </div>
        </div>


        <div class="row">
          <div class="col-12 bg-light">
            <strong> Prepared For</strong>
          </div>
          <div class="col-6">
            <table class="table table-borderless">
              <tr>
                <td width="40%">Contact Name</td>
                <td><select class="form-control form-modal">
                    <option (value)="items.id_contact">{{items.contact}}</option>
                  </select></td>
              </tr>
              <tr>
                <td>Email</td>
                <td>
                  <input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.email" name="email">
                </td>
              </tr>
            </table>
          </div>
          <div class="col-6">
            <table class="table table-borderless">
              <tr>
                <td width="40%">Phone</td>
                <td> <input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.phone"
                    name="phone"></td>
              </tr>
              <tr>
                <td>Fax</td>
                <td> <input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.fax" name="fax">
                </td>
              </tr>
            </table>
          </div>
        </div>


        <div class="row">
          <div class="col-12 bg-light">
            <strong> Address Information</strong>
          </div>
          <div class="col-6">
            <table class="table table-borderless">
              <tr>
                <td width="40%">Bill To Name</td>
                <td><input type="text" class="form-control form-modal" id="" name=""></td>
              </tr>
              <tr>
                <td>Bill To Street 1</td>
                <td><input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.bill_street1"
                    name="bill_street1"></td>
              </tr>
              <tr>
                <td>Bill To Street 2</td>
                <td><input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.bill_street2"
                    name="bill_street2"></td>
              </tr>

              <tr>
                <td>Bill To City</td>
                <td><input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.bill_city"
                    name="bill_city"></td>
              </tr>
              <tr>
                <td>Bill To State /Province</td>
                <td><input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.bill_state"
                    name="bill_state"></td>
              </tr>
              <tr>
                <td>Bill To Postal Code</td>
                <td><input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.bill_code"
                    name="bill_code"></td>
              </tr>
            </table>
          </div>
          <div class="col-6">
            <table class="table table-borderless">
              <tr>
                <td width="40%">Ship To Name</td>
                <td><input type="text" class="form-control form-modal" id="" name=""></td>
              </tr>
              <tr>
                <td>Ship To Street 1</td>
                <td><input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.ship_street1"
                    name="ship_street1"></td>
              </tr>
              <tr>
                <td>Ship To Street 2</td>
                <td><input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.ship_street2"
                    name="ship_street2"></td>
              </tr>

              <tr>
                <td>Ship To City</td>
                <td><input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.ship_city"
                    name="ship_city"></td>
              </tr>
              <tr>
                <td>Ship To State /Province</td>
                <td><input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.ship_state"
                    name="ship_state"></td>
              </tr>
              <tr>
                <td>Ship To Postal Code</td>
                <td><input type="text" class="form-control form-modal" id="" [(ngModel)]="quoteModel.ship_code"
                    name="ship_code"></td>
              </tr>
            </table>
          </div>
        </div>

      </div>

      {{quoteModel | json}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-outline-dark" (click)="modal.close('Save click')">Closed</button>

      <button type="submit" class="btn btn-success" [disabled]="!quoteForm.form.valid">Submit</button>
    </div>
  </form>
</ng-template>