<ngx-loading [show]="loading"></ngx-loading>
<app-navigator></app-navigator>


<div class="container-fluid bg-light border py-1">
    <div class="row">
        <div class="col-12">
            <small> You are here : <a [routerLink]="[ '/lost' ]">Lost</a> / <a
                    [routerLink]="[ '/lost/',id ]">{{items.name}}</a> </small>
        </div>
    </div>
</div>


<!-- Menu & Information -->
<div class="container-fluid">
    <!-- Header  -->
    <div class="row border-bottom ">

        <div class="col-3 bg-light py-2">
            <div class="module-name">
                <strong>LOST</strong>
                <b class="text-primary">{{items.name}}</b>
            </div>
        </div>

        <div class="col-9 bg-light text-right py-2">

        
            <button type="button" class="btn btn-classic btn-sm  mr-1" (click)="rollback();"> <i
                    class="fas fa-edit"></i> Rollback To  Opportunity </button>
 
            <button type="button" class="btn btn-classic btn-sm  mr-1" [routerLink]="[ '/lost' ]" title="back"> <i
                    class="fas fa-times"></i> </button>
        </div>

        <div class="col-12 py-2">
            <table class="table-p0">
                <tr>
                    <td> <small> Company</small> </td>
                    <td> <small> Start Date &  Closed Date </small> </td>
                    <td> <small> Timeline Project </small> </td> 
                    <td> <small> Reason Lost </small> </td>
                    <td> <small> Amount </small> </td>
                  
                </tr>

                <tr>
                    <td> <b class="text-primary"> <a  [routerLink]="[ '/company', items.id_company ]">{{items.company}}</a> </b> </td>
                    <td> <b class="text-primary"> {{items.start_date  |date }} - {{items.closed_date  |date }}</b> </td>
                    <td> <b class="text-primary"> {{items.timeline }} days</b> </td>
                    <td> <b class="text-primary"> {{items.closed_reason }}</b> </td>

                    <td> <b class="text-primary"> {{items.currency}} {{items.amount | number}} </b> </td>
                 
                </tr>
            </table>
        </div>

    </div>

</div>

<div class="container-fluid  bg-white">

    <div class="row">
        <div class="col-9 col-md-8">



            <div class="py-2">
                <ngb-tabset type="pills">



                    <ngb-tab>
                        <ng-template ngbTabTitle>Detail</ng-template>
                        <ng-template ngbTabContent>
                            <div class="border-top py-2 my-2">
                                <!-- detail -->
                                <div class="row">
                                    <div class="col-12 bg-light">
                                        <strong>Information</strong>
                                    </div>
                                    <div class="col-12">
                                        <table class="table table-borderless">
                                            <tr>
                                                <td width="200">Opportunity Name</td>
                                                <td> 
                                                    <input type="text" class="form-control form-modal"   value="{{items.name}}" readonly> 
                                                </td>
                                            </tr>



                                            <tr>
                                                <td>Account Manager</td>
                                                <td>  <input type="text" class="form-control form-modal"   value="{{items.user}}" readonly>  </td>
                                            </tr>
                                        </table>

                                    </div>

                                    <div class="col-12 bg-light">
                                        <strong>Detail</strong>
                                    </div>

                                    <div class="col-12 col-lg-6">
                                        <table class="table table-borderless">

                                            <tr width="40%">
                                                <td>Contact</td>
                                                <td>  <input type="text" class="form-control form-modal"   value="{{items.contact}}" readonly> </td>
                                            </tr>

                                            <tr width="40%">
                                                <td>Lead Source</td>
                                                <td>  <input type="text" class="form-control form-modal"   value="{{items.lead_source}}" readonly> </td>
                                            </tr>


                                            <tr>
                                                <td>Industry</td>
                                                <td>
                                                    <input type="text" class="form-control form-modal"   value="{{items.industry}}" readonly>
                                                </td>
                                            </tr>


                                            <tr>
                                                <td>Started Date</td>
                                                <td>
                                                    <input type="text" class="form-control form-modal"   value="{{items.start_date | date:'d MMM y  hh:mm a'}}" readonly> 
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>Expecting Closing Date</td>
                                                <td>
                                                    <input type="text" class="form-control form-modal"   value="{{items.expecting_closing_date | date:'d MMM y  hh:mm a'}}" readonly> 
                                                </td>
                                            </tr>

                                        </table>

                                    </div>

                                    <div class="col-12 col-lg-6">
                                        <table class="table table-borderless">

                                            <tr>
                                                <td width="40%">Amount</td>
                                                <td>
                                                   

                                                    <input type="text" class="form-control form-modal"   value="{{items.currency}} {{items.amount |number}}" [readonly]="isReadOnly">

                                                </td>
                                            </tr>

                                            <tr>
                                                <td>Stage</td>
                                                <td> <input type="text" class="form-control form-modal"
                                                        value="{{items.stage}}" [readonly]="isReadOnly"> </td>
                                            </tr>

                                            <tr>
                                                <td>Probability (%)</td>
                                                <td> <input type="text" class="form-control form-modal"
                                                        value="{{items.progress}} %" [readonly]="isReadOnly"> </td>
                                            </tr>
                                            <tr>
                                                <td><label>Created Date</label></td>
                                                <td>
                                                    <input type="text" class="form-control form-modal"
                                                        value=" {{items.input_date | date:'d MMM y  hh:mm a'}}"
                                                        [readonly]="isReadOnly">
                                                    <small> by {{items.input_by}}</small>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label>Update Date</label></td>
                                                <td> <input type="text" class="form-control form-modal"
                                                        value=" {{items.update_date | date:'d MMM y  hh:mm a'}}"
                                                        [readonly]="isReadOnly">
                                                    <small> by {{items.update_by}} </small>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>


                                    <div class="col-12 bg-light">
                                        <strong>More Information</strong>
                                    </div>

                                    <div class="col-12 col-lg-12">
                                        <table class="table table-borderless">

                                            <tr>
                                                <td width="30%">Opportunity Budget (IDR)</td>
                                                <td>  <input type="text" class="form-control form-modal"  value="Rp {{items.budget | number}}" [readonly]="isReadOnly">  </td>
                                            </tr>

                                            <tr>
                                                <td>Competitor</td>
                                                <td> <input type="text" class="form-control form-modal"  value="{{items.competitor}}" [readonly]="isReadOnly"> </td>
                                            </tr>

                                            <tr>
                                                <td>Contact Person</td>
                                                <td> <input type="text" class="form-control form-modal"  value="{{items.contact}}" [readonly]="isReadOnly"> </td>
                                            </tr>

                                            <tr>
                                                <td>Comparison with competitor</td>
                                                <td> <input type="text" class="form-control form-modal"  value="{{items.comparison_with_competitor}}" [readonly]="isReadOnly"> </td>
                                            </tr>

                                            <tr>
                                                <td>Critical point</td>
                                                <td> <input type="text" class="form-control form-modal"  value="{{items.critical_point}}" [readonly]="isReadOnly"> </td>
                                            </tr>
 

                                            <tr>
                                                <td>Our proposal</td>
                                                <td> <textarea  class="form-control form-modal"  [readonly]="isReadOnly">{{items.our_proposal}}</textarea>  </td>
                                            </tr>
 

                                            <tr>
                                                <td>Other of Analysis</td>
                                                <td><textarea  class="form-control form-modal" [readonly]="isReadOnly">{{items.notes1}}</textarea> </td>
                                            </tr>
 
                                            <tr>
                                                <td>Attachment of Proposal</td>
                                                <td>
                                                    <div class="border-bottom pb-2">
                                                        <a href="{{x.url}}" target="_blank" class="border px-2 bg-light mr-1" *ngFor="let x of attachment" >   {{x.file_name}} </a>

                                                    </div>
                                                 
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>Notes of Proposal</td>
                                                <td> <textarea  class="form-control form-modal" [readonly]="isReadOnly">{{items.notes2}}</textarea> </td>
                                            </tr>


                                            <tr>
                                                <td>Notes of Negotation</td>
                                                <td> <textarea  class="form-control form-modal" [readonly]="isReadOnly">{{items.notes3}}</textarea> </td>
                                            </tr>

                                            <tr>
                                                <td>Attachment Purchased Order</td>
                                                <td>
                                                    <div class="border-bottom pb-2">
                                                        <a href="{{x.url}}" target="_blank" class="border px-2 bg-light mr-1" *ngFor="let x of attachmentPO" >   {{x.file_name}} </a>

                                                    </div>
                                                </td>
                                            </tr>


                                        </table>

                                    </div>

                                </div>
                                <!-- End detail-->
                            </div>
                        </ng-template>
                    </ngb-tab>


                    <ngb-tab>
                        <ng-template ngbTabTitle>Related</ng-template>
                        <ng-template ngbTabContent>
                            <div class="border-top py-2 my-2">
                                <!-- Product -->
                                <div class="row py-2">
                                    <div class="col-12 ">
                                        <div class="border py-1 px-2 border-top-brown rounded">

                                            <div class="row">
                                                <div class="col-12"><strong>Products ({{product.length}}) </strong>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-6 mb-2" *ngFor="let x of product; let i = index">

                                                    <table class="table-items">
                                                        <thead>
                                                            <tr>
                                                                <th> <a href="">{{x.product.name}}</a></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr>

                                                                <td> {{x.currency}} {{x.price | number}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <hr [hidden]=" i - 1 > 0" class="p-0 m-0 mt-2">
                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                </div>
  
                            </div>
                        </ng-template>
                    </ngb-tab>


                </ngb-tabset>

            </div>


        </div>

        <div class="col-3 col-md-4 border border-top-0">

            <!-- QUOTATION -->
            <div class="row py-2">
                <div class="col-12 ">
                    <div class="border py-1 px-2 border-top-brown rounded">

                        <div class="row">
                            <div class="col-12"><strong>Information Order </strong></div>
                        </div>

                        <div class="row mt-2" [hidden]="items.quote.id == '0'">
                            <div class="col-12 my-1"><b>Quotation </b></div>
                            <div class="col-12 mb-1">
                                <table class="table-items">

                                    <tbody>
                                        <tr>
                                            <td> <a [routerLink]="[ '/quote', items.quote.id ]"><b>{{items.quote.quote_number}}
                                                    </b> </a> </td>
                                        </tr>
                                        <tr>
                                            <td> Grand Total : {{items.currency}} {{items.quote.grand_total | number}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> Contact : {{items.quote.contact}} </td>
                                        </tr>
                                        <tr>
                                            <td> Account Manager : {{items.quote.user}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-12">
                                <hr class="p-0 m-0 mt-1">
                            </div>

                            <div class="col-12 my-1" ><b>Sales Order </b></div>
                            <div class="col-12 mb-1">
                                <table class="table-items mb-2 border-bottom" *ngFor="let x of sales_order">
                                    <tbody>
                                        <tr>
                                            <td> <a [routerLink]="[ '/salesOrder', x.id ]"> <b> {{x.so_number}}</b></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> Grand Total : {{ x.currency }} {{x.grand_total | number}}</td>
                                        </tr>
                                        <tr>
                                            <td> Created date {{x.expired_date | date}} </td>
                                        </tr>
                                        <tr>
                                            <td> Account Manager : {{x.user}}</td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>

                        </div>


                    </div>
                </div>
            </div>


            <!-- Contact Roles -->
            <div class="row py-2">
                <div class="col-12 ">
                    <div class="border py-1 px-2 border-top-brown rounded">

                        <div class="row">
                            <div class="col-12"><strong>Contact Roles ({{contact.length}}) </strong></div>

                        </div>

                        <div class="row">
                            <div class="col-6 mb-2" *ngFor="let x of contact">

                                <table class="table-items">
                                    <thead>
                                      <tr>
                                        <th> 
                                          <a [routerLink]="[ '/contact', x.id ]">{{x.name}} <span [hidden]="!x.active"> <i class="fas fa-check"></i>
                                            </span></a>
                                          </th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>{{x.position}}, {{x.department}} </td>
                                      </tr>
                  
                                    </tbody>
                                  </table>

                                <hr class="p-0 m-0 mt-2">
                            </div>

                        </div>


                    </div>
                </div>
            </div>


        </div>

    </div>
</div>

<ng-template #createSO let-modal>
    <app-sales-order-create (uploaded)="requestEmit($event)"></app-sales-order-create>
</ng-template>