<ngx-loading [show]="loading"></ngx-loading>
<app-navigator></app-navigator>

<div class="container-fluid bg-light border-bottom py-1">
    <div class="row">
        <div class="col-12">
            <small> You are here : <a [routerLink]="[ '/contact' ]">Product</a> </small>
        </div>
    </div>
</div>


<div class="container-fluid border shadow-sm bg-white">

    <div class="row py-3">
        <div class="col-6 ">
            <div class="module-name">
                <h5>PRODUCT</h5>
            </div>
        </div>
        <div class="col-6 text-right">

            <button type="button" class="btn btn-classic  btn-sm" (click)="open(newProduct)"><i class="fas fa-plus"></i>
                New Product</button>
        </div>
    </div>


    <div class=" bg-light  border border-top-brown rounded p-1 my-3">

        <div class="row mb-3">
            <div class="col-8">


                <span class="dropdown">
                    <button class="btn btn-classic btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" (click)="open(markUpdate)"> Mart to
                            Delete</a>
                    </div>
                </span>

                <label class="pl-2">Total Count : 30</label>
            </div>

            <div class="col-4 text-right">
                <input type="text" class="form-control-sm form-radius" placeholder="Search">
            </div>

        </div>

        <div class="scroll-x scroll-style-2 max-height">

            <table class="table table-hover border bg-white border-top border-bottom pointer">
                <thead class="thead-light">
                    <tr>

                        <th class="text-center" width="20">No</th>
                        <th></th>

                        <th scope="col">SKU</th>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Qty</th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of items; let i = index" (click)="fn_check(x);">
                        <td> <a [routerLink]="[ '/product/',x.id]"> {{i+1}} </a> </td>
                        <td width="50"> <span class="text-primary ">
                                <i class=" {{ x.check ? 'fas fa-check-square' : 'far fa-square' }}"></i> </span>
                        </td>
                        <td>{{x.sku}}</td>
                        <td> <a [routerLink]="[ '/product/',x.id]"> <b> {{x.name}} </b></a></td>
                        <td>{{x.product_type}}</td>
                        <td>{{x.qty}}</td>
                    </tr>



                </tbody>
            </table>

        </div>


    </div>

</div>


<ng-template #markUpdate let-modal>
    <div class="modal-header">
      <strong class="modal-title" id="modal-basic-title">{{modalTitle}}</strong>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-white">
  
      <div [hidden]="!itemsSelected.length">
        <div class="form-group row">
          <div class="col-3">
            <div class="text-danger">
              Delete selected Product ?
            </div>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-classic btn-sm mx-1" (click)="fn_delete();">Yes</button>
            <button type="button" class="btn btn-classic btn-sm" (click)="modal.dismiss('Cross click')">Cancel</button>
          </div>
        </div>
        <table class="table border table-hover  table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>SKU</th>
              <th>Name</th>
              <th>Company</th> 
            </tr>
          </thead>
  
          <tbody>
            <tr *ngFor="let x of itemsSelected; let i = index">
              <td>{{ i + 1}}</td>
              <td>{{x.sku}}</td>
              <td>{{x.name}}</td> 
              <th> <a href="javascript:;" (click)="fn_removeItemSelected(x)"><i class="fas fa-times"></i></a> </th>
            </tr>
          </tbody>
  
  
        </table>
      </div>
      <div [hidden]="itemsSelected.length">
        <div class="text-center">
          Empty data.
        </div>
      </div>
  
    </div>
  
  </ng-template>


<ng-template #newProduct let-modal>
    <form (ngSubmit)="onSubmit()" #productForm="ngForm">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">


            <table class="table table-borderless">
                <tr>
                    <td width="40%">Product Name</td>
                    <td>

                        <input type="text" class="form-control" id="name" required [(ngModel)]="inserProduct.name"
                            name="name" #name="ngModel" (click)="clearNote();">
                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            Name is required
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>SKU</td>
                    <td>
                        <input type="text" class="form-control form-modal" id="sku" [(ngModel)]="inserProduct.sku"
                            name="sku" #sku="ngModel">
                    </td>
                </tr>

                <tr>
                    <td>Product Type</td>
                    <td> 

                            <select  class="form-control form-modal" id="id_product_type" [(ngModel)]="inserProduct.id_product_type"
                            name="id_product_type" #id_product_type="ngModel" required>
                                <option *ngFor="let x of product_type" value="{{x.id}}">{{x.name}}</option>
                            </select>
                    </td>
                </tr>

                <tr [hidden]="inserProduct.id_product_type != 10">
                    <td>Qty</td>
                    <td>
                        <input type="number" class="form-control form-modal" id="qty" [(ngModel)]="inserProduct.qty"
                            name="qty" #qty="ngModel">
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <span> {{modalNote}} </span>
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Closed</button>

            <button type="submit" class="btn btn-primary" [disabled]="!productForm.form.valid">Submit</button> 
        </div>
    </form>
</ng-template>