<ngx-loading [show]="loading"></ngx-loading> 

<form (ngSubmit)="onSubmit()" #myForm="ngForm">
  <div class="container border shadow-sm bg-white">

    <div class="row ">
      <div class="col-6">
        <small> You are here : <a [routerLink]="[ '/contact' ]">Contact</a> / <a
            [routerLink]="[ '/contact/',id ]">{{items.name}}
          </a> / <a [routerLink]="[ '/contact/edit/',id ]">
            Edit </a> </small>
      </div>
    </div>

    <div class="row container-header">

      <div class="col-6 ">
        <h5>CONTACT</h5>
      </div>

      <div class="col-6 text-right">

        <button type="button" class="btn btn-outline-secondary btn-sm" [routerLink]="[ '/contact/',id ]" title="back">
          <i class="fas fa-times"></i> </button>
      </div>

    </div>
    <h5 class="my-3">Information</h5>
    <div class="row mb-3">

      <div class="col-6">
        <table class="table table-list">
          <tbody>

            <tr>
              <td width="30%"><label>Name</label></td>
              <td>
                <select class="bg-light" id="h14" style="width: 20%" [(ngModel)]="model.id_title" name="id_title">
                  <option value="0"> - Select - </option>
                  <option [ngValue]="x.id" *ngFor="let x of title">{{x.name}}</option>
                </select>

                <input type="text" class="bg-light border-right" style="width: 80%" required
                  [(ngModel)]="model.first_name" name="first_name" #first_name="ngModel">
                <div><small [hidden]="first_name.valid || first_name.pristine" class="text-danger"> First name is
                    required</small>
                </div>
              </td>
            </tr>

            <tr>
              <td><label>Last Name</label></td>
              <td> <input type="text" class="bg-light" [(ngModel)]="model.last_name" name="last_name"> </td>
            </tr>

            <tr>
              <td><label>Email</label></td>
              <td> <input type="email" class="bg-light" [(ngModel)]="model.email" name="email"> </td>
            </tr>

            <tr>
              <td><label>Phone</label></td>
              <td> <input type="text" class="bg-light" [(ngModel)]="model.phone" name="phone"> </td>
            </tr>

            <tr>
              <td><label>Mobile</label></td>
              <td> <input type="text" class="bg-light" [(ngModel)]="model.mobile" name="mobile"> </td>
            </tr>


          </tbody>
        </table>

      </div>

      <div class="col-6">

        <table class="table table-list">
          <tbody>
            <tr>
              <td width="30%"><label>Company</label></td>
              <td> <select class="bg-light" [(ngModel)]="model.id_company" name="id_company">
                  <option value="0"> - Select - </option>
                  <option [ngValue]="x.id" *ngFor="let x of company">{{x.name}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td><label>Lead Source</label></td>
              <td>
                <select class="bg-light" [(ngModel)]="model.id_lead_source" name="id_lead_source">
                  <option value="0"> - Select - </option>
                  <option [ngValue]="x.id" *ngFor="let x of lead_source">{{x.name}}</option>
                </select>
              </td>
            </tr>

            <tr>
              <td><label>Lead owner </label></td>
              <td>
                <select class="bg-light" [(ngModel)]="model.id_user" name="id_user">
                  <option [ngValue]="x.id" *ngFor="let x of user">{{x.name}}</option>
                </select>
              </td>
            </tr>
          </tbody>


        </table>



      </div>
    </div>
    <div class="border p-1 bg-gray">
      debuging only
      <code>{{diagnostic}}</code>
    </div>
    <br>

  </div>



  <div class="footer-menu bg-white shadow border-top">
    <div class="container">
      <div class="row">
        <div class="offset-1 col-10 text-center p-1">
          <a class="btn btn-outline-secondary m-1" [routerLink]="[ '/contact/',id ]">Cancel</a>
          <button type="submit" class="btn btn-primary m-1" (click)="onSubmit();"
            [disabled]="!myForm.form.valid">Save</button>
        </div>
        <div class="col-1">
          <div class="py-3"></div>
        </div>
      </div>
    </div>
  </div>


</form>