<ngx-loading [show]="loading"></ngx-loading>
<app-navigator></app-navigator>

<div class="container-fluid bg-light border py-1">
  <div class="row">
    <div class="col-12">
      <small> You are here : <a [routerLink]="[ '/quote' ]">Quote</a> </small>
    </div>
  </div>
</div>


<div class="container-fluid  bg-white pb-3">

  <div class="container-header">
    <div class="row ">

      <div class="col-12">
        <div class="module-name">
          <h5>QUOTES</h5>
        </div>
      </div>

    </div>
  </div>

  <div class=" bg-light  border border-top-brown rounded p-1">
 
    <table  id="dtable"  class="table table-hover border bg-white border-top border-bottom pointer">
      <thead class="thead-light">
        <tr>

          <th width="50">ID</th>  
          <th >Quote Number</th>
          <th  class="select-filter">Company</th>

          <th scope="col">Total</th>
          <th scope="col">Expired</th> 

          <th scope="col"  class="select-filter">Status</th> 
          <th scope="col"  class="select-filter">Account Manager</th>
     
        </tr>
      </thead>

      <tfoot>
        <tr>
          <th></th> 
          <th></th>  
          <th></th>

          <th></th>
          <th></th> 

          <th></th> 
          <th></th> 
 
        </tr>
      </tfoot>
    
    </table>
 

  </div>


</div>