<ngx-loading [show]="loading"></ngx-loading> 

<app-navigator></app-navigator>
<div class="container border shadow-sm bg-white">

  <div class="row">
    <div class="col-6">
      <small> You are here : <a [routerLink]="[ '/quote' ]">Quote</a> </small>
    </div>

  </div>
  <div class="row container-header">

    <div class="col-6">
      <h5>QUOTE</h5>
    </div>
   
  </div>


  <div class="my-3">
    
    <div class="row mb-3">
      <div class="col-8">

        
        <label class="pl-2">Total Count : 20</label>
      </div>

      <div class="col-4 text-right">
        <input type="text" class="form-control-sm form-radius" placeholder="Search">
      </div>

    </div>

    <div class="scroll-x max-height">

      <table class="table table-hover border bg-white border-top border-bottom pointer">
        <thead class="thead-light">
          <tr>
          
            <th>No</th>

            <th scope="col">Quote No</th>
            <th scope="col">Name</th>

            <th scope="col">Company</th>

            <th scope="col">Expired</th>
            <th scope="col" class="text-right" colspan="2">Amount</th>

            <th scope="col">Sales By</th>
            <th scope="col">Created Date</th>
            <th scope="col">Created By</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of items; let i = index" >
          
            <td width="50"> {{ i + 1}} </td>
            <td><a [routerLink]="[ '/quote/1']"> {{x.quotes}}</a></td>
            <td>{{x.name}}</td>
            
            <td>{{x.company}}</td>
            <td>{{x.expired}}</td>
            <td width="50">IDR</td>
            <td class="text-right">{{x.amount | number:''}},-</td>
            <td>{{x.sales}}</td>
            <td>{{x.sales}}</td>
            <td>{{x.expired}}</td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>

  <br>


</div>
