<ngx-loading [show]="loading"></ngx-loading>

<app-navigator></app-navigator>

<div class="container-fluid bg-light border-bottom py-1">
  <div class="row">
    <div class="col-12">
      <small> You are here : <a [routerLink]="[ '/user' ]">User</a> </small>
    </div>
  </div>
</div>

<div class="container-fluid border shadow-sm bg-white">

  <div class="row py-3">
    <div class="col-6 ">
      <div class="module-name">
        <h5>USERS</h5>
      </div>
    </div>
    <div class="col-6 text-right">
      <button type="button" class="btn btn-classic  btn-sm" (click)="open(newUser)"><i class="fas fa-plus"></i>
        New User</button>
    </div>
  </div>


  <div class=" bg-light  border border-top-brown rounded p-1 my-3">

    <div class="row mb-3">
     

      <div class="col-4">
        <input type="text" class="form-control-sm form-radius" placeholder="Search">
      </div>

    </div>


    <div class="scroll-x scroll-style-2 bg-white border userItems">

      <div>

        <div class="itemInfo itemInfoHeader px-2 py-1 text-right mr-3">
          <span class="itemInfoName">Name / Email</span>
          <span class="text-left w100"> Access</span>
          <span class="text-left w100">Group</span>
          <span class="text-right w100"> target amount year</span>
    
          
          <span>Leads</span>
          <span>Opportunities</span>
          <span>Quotes</span>
          <span class="text-right"> discount</span>
          <span><strong> Status </strong> </span>
        </div>
      </div>

      <ul>
        <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: items }"></ng-container>
      </ul>

      <ng-template #recursiveListTmpl let-items>
        <li *ngFor="let item of items" class="border-top py-1">
          <div class="name">
            <a [routerLink]="[ '/user/',item.id]"> <b> {{item.name}} </b></a>
            <div>{{item.email}}</div>
          </div>
          <div class="  itemInfo p-2 text-right mr-3">


            <span class="text-left w100">{{item.user_access.name}}</span>
            <span class="text-left w100">{{item.user_group.name}}</span>
            <span class="text-right w100"> {{item.currency}} {{item.target_amount_year | number}}</span>
 

            <span>{{item.target_leads | number}}</span>
            <span>{{item.target_opportunities | number}}</span>
            <span>{{item.target_quotes | number}}</span>
            <span class="text-right">{{item.max_discount}} %</span>
            <span><strong> {{item.status}} </strong> </span>
          </div>


          <ul *ngIf="item.child.length > 0">
            <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: item.child }"></ng-container>
          </ul>
        </li>
      </ng-template>
    </div>










  </div>

</div>



<ng-template #markUpdate let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">{{modalTitle}}</strong>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-white">

    <div [hidden]="!itemsSelected.length">
      <div class="form-group row">
        <div class="col-3">
          <div class="text-danger">
            Delete selected Contact ?
          </div>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-classic btn-sm" (click)="fn_delete();">Yes</button>
          <button type="button" class="btn btn-classic btn-sm" (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
      </div>
      <table class="table border table-hover  table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>ID</th>
            <th>Contact</th>
            <th>Company</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let x of itemsSelected; let i = index">
            <td>{{ i + 1}}</td>
            <td>{{x.id}}</td>
            <td>{{x.name}}</td>
            <td>{{x.company}}</td>
            <th> <a href="javascript:;" (click)="fn_removeItemSelected(x)"><i class="fas fa-times"></i></a> </th>
          </tr>
        </tbody>


      </table>
    </div>
    <div [hidden]="itemsSelected.length">
      <div class="text-center">
        Empty data.
      </div>
    </div>

  </div>

</ng-template>


<ng-template #newUser let-modal>
  <form (ngSubmit)="fn_insert()" #modalForm="ngForm">
    <div class="modal-header">
      <strong class="modal-title" id="modal-basic-title">Create New User</strong>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-white">

      <table class="table table-borderless">



        <tr>
          <td>Parent User</td>
          <td>
            <select class="form-control form-modal" [(ngModel)]="model.id_parent" id="firstid_parent_name"
              name="id_parent">
              <option> - </option>
              <option value="{{x.id}}" *ngFor="let x of items"> {{x.name}} </option>
            </select>

          </td>
        </tr>

        <tr>
          <td width="40%">First Name</td>
          <td>
            <input type="text" class="form-control form-modal" [(ngModel)]="model.first_name" id="first_name"
              name="first_name" #first_name="ngModel" required>
            <div [hidden]="first_name.valid || first_name.pristine" class="alert alert-danger">First Name is required
            </div>
          </td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>
            <input type="text" class="form-control form-modal" [(ngModel)]="model.last_name" id="last_name"
              name="last_name" #last_name="ngModel">
            <div [hidden]="last_name.valid || last_name.pristine" class="alert alert-danger">Last Name is required</div>
          </td>
        </tr>

        <tr>
          <td>Email</td>
          <td>
            <input type="email" class="form-control form-modal" [(ngModel)]="model.email" id="email" name="email"
              #email="ngModel" required [email]="true">
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
              Email is required</div>

          </td>
        </tr>

        <tr>
          <td>Password</td>
          <td>
            <input type="password" class="form-control form-modal" [(ngModel)]="model.password" id="password"
              name="password" required>

          </td>
        </tr>
      </table> 
    </div>

    <div class="modal-footer">

      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>

      <button type="submit" class="btn btn-primary" [disabled]="!modalForm.form.valid">Submit</button>
    </div>
  </form>

</ng-template>