<div class="container p-3">
        <div class="card relogin-card mx-auto">
            <div class="card-body text-center p-5">
                <div class="text-warning mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                      <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                    </svg>
                </div>
                
                <h3 class="card-title h4 font-weight-bold text-dark mb-2">Please Re-login</h3>
                <p class="card-text text-muted mb-4">You have been logged out or your automatic session has expired. Please log back in.</p>
                
                <button  (click)="relogin()" class="btn btn-primary btn-block btn-lg font-weight-bold shadow-sm">
                    Relogin
                </button> 
            </div>
        </div>
    </div>
