<ngx-loading [show]="loading"></ngx-loading>
<app-navigator></app-navigator>

<div class="container-fluid bg-light border-bottom py-1">
  <div class="row">
    <div class="col-12">
      <small> You are here : <a [routerLink]="[ '/dashboard' ]">Dashboard</a> </small>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-2 border"> 
      New Lead Today 
      
    </div>
    <div class="col-4 border"> 
      Funnel 
    </div>
    <div class="col-3 border"> 
      Leads per distribution per quarter
      <canvas class="leadPerDistribution" id="leadPerDistribution" width="300" height="300"></canvas> 
    </div>
 
    <div class="col-3 border"> 
      Leads per industry per quarter 
      <canvas class="leadPerIndustry" id="leadPerIndustry" width="300" height="300"></canvas> 
    </div>

 

    <div class="col-4 border">
      Top 5 Recent Wins
    </div>

    <div class="col-4 border">
      Top 10 Recent Quotation on Process
    </div>

    <div class="col-4 border">
      Must Event Next Month
    </div>

    <div class="col-4 border">
      Must Visit Next Month
    </div>

  </div>
</div>
