<ngx-loading [show]="loading"></ngx-loading>

<app-navigator></app-navigator>
<div class="container-fluid bg-light border-bottom py-1">
  <div class="row">
    <div class="col-6">
      <small> You are here : <a [routerLink]="[ '/priceList' ]">Price List</a> </small>
    </div>
  </div>
</div>


<div class="container-fluid">

  <div class="container-header">
    <div class="row ">
      <div class="col-6">
        <h5>PRICE LIST</h5>
      </div>
      <div class="col-6 text-right">
        <a href=""><i class="fas fa-print"></i> Prints</a>
      </div>
    </div>
  </div>

  <div class=" bg-light  border border-top-brown rounded p-1">
    <div class="row my-2 ">
      <div class="col-8">
        <button type="button" class="btn btn-classic  btn-sm" (click)="modal_newpricelist(newpricelist)"><i
            class="fas fa-plus"></i>
          New Price List</button>
      </div>

      <div class="col-4 text-right">
        <input type="text" class="form-control-sm form-radius" placeholder="Search">
      </div>
    </div>

    <div class="scroll-x max-height">

      <table class="table table-hover border bg-white border-top border-bottom pointer">
        <thead class="thead-light">
          <tr>
            <th width="50">No</th>
            <th scope="col">Price List Name</th>
            <th>Currency</th>
            <th scope="col">Created Date</th>
            <th scope="col">Created By</th>

            <th scope="col">Status</th>
            <th width="50"></th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of items;let i = index;" class="{{ x.status == 'Disable' ? 'text-info' : false }}">
            <td> {{i+1}} </td>

            <td> <a [routerLink]="[ '/priceList/',x.id]"> {{x.name}}</a> </td>
            <td> IDR </td>

            <td> {{x.input_date | date}} </td>
            <td> {{x.input_by}} </td>

            <td> {{x.status ? 'Enable': 'Disable'}} </td>
            <td> <i class="far fa-trash-alt"></i> </td>
          </tr>
        </tbody>
      </table>



    </div>


  </div>


</div>

<ng-template #newpricelist let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">New Price List</strong>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-light">

    <form (ngSubmit)="onSubmit()" #myForm="ngForm">
      <div class="row">

        <div class="col-12">

          <div class="form-group row no-gutters">
            <label for="h1" class="col-3 col-form-label"> Name of Price List</label>
            <div class="col-sm-8"> 
              <input type="text" class="form-control border" [(ngModel)]="model.name" name="name"
                #name="ngModel" id="h1" required>
              <small [hidden]="name.valid || name.pristine" class="text-danger"> Name is  required</small>
            </div>

          </div>
          <div class="form-group row no-gutters">
            <label for="h2" class="col-sm-3 col-form-label"> Currency</label>
            <div class="col-sm-8">
              <select class="form-control border"  [(ngModel)]="model.id_currency" name="id_currency">
                <option value=1>IDR (Rupiah)</option>
              </select>
            </div>
          </div>


          <div class="form-group row no-gutters">
            <label for="h3" class="col-sm-3 col-form-label">Description</label>
            <div class="col-sm-8">
              <textarea class="form-control border" id="h3" [(ngModel)]="model.description" name="description" ></textarea>
            </div>
          </div>

          <div class="form-group row no-gutters">
            <label for="h4" class="col-sm-3 col-form-label">Status</label>
            <div class="col-sm-8">
              <select class="form-control border"  [(ngModel)]="model.status" name="status">
                <option value="1">Enable</option>
                <option value="0">Disable</option>
              </select>
            </div>
          </div>

        </div>

{{model |  json}}

      </div>



    </form>

  </div>
  <div class="modal-footer">
    <span [hidden]="!submit">Saving, Please wait...</span>
    <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')">Cancel</button>
    <button type="submit" class="btn btn-outline-primary" (click)="onSubmit('next');"
      [disabled]="!myForm.form.valid">Save</button>
    <button type="submit" class="btn btn-primary" (click)="onSubmit();" [disabled]="!myForm.form.valid">Save &
      Go To price list product</button>
  </div>
</ng-template>