<ngx-loading [show]="loading"></ngx-loading>

<app-navigator></app-navigator>

<div class="container-fluid bg-light border-bottom py-1">
    <div class="row">
        <div class="col-12">
            <small> You are here : <a [routerLink]="[ '/lead' ]">Leads</a> /
                <a [routerLink]="[ '/lead/converted/']"> Conversion </a> / <a [routerLink]="[ '/lead/converted/',id ]">
                    {{items.contact.name}} </a> </small>
        </div>
    </div>

</div>




<div class="container">

    <div class="row">
        <div class="col-12 py-4 mb-3 text-center">
            <h4>Lead Conversion</h4>
            <strong>Converted Date : {{items.input_date | date:'medium'}}</strong>
        </div> 



        <div class="col-12 mb-5">
            <small>History</small>
            <h5>  Lead </h5> 
            <div class="border p-3  shadow-sm"> 
                <div><a [routerLink]="[ '/lead/converted/history/', items.contact.id ]"> <i class="far fa-address-card"></i>   {{items.lead.name}}</a></div>
          
            </div> 

        </div>


        <div class="col-12">
            <small>Convert</small>
        </div>
        
        <div class="col-4  mb-4">
            <h5>  Contact</h5> 
            <div class="border p-3 bg-light shadow-sm"> 
                <div><a [routerLink]="[ '/contact', items.contact.id ]"> <i class="far fa-user"></i>   {{items.contact.name}}</a></div>
          
            </div> 
        </div>

        <div class="col-4  mb-4">
            <h5>  Company</h5> 
            <div class="border p-3 bg-light shadow-sm"> 
                <div> <a [routerLink]="[ '/company', items.company.id ]"> <i class="far fa-building"></i>  {{items.company.name}}</a></div>
            </div>
        </div>

        <div class="col-4  mb-4">
            <h5>  Opportunity</h5> 
            <div class="border p-3 bg-light shadow-sm"> 
                <div>  <a [routerLink]="[ '/opportunity', items.opportunity.id ]"><i class="far fa-flag"></i> {{items.opportunity.name}}</a></div>
            </div>
        </div>

    </div>
</div>