<form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <div class="modal-header">
        <strong class="modal-title" id="modal-basic-title">New Contact</strong>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body bg-light">
 
        <div class="row">

            <div class="col-6">

                <div class="form-group row no-gutters">
                    <label for="h1" class="col-4 col-form-label"> First Name </label>
                    <div class="col-2">
                        <select class="form-control border" id="h14" [(ngModel)]="modelContact.id_title"
                            name="id_title"> 
                            <option [ngValue]="x.id" *ngFor="let x of title">{{x.name}}</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control border" id="h1" required
                            [(ngModel)]="modelContact.first_name" name="first_name" #first_name="ngModel">

                        <small [hidden]="first_name.valid || first_name.pristine" class="text-danger"> First name is
                            required</small>
                    </div>
                </div>

                <div class="form-group row no-gutters">
                    <label for="h2" class="col-sm-4 col-form-label"> Last Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control border" id="h2" [(ngModel)]="modelContact.last_name"
                            name="last_name">
                    </div>
                </div>

                <div class="form-group row no-gutters">
                    <label for="h3" class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control border" id="h3" [(ngModel)]="modelContact.email"
                            name="email">
                    </div>
                </div>

                <div class="form-group row no-gutters">
                    <label for="h110" class="col-sm-4 col-form-label">Mobile</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control border" id="h110" [(ngModel)]="modelContact.mobile"
                            name="mobile">
                    </div>
                </div>

                <div class="form-group row no-gutters">
                    <label for="h4" class="col-sm-4 col-form-label">Phone</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control border" id="h4" [(ngModel)]="modelContact.phone"
                            name="phone">
                    </div>
                </div>

            </div>

            <div class="col-6">
                <div class="form-group row no-gutters">
                    <label for="hb2" class="col-sm-4 col-form-label">Position</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control border" id="hb2" [(ngModel)]="modelContact.position"
                            name="position">
                    </div>
                </div>


                <div class="form-group row no-gutters">
                    <label for="ha1" class="col-sm-4 col-form-label">Department</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control border" id="ha1" [(ngModel)]="modelContact.department"
                            name="department">
                    </div>
                </div>


                <div class="form-group row no-gutters">
                    <label for="h4" class="col-sm-4 col-form-label">Lead source </label>
                    <div class="col-sm-8">
                        <select class="form-control border"    #id_lead_source="ngModel" id="h14" [(ngModel)]="modelContact.id_lead_source"  name="id_lead_source" required  > 
                            <option [ngValue]="x.id" *ngFor="let x of lead_source">{{x.name}}</option>
                        </select>

                        <small [hidden]="id_lead_source.valid || id_lead_source.pristine" class="text-danger"> Lead Source is
                            required</small>
                    </div>
                </div>

                <div class="form-group row no-gutters">
                    <label for="h4" class="col-sm-4 col-form-label"> Own by </label>
                    <div class="col-sm-8">
                        <select class="form-control border" [(ngModel)]="modelContact.id_user" name="id_user"
                            #id_user="ngModel" required>

                            <option [ngValue]="x.id" *ngFor="let x of user">{{x.name}}</option>
                        </select>

                        <small [hidden]="id_user.valid || id_user.pristine" class="text-danger"> Contact owner is
                            required</small>
                    </div>
                </div>

                <div class="form-group row no-gutters ">
                    <label for="h4" class="col-sm-4 col-form-label"> Company </label>
                    <div class="col-sm-8 ">
                        <select class="form-control border" [(ngModel)]="modelContact.id_company" name="id_company">
                            <option [ngValue]="x.id" *ngFor="let x of company">{{x.name}}</option>
                        </select>
                        <a href="javascript:;" (click)="modelContact.id_company = 0;"><small> Remove </small> </a>
                    </div>
                </div>
            </div>


        </div>
        
    </div> 

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="close()">Cancel</button>
        <button type="submit" class="btn btn-primary m-1"  
            [disabled]="!myForm.form.valid">Save & Go Detail</button>
    </div>

</form>