<ngx-loading [show]="loading"></ngx-loading>
<app-navigator></app-navigator>


<div class="container-fluid bg-light border py-1">
  <div class="row">
    <div class="col-12">
      <small> You are here : <a [routerLink]="[ '/deal' ]">Deals</a> </small>
    </div>
  </div>
</div>


<div class="container-fluid  bg-white pb-3">

  <div class="container-header">
    <div class="row">

      <div class="col-12">
        <div class="module-name">
          <h5>DEALS</h5>
        </div>
      </div>

    </div>
  </div>

  <div class=" bg-light  border border-top-brown rounded p-1">

    <table id="dtable" class="table table-hover border bg-white border-top border-bottom pointer" style="width:100%">
      <thead class="thead-light">
        <tr>
          <th>ID</th> 
          <th scope="col">Opportunity Name</th>
          <th scope="col" class="select-filter">Company</th>
 
          <th scope="col" class="">Amount</th> 
          <th scope="col">Close Date</th>
          <th scope="col" class="select-filter">Account Manager</th>
         
        </tr>
      </thead>

      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th> 

          <th></th> 
          <th></th> 
          <th></th> 
 
        </tr>
      </tfoot>
      
    </table>


  </div>

</div>



<ng-template #markUpdate let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">Delete Opportunity</strong>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-white">

    <div [hidden]="!itemsSelected.length">
      <div class="form-group row">
        <div class="col-3">
          <div class="text-danger">
            Delete selected Opportunity ?
          </div>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-classic btn-sm mx-1" (click)="fn_delete();">Yes</button>

          <button type="button" class="btn btn-classic btn-sm mx-1"
            (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
      </div>
      <table class="table border table-hover  table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name Opportunity</th>
            <th>Company</th>
            <th>Contact</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let x of itemsSelected; let i = index">
            <td>{{ i + 1}}</td>
            <td>{{x.name}}</td>
            <td>{{x.company}}</td>
            <td>{{x.contact}}</td>
            <th> <a href="javascript:;" (click)="fn_removeItemSelected(x)"><i class="fas fa-times"></i></a> </th>
          </tr>
        </tbody>


      </table>
    </div>
    <div [hidden]="itemsSelected.length">
      <div class="text-center">
        Empty data.
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-classic btn-sm" (click)="modal.dismiss('Cross click')">Cancel</button>
  </div>
</ng-template>