<ngx-loading [show]="loading"></ngx-loading>
<app-navigator></app-navigator>


<div class="container-fluid bg-light border py-1">
  <div class="row">
    <div class="col-12">
      <small> You are here : <a [routerLink]="[ '/deal' ]">Deals</a> </small>
    </div>
  </div>
</div>


<div class="container-fluid  bg-white pb-3">

  <div class="container-header">
    <div class="row">

      <div class="col-12">
        <div class="module-name">
          <h5>DEALS</h5>
        </div>
      </div>

    </div>
  </div>

  <div class=" bg-light  border border-top-brown rounded p-1">

    <div class="row mb-3">
      <div class="col-8">

        <span class="dropdown">
          <button class="btn btn-classic btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cog"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="open(markUpdate)"> Mart to delete</a>

          </div>
        </span>

        <label class="pl-2">Total Count : {{total}} </label>
      </div>

      <div class="col-4 text-right">
        <input type="text" class="form-control-sm form-radius" placeholder="Search">
      </div>

    </div>

    <div class="scroll-x max-height">

      <table class="table table-hover border bg-white border-top border-bottom pointer">
        <thead class="thead-light">
          <tr>
            <th>No</th>
            <th></th>

            <th scope="col">Opportunity Name</th>
            <th scope="col">Company</th>
            <th scope="col" class="text-right" colspan="2">Amount</th>

            <th scope="col">Closed Date</th>
            <th scope="col">Account Manager</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of items; let i = index" (click)="fn_check(x);">
            <td width="50"> {{ i + 1}} </td>
            <td width="50"> <span class="text-primary ">
                <i class=" {{ x.check ? 'fas fa-check-square' : 'far fa-square' }}"></i> </span>
            </td>

            <td><a [routerLink]="[ '/deal/',x.id]"><b> {{x.name}} </b> </a></td>
            <td> {{x.company}} </td>
            <td width="50">{{x.currency}}</td>
            <td class="text-right">{{x.amount | number:''}},-</td>
            <td>{{x.closed_date | date }}</td>
            <td>{{x.user}}</td>

          </tr>

        </tbody>

      </table>

    </div>


  </div>

</div>



<ng-template #markUpdate let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">Delete Opportunity</strong>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-white">

    <div [hidden]="!itemsSelected.length">
      <div class="form-group row">
        <div class="col-3">
          <div class="text-danger">
            Delete selected Opportunity ?
          </div>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-classic btn-sm mx-1" (click)="fn_delete();">Yes</button>

          <button type="button" class="btn btn-classic btn-sm mx-1"
            (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
      </div>
      <table class="table border table-hover  table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name Opportunity</th>
            <th>Company</th>
            <th>Contact</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let x of itemsSelected; let i = index">
            <td>{{ i + 1}}</td>
            <td>{{x.name}}</td>
            <td>{{x.company}}</td>
            <td>{{x.contact}}</td>
            <th> <a href="javascript:;" (click)="fn_removeItemSelected(x)"><i class="fas fa-times"></i></a> </th>
          </tr>
        </tbody>


      </table>
    </div>
    <div [hidden]="itemsSelected.length">
      <div class="text-center">
        Empty data.
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-classic btn-sm" (click)="modal.dismiss('Cross click')">Cancel</button>
  </div>
</ng-template>